openapi: 3.0.3
info:
  title: PerfMonitor Infrastructure API
  description: >
    # Performance Monitor Infrastructure API for MCP Servers


    This comprehensive API provides advanced network performance monitoring
    capabilities specifically optimized for MCP (Model Context Protocol) servers
    and automated monitoring systems.

    The API enables sophisticated monitoring of device health, performance
    metrics, and network analytics across various network components with
    intelligent automation support.


    ## MCP Server Integration Features

    - **Automated Performance Monitoring**: Continuous collection and analysis
    of network performance metrics

    - **Intelligent Alerting**: AI-driven anomaly detection and automated alert
    generation

    - **Time-Series Analytics**: Advanced time-series data processing for trend
    analysis and forecasting

    - **Real-time Health Monitoring**: Live device health status tracking with
    automated response capabilities

    - **Scalable Data Collection**: High-performance metric collection
    supporting thousands of devices

    - **Integration-Ready**: Designed for seamless integration with monitoring
    platforms and automation tools


    ## Key Features

    - **Application Discovery**: List supported monitoring applications and
    their capabilities

    - **Metric Collection**: Retrieve time-series performance data from network
    devices with advanced filtering

    - **Device Health Analytics**: Monitor device health status and performance
    indicators with trend analysis

    - **Flexible Filtering**: Advanced filtering and pagination optimized for
    large-scale monitoring deployments

    - **Real-time Data**: Access to current and historical performance metrics
    with microsecond precision

    - **Bulk Operations**: Efficient batch processing for monitoring large
    network infrastructures


    ## MCP Use Cases

    - **Infrastructure Monitoring**: Automated monitoring of switches, routers,
    and network devices

    - **Performance Optimization**: AI-driven performance analysis and
    optimization recommendations

    - **Capacity Planning**: Predictive analytics for network capacity planning
    and resource allocation

    - **Anomaly Detection**: Machine learning-based anomaly detection for
    proactive issue identification

    - **Compliance Monitoring**: Automated compliance tracking for SLA and
    performance requirements

    - **Integration Workflows**: Seamless integration with ITSM, SIEM, and
    automation platforms


    ## Supported Applications

    Currently supports monitoring for:

    - **Network Infrastructure**: Switches, routers, and network devices with
    full SNMP and telemetry support

    - **Device Stats**: CPU, memory, temperature, and power metrics with
    threshold monitoring

    - **Interface Stats**: Port utilization, errors, and performance data with
    trend analysis

    - **Wireless Stats**: Wireless device and interface monitoring with RF
    analytics

    - **Health Analytics**: Comprehensive device health scoring and predictive
    maintenance

    - **Usage Capacity Analytics**: Comprehensive usage and capacity monitoring
    across network infrastructure


    ## Data Formats

    All timestamps use ISO 8601 UTC format (e.g., "2024-08-26T19:00:00Z").

    Pagination is supported across all list operations for efficient data
    retrieval.

    Time-series data includes microsecond precision for high-frequency
    monitoring.


    ## Authentication

    This API requires proper authentication and authorization. Contact your
    system administrator for access credentials.
  contact:
    name: Extreme Networks Support
    url: https://www.extremenetworks.com/support
    email: support@extremenetworks.com
  license:
    name: Apache License 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  version: 25.11.0
  x-mcp-server-optimized: true
  x-mcp-capabilities:
    time-series-data: true
    real-time-monitoring: true
    device-health-analytics: true
    metric-aggregation: true
    performance-trending: true
    automated-alerting: true
  x-mcp-use-cases:
    - network-performance-monitoring
    - device-health-tracking
    - capacity-planning
    - anomaly-detection
    - performance-analytics
    - infrastructure-optimization
  x-mcp-performance:
    supports-pagination: true
    supports-time-filtering: true
    supports-bulk-queries: true
    max-time-range-days: 30
    recommended-page-size: 1000
  x-mcp-integration-patterns:
    time-series-collection: true
    event-driven-alerting: true
    dashboard-integration: true
    automated-reporting: true
  x-ai-discovery-workflow:
    description: |
      Recommended step-by-step flow for an AI agent or MCP server to discover
      and query metrics without any prior knowledge of field names.
    steps:
      - step: 1
        action: GET /metric-schema
        description: Fetch the full metric registry in a single call. Returns every
          metric group, sub-metric, field name, type, and unit. Use this to
          build a complete picture of what data is available before constructing
          queries.
      - step: 2
        action: POST /metric-data
        description: Request metric data for the desired groups and devices. Each
          response row includes a capabilityRef URL you can use to re-fetch
          field definitions for that specific sub-metric at any time.
      - step: 3
        action: GET {capabilityRef}
        description: Follow the capabilityRef from any /metric-data response row to
          retrieve the exact field names, types, and units for that sub-metric.
servers:
  - url: https://cloudapi.extremecloudiq.com/pm/v1
    description: Extreme Platform ONE REST API - Performance Monitoring
tags:
  - name: application management
    description: >
      Operations for discovering and managing supported monitoring applications.

      Use these endpoints to understand what applications and monitoring
      capabilities are available.
  - name: metric capabilities
    description: >
      Operations for retrieving metric capabilities of specific applications.

      These endpoints help you understand what types of metrics can be collected
      from each application.
  - name: Metric Data
    description: >
      Operations for retrieving historical and real-time metric data from
      monitored devices.

      Supports flexible time ranges, filtering, and pagination for efficient
      data access.
  - name: Device health data
    description: |
      Operations for accessing device health analytics and status information.
      Provides comprehensive health monitoring across network infrastructure.
  - name: Usage capacity data
    description: >
      Operations for accessing usage and capacity analytics and status
      information.

      Provides comprehensive usage and capacity monitoring across network
      infrastructure.
  - name: Client health data
    description: >
      Operations for accessing client health analytics, real-time status, and
      historical

      health stats time-series data. Supports proactive monitoring, trending,
      and

      automated alerting for wired and wireless network clients.
paths:
  /applications:
    get:
      tags:
        - application management
      summary: Discover Supported Monitoring Applications for MCP Integration
      description: >
        **Application Discovery for MCP Servers**


        Retrieves a comprehensive list of monitoring applications supported by
        the performance monitoring service,

        specifically designed for MCP (Model Context Protocol) servers and
        automated monitoring systems.

        This endpoint provides the foundation for understanding available
        monitoring capabilities and building

        intelligent monitoring automation.


        **MCP Server Features:**

        - **Dynamic Application Discovery**: Programmatically discover available
        monitoring applications and their capabilities

        - **Capability Validation**: Validate application support before
        implementing automated monitoring workflows

        - **Configuration Automation**: Enable dynamic configuration of
        monitoring systems based on available applications

        - **Integration Planning**: Understand monitoring scope for automated
        infrastructure management


        **Use Cases for MCP Servers:**

        - **Monitoring System Bootstrap**: Initialize automated monitoring
        systems with available application discovery

        - **Dynamic UI Generation**: Build adaptive monitoring interfaces based
        on supported applications

        - **Workflow Automation**: Configure automated monitoring workflows
        based on application capabilities

        - **Integration Validation**: Verify application support before
        deploying monitoring automation

        - **Capability Assessment**: Assess monitoring coverage for
        infrastructure automation planning


        **Response Details:**

        Returns an array of application objects optimized for programmatic
        consumption:

        - Application name identifiers for API integration

        - Detailed capability descriptions for automation planning

        - Metadata for building intelligent monitoring workflows


        **Performance Considerations:**

        - Response is lightweight and cacheable for frequent access

        - Ideal for caching in MCP server initialization workflows

        - Minimal latency for real-time application discovery
      operationId: GetApplications
      x-mcp-operation-type: discovery
      x-mcp-automation-friendly: true
      x-mcp-caching-recommended: true
      x-mcp-use-cases:
        - application-discovery
        - capability-validation
        - dynamic-configuration
      responses:
        "200":
          description: >
            Successfully retrieved the list of supported applications.

            The response contains an array of application objects with their
            names and descriptions.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApplicationResponses"
              examples:
                successful_response:
                  summary: Standard response with supported applications
                  value:
                    - name: network
                      description: Network infrastructure monitoring application supporting switches,
                        routers, and network devices
        "500":
          description: Internal server error occurred while retrieving applications
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
  /metric-capabilities:
    get:
      tags:
        - metric capabilities
      operationId: GetMetricCapabilities
      x-mcp-operation-type: capability-discovery
      x-mcp-automation-friendly: true
      x-mcp-metadata-rich: true
      x-mcp-use-cases:
        - metric-planning
        - monitoring-scope-analysis
        - automation-configuration
      summary: Advanced Metric Capability Discovery for MCP Servers
      description: >
        **Metric Capability Analysis for MCP Servers**


        Returns comprehensive information about metric collection capabilities
        for specific applications,

        designed for MCP (Model Context Protocol) servers implementing
        intelligent monitoring automation.

        This endpoint provides rich metadata essential for planning automated
        monitoring strategies and

        building sophisticated performance analytics workflows.


        **MCP Server Features:**

        - **Comprehensive Metric Discovery**: Detailed capability analysis for
        automated monitoring planning

        - **Intelligent Scope Planning**: Rich metadata for building optimized
        monitoring strategies

        - **Automation Configuration**: Detailed metric group information for
        automated collector configuration

        - **Performance Planning**: Capability information for building
        high-performance monitoring systems


        **Use Cases for MCP Servers:**

        - **Monitoring Strategy Planning**: Analyze available metrics for
        comprehensive monitoring automation

        - **Collector Configuration**: Configure automated metric collectors
        based on available capabilities

        - **Performance Analytics Setup**: Plan time-series analytics based on
        available metric groups

        - **Resource Planning**: Understand metric collection scope for
        infrastructure capacity planning

        - **Integration Validation**: Verify metric availability before
        implementing monitoring workflows

        - **Dynamic Monitoring**: Build adaptive monitoring systems based on
        runtime capability discovery


        **Enhanced Metric Groups for Automation:**

        - **device stats**: CPU, memory, temperature, fan, PSU metrics with
        threshold and trend analysis. Also contains converted legacy wireless
        device data (cpu_stats, memory_stats from hm-device-stats).

        - **interface stats**: Port utilization, errors, throughput data with
        performance baselining

        - **interface ext1 stats**: Additional port stats

        - **vlan stats**: VLAN-specific performance metrics with traffic
        analysis capabilities

        - **poe stats**: Power over Ethernet monitoring with power budgeting and
        efficiency tracking

        - **wireless interface stats**: Wireless interface performance with RF
        analytics and optimization. Also contains converted legacy data
        (wireless_network_stats and wireless_rf_stats from hm-interface-usage,
        wireless_client_stats from hm-client-metrics) marked with
        is_legacy=true.

        - **wireless device stats**: Wireless device health with predictive
        maintenance capabilities

        - **queue stats**: Ethernet queue specific performance metrics with
        traffic analysis capabilities

        - **protocol stats**: Protocol-related stats

        - **legacy wireless client app usage stats**: Legacy wireless client
        application usage metrics

        - **legacy wireless client monitor problem stats**: Legacy wireless
        client connectivity problem tracking

        - **legacy wireless device reboot stats**: Legacy wireless device reboot
        event tracking

        - **legacy wireless wifi stats**: Legacy wireless WiFi radio and client
        statistics

        - **legacy wireless device stats**: *Converted* — data is stored in
        `device stats` (cpu stats, memory stats). Query `device stats` instead.

        - **legacy wireless interface usage stats**: *Converted* — data is
        stored in `wireless interface stats` (wireless rf stats, wireless
        network stats). Query `wireless interface stats` instead.

        - **legacy wireless client metrics stats**: *Converted* — data is stored
        in `wireless interface stats` (wireless client stats). Query `wireless
        interface stats` instead.

        - **historical client session stats**: Historical client session stats


        **Automation Benefits:**

        - Rich capability metadata for intelligent monitoring automation

        - Performance characteristics for optimal data collection planning

        - Integration guidance for building efficient monitoring workflows
      parameters:
        - name: application
          in: query
          description: >
            The name of the application for which to retrieve metric
            capabilities.

            Must be one of the supported application names returned by the
            /applications endpoint.

            Currently only 'network' is supported.
          required: true
          schema:
            type: string
            enum:
              - network
            example: network
          examples:
            network_app:
              summary: Network application
              value: network
              description: Retrieve capabilities for network infrastructure monitoring
        - name: detail
          in: query
          description: >
            Controls the level of detail returned in the response.

            - **summary** (default): Returns metric group names and descriptions
            only (backward compatible)

            - **full**: Returns complete field-level metadata including field
            names, types, units, descriptions, supported filters, and example
            request payloads for each metric group
          required: false
          schema:
            type: string
            enum:
              - summary
              - full
            default: summary
            example: full
      responses:
        "200":
          description: >
            Successfully retrieved metric capabilities for the specified
            application.

            Returns an array of metric capability objects containing detailed
            information about

            available metric groups and their descriptions.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/MetricCapabilityResponses"
              examples:
                network_capabilities:
                  summary: Network application capabilities
                  value:
                    - application: network
                      metricGroupsInfo:
                        - name: device stats
                          description: Device-level performance metrics including CPU, memory, temperature
                        - name: interface stats
                          description: Network interface statistics including utilization and errors
                        - name: interface ext1 stats
                          description: Network interface statistics including utilization and errors
                        - name: vlan stats
                          description: VLAN-specific performance and utilization metrics
                        - name: queue stats
                          description: Ethernet interface queue statistics
                        - name: legacy wireless client app usage stats
                          description: Legacy wireless client app usage stats
                        - name: legacy wireless client metrics stats
                          description: Legacy wireless client metrics stats
                        - name: legacy wireless client monitor problem stats
                          description: Legacy wireless client monitor problem stats
                        - name: legacy wireless device reboot stats
                          description: Legacy wireless device reboot stats
                        - name: legacy wireless device stats
                          description: Legacy wireless device stats
                        - name: legacy wireless interface usage stats
                          description: Legacy wireless interface usage stats
                        - name: legacy wireless wifi stats
                          description: Legacy wireless wifi stats
                        - name: protocol stats
                          description: protocol performance metrics including lldp nbr port, elrp, route
                            summary, isis stats
                        - name: historical client session stats
                          description: Historical wireless client session records including client
                            identity, network associations, health scores, and
                            session lifecycle data
        "400":
          description: >
            Bad request - invalid application name provided.

            The application parameter is required and must be one of the
            supported values.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
              examples:
                invalid_application:
                  summary: Invalid application parameter
                  value:
                    code: 1701
                    message: "Invalid application name. Supported applications: network"
        "404":
          description: >
            Application not found - the specified application is not supported
            or does not exist.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
              examples:
                application_not_found:
                  summary: Application not supported
                  value:
                    code: 1307
                    message: Application 'invalid_app' is not supported
        "409":
          description: >
            Validation conflict - the application name conflicts with system
            requirements.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
              examples:
                validation_conflict:
                  summary: Application validation conflict
                  value:
                    code: 1002
                    message: "The application name 'test' is not supported. Please provide a valid
                      application name. Valid application is: network"
        "500":
          description: Internal server error occurred while retrieving metric capabilities
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
  /metric-schema:
    get:
      tags:
        - metric capabilities
      operationId: GetMetricSchema
      x-mcp-operation-type: schema-discovery
      x-mcp-automation-friendly: true
      summary: Get the complete metric capability schema for all groups
      description: >
        Returns the full metric registry in a single call — all metric groups,
        sub-metrics,

        field names, types, units, supported filters, and example requests.


        **This is the recommended first call for any AI agent or automation
        system**

        that needs to understand what data is available before constructing
        `/metric-data`

        requests. No parameters are required.


        The response is keyed by metric group name (e.g. `"device stats"`,
        `"interface stats"`)

        and each entry contains the same structure as
        `/metric-capabilities/{metricGroup}`.
      responses:
        "200":
          description: Successfully retrieved the complete metric capability schema.
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  $ref: "#/components/schemas/MetricCapabilityDetailedResponse"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
  /metric-capabilities/{metricGroup}:
    get:
      tags:
        - metric capabilities
      operationId: GetMetricCapabilityDetail
      x-mcp-operation-type: capability-detail
      x-mcp-automation-friendly: true
      summary: Get detailed metric capability for a specific metric group
      description: >
        Returns full field-level metadata for a single metric group, including
        all available

        fields with their names, types, units, and descriptions, plus supported
        filters and

        an example request payload.


        **Use Case:** After discovering available metric groups via
        `/metric-capabilities`,

        use this endpoint to get the complete schema for a specific group before
        constructing

        a `/metric-data` request.
      parameters:
        - name: metricGroup
          in: path
          description: |
            The metric group name to retrieve detailed capabilities for.
            Must be URL-encoded if it contains spaces (e.g., "device%20stats").
          required: true
          schema:
            type: string
            example: device stats
        - name: application
          in: query
          description: The application name. Currently only 'network' is supported.
          required: true
          schema:
            type: string
            enum:
              - network
            example: network
      responses:
        "200":
          description: Successfully retrieved detailed metric capability for the specified
            group.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MetricCapabilityDetailedResponse"
        "400":
          description: Bad request - invalid parameters
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
        "404":
          description: Metric group not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
  /metric-data:
    post:
      tags:
        - Metric Data
      operationId: RetrieveMetricData
      x-mcp-operation-type: time-series-query
      x-mcp-automation-friendly: true
      x-mcp-high-performance: true
      x-mcp-supports-bulk-queries: true
      x-mcp-real-time-capable: true
      x-mcp-time-series-optimized: true
      x-mcp-use-cases:
        - performance-monitoring
        - anomaly-detection
        - capacity-planning
        - trend-analysis
        - automated-alerting
      summary: Advanced Time-Series Metric Retrieval for MCP Servers
      description: >
        **High-Performance Time-Series Data Retrieval for MCP Servers**


        Retrieves comprehensive time-series metric data from monitored network
        devices with advanced filtering,

        intelligent pagination, and optimized time range processing. This
        primary data endpoint is specifically

        designed for MCP (Model Context Protocol) servers implementing
        sophisticated performance monitoring,

        analytics, and automated alerting systems.


        **MCP Server Features:**

        - **High-Performance Time-Series Processing**: Optimized queries for
        large-scale monitoring deployments

        - **Intelligent Data Sampling**: Configurable sampling rates for
        efficient data processing and storage

        - **Real-Time and Historical Analytics**: Support for both live
        monitoring and historical trend analysis

        - **Bulk Device Queries**: Efficient multi-device data retrieval for
        infrastructure-wide monitoring

        - **Automated Filtering**: Advanced pattern matching for interface and
        metric-specific data extraction

        - **Scalable Pagination**: Optimized pagination for processing massive
        datasets in monitoring workflows


        **Advanced Time-Series Capabilities:**

        - **Microsecond Precision**: High-resolution timestamps for precise
        performance analysis

        - **Multi-Dimensional Filtering**: Complex filtering across time,
        devices, interfaces, and metric types

        - **Adaptive Sampling**: Intelligent data sampling based on monitoring
        requirements and system load

        - **Stream Processing Ready**: Optimized for real-time stream processing
        and event-driven analytics

        - **Memory Efficient**: Optimized data structures for handling large
        time-series datasets


        **MCP Use Cases:**

        - **Automated Performance Monitoring**: Continuous monitoring with
        intelligent threshold detection

        - **Anomaly Detection Systems**: Time-series data for machine
        learning-based anomaly detection

        - **Capacity Planning Analytics**: Historical data analysis for
        predictive capacity planning

        - **Real-Time Alerting**: Live data feeds for immediate alert generation
        and response automation

        - **Trend Analysis Engines**: Long-term trend analysis for performance
        optimization and planning

        - **Integration Workflows**: Data feeds for ITSM, SIEM, and automation
        platform integration


        **Enhanced Time Range Options:**

        1. **Absolute Range**: Precise time windows for specific analysis
        periods with timezone support

        2. **Duration from Start**: Forward-looking analysis for performance
        trending and forecasting

        3. **Duration to End**: Backward-looking analysis for incident
        investigation and root cause analysis

        4. **Recent Data**: Real-time monitoring with configurable recent data
        windows

        5. **Latest Values**: Immediate access to current state for real-time
        dashboards and alerting

        6. **Sliding Windows**: Continuous monitoring with rolling time windows
        for trend detection


        **Intelligent Device Selection:**

        - **UUID-Based Identification**: Preferred method for consistent device
        tracking across system changes

        - **Flexible ID Mapping**: Support for internal IDs and serial numbers
        for legacy system integration

        - **Bulk Device Processing**: Efficient multi-device queries with
        optimized database access patterns

        - **Dynamic Device Lists**: Support for device lists based on tags,
        locations, or other criteria


        **Advanced Filtering Patterns:**

        - **Interface Pattern Matching**: Complex interface selection with regex
        and range support

        - **Metric-Specific Filtering**: Targeted metric collection for specific
        analysis requirements

        - **Performance Optimized**: Filter patterns optimized for
        high-performance data retrieval

        - **Hierarchical Filtering**: Support for device hierarchies and
        organizational structures
      requestBody:
        required: true
        description: >
          Request payload containing metric retrieval parameters.

          At minimum, specify applicationName and metricGroup.

          Time range parameters are optional - without them, returns recent
          data.
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MetricDataRequest"
            examples:
              basic_request:
                summary: Basic metric request for device stats
                value:
                  applicationName: network
                  metricGroup: device stats
                  customerID: 2
                  ownerID: 1011
                  deviceUUID: 5b3da8f6-bfc8-4776-ae72-a388db060000
                  durationInMinutes: 60
                  pageSize: 100
              mcp_anomaly_detection:
                summary: MCP Anomaly Detection Data Collection
                description: High-frequency data collection for ML-based anomaly detection
                value:
                  applicationName: network
                  metricGroup: device stats, interface stats
                  customerID: 2
                  ownerID: 1011
                  deviceUUID: 5b3da8f6-bfc8-4776-ae72-a388db060000,8c4da7f2-3fc1-4128-bf83-2a88ef070001
                  durationInMinutes: 1440
                  frequency: NONE
                  pageSize: 1000
                  latestValue: false
              mcp_capacity_planning:
                summary: MCP Capacity Planning Analytics
                description: Long-term trend data for capacity planning automation
                value:
                  applicationName: network
                  metricGroup: interface stats, device stats
                  customerID: 2
                  ownerID: 1011
                  deviceID: 1,3,5,7,9,11,15,22
                  startTime: 2024-08-01T00:00:00Z
                  endTime: 2024-08-31T23:59:59Z
                  frequency: ONE_FIFTH
                  pageSize: 1000
                  filter:
                    - type: ethernet interface name
                      value: 1:1-48
              mcp_real_time_monitoring:
                summary: MCP Real-Time Monitoring Stream
                description: Latest values for real-time monitoring dashboards
                value:
                  applicationName: network
                  metricGroup: device stats
                  customerID: 2
                  ownerID: 1011
                  deviceUUID: 5b3da8f6-bfc8-4776-ae72-a388db060000
                  latestValue: true
                  pageSize: 50
              mcp_predictive_maintenance:
                summary: MCP Predictive Maintenance Data
                description: Historical data for predictive maintenance algorithms
                value:
                  applicationName: network
                  metricGroup: device stats
                  customerID: 2
                  ownerID: 1011
                  deviceSerialNumber: SW001,SW002,SW003
                  durationInMinutes: 10080
                  frequency: ONE_FIFTH
                  pageSize: 1000
              time_range_request:
                summary: Request with specific time range
                value:
                  applicationName: network
                  metricGroup: interface ext1 stats
                  customerID: 2
                  ownerID: 1011
                  deviceID: 1,3,5
                  startTime: 2024-08-26T19:00:00Z
                  endTime: 2024-08-26T23:00:00Z
                  frequency: ONE_FIFTH
                  filter:
                    - type: ethernet interface ext1 name
                      value: 1:1,1:30-33
              latest_values_request:
                summary: Request for latest metric values
                value:
                  applicationName: network
                  metricGroup: device stats
                  customerID: 2
                  ownerID: 1011
                  deviceSerialNumber: abcd-000008
                  latestValue: true
                  pageSize: 50
      responses:
        "200":
          description: >
            Successfully retrieved metric data. The response contains an array
            of metric data objects,

            each including the metrics information and pagination details.


            **Response Structure:**

            - `items`: Array of metric data objects containing device metrics
            and time-series data

            - Each item includes `metricsInfo` with device details and metric
            values

            - Each item includes `paginationInfo` for navigation through large
            datasets
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MetricDataResponses"
              examples:
                successful_response:
                  summary: Sample metric data response
                  value:
                    items:
                      - metricsInfo:
                          applicationName: network
                          metricGroup: device stats
                          deviceUUID: 5b3da8f6-bfc8-4776-ae72-a388db060000
                          deviceID: "5293818185793495498"
                          metricName: CPU Stats
                          metricData:
                            - timeStamp: 2024-08-26T19:00:00Z
                              metricInfo:
                                - name: UsageMin
                                  value: "40"
                                - name: UsageMax
                                  value: "85"
                        paginationInfo:
                          current_page: 1
                          items_count: 100
                          total_pages: 5
                          total_items_count: 450
        "400":
          description: >
            Bad Request - Invalid request parameters provided.


            **Common Causes:**

            - Missing required fields (applicationName, metricGroup)

            - Invalid time format (must be ISO 8601 UTC)

            - Invalid frequency value

            - Conflicting time parameters (startTime + endTime +
            durationInMinutes)

            - Invalid device identifiers

            - Page size exceeds maximum allowed limit
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
              examples:
                validation_error:
                  summary: API validation error example
                  value:
                    code: 1701
                    message: Invalid time format. Use ISO 8601 UTC format (e.g.,
                      2024-08-26T19:00:00Z)
        "404":
          description: |
            No metric data found for the specified criteria.

            **Common Causes:**
            - No devices found matching the specified identifiers
            - No data available for the requested time range
            - Specified metric group not available for the application
            - Invalid customer or owner ID
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
              examples:
                no_data_found:
                  summary: No data found example
                  value:
                    code: 1307
                    message: No metric data found for the specified time range and devices
        "409":
          description: >
            Conflict in request parameters.


            **Common Causes:**

            - Conflicting time range parameters

            - Invalid combination of device identification methods

            - Metric group not supported for specified application

            - The count of returned items would exceed 10,000 when
            `errOnPageExceeded` is `true`
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
              examples:
                validation_conflict:
                  summary: Validation conflict example
                  value:
                    code: 1002
                    message: Cannot specify both startTime+endTime and durationInMinutes
                      simultaneously
        "500":
          description: >
            Internal server error occurred while processing the metric data
            request.

            This may indicate database connectivity issues or internal
            processing errors.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
        default:
          description: Unexpected error occurred
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
  /analytics/device-health:
    post:
      tags:
        - Device health data
      operationId: RetrieveDeviceHealthData
      x-mcp-operation-type: health-analytics
      x-mcp-automation-friendly: true
      x-mcp-predictive-analytics: true
      x-mcp-location-aware: true
      x-mcp-health-scoring: true
      x-mcp-use-cases:
        - proactive-monitoring
        - predictive-maintenance
        - health-dashboards
        - capacity-planning
        - automated-alerting
      summary: Advanced Device Health Analytics for MCP Servers
      description: >
        **Intelligent Device Health Analytics for MCP Servers**


        Provides comprehensive health analytics for wired and wireless network
        devices with advanced health scoring,

        predictive analytics, and intelligent status assessment. This endpoint
        is specifically designed

        for MCP (Model Context Protocol) servers implementing proactive network
        management, predictive

        maintenance, and automated health monitoring systems.


        **MCP Server Features:**

        - **Intelligent Health Scoring**: AI-driven health assessment with
        composite health scores

        - **Predictive Analytics**: Early warning indicators for potential
        device failures and issues

        - **Location-Aware Monitoring**: Hierarchical location filtering for
        geographic monitoring strategies

        - **Automated Health Assessment**: Continuous health evaluation with
        threshold-based alerting

        - **Trend Analysis Ready**: Health data optimized for time-series
        analysis and trending

        - **Integration-Optimized**: Health data formatted for ITSM and
        automation platform integration


        **Advanced Health Analytics:**

        - **Composite Health Scoring**: Multi-dimensional health assessment
        combining all device metrics

        - **Anomaly Detection**: Statistical analysis for identifying abnormal
        health patterns

        - **Baseline Comparison**: Health status compared to historical
        baselines and peer devices

        - **Predictive Indicators**: Early warning metrics for proactive
        maintenance planning

        - **Risk Assessment**: Device risk scoring based on health trends and
        failure probability


        **MCP Use Cases:**

        - **Proactive Monitoring Systems**: Automated health monitoring with
        intelligent alerting

        - **Predictive Maintenance**: ML-driven maintenance scheduling based on
        health analytics

        - **Infrastructure Optimization**: Health-based recommendations for
        infrastructure improvements

        - **Automated Remediation**: Health-triggered automated response and
        remediation workflows

        - **Compliance Monitoring**: Health status tracking for SLA and
        compliance requirements

        - **Capacity Planning**: Health-based capacity planning and resource
        allocation optimization


        **Enhanced Health Metrics:**

        - **CPU Analytics**: Processor utilization trends, peak analysis, and
        performance degradation detection

        - **Memory Intelligence**: RAM usage patterns, memory leak detection,
        and capacity forecasting

        - **Thermal Management**: Temperature monitoring with cooling efficiency
        analysis and thermal trending

        - **Power Analytics**: Power consumption optimization, PoE efficiency
        tracking, and PSU health assessment

        - **Cooling Systems**: Fan performance analysis, cooling efficiency
        metrics, and failure prediction

        - **Environmental Monitoring**: Environmental condition correlation with
        device health metrics


        **Intelligent Location Hierarchy:**

        Advanced location-based filtering with geographic intelligence:

        1. **Site-Level Analytics**: Comprehensive site health overview with
        comparative analysis

        2. **Building-Level Intelligence**: Building-specific health trends and
        environmental correlation

        3. **Floor-Level Precision**: Granular floor-level monitoring with
        spatial health mapping

        4. **Zone-Based Analysis**: Custom zone definitions for targeted health
        monitoring strategies
      parameters:
        - name: download
          in: query
          required: false
          description: |
            When set to `csv`, the response is returned as a CSV file download
            instead of JSON. The CSV contains flattened device health data with
            one row per device. When this parameter is set, `responseType` is
            automatically forced to `grid` and pagination is bypassed so all
            matching devices are included in the export.
          schema:
            type: string
            enum:
              - csv
      requestBody:
        required: true
        description: >
          Request parameters for device health data retrieval.

          All location filters are optional - without filters, returns data for
          all accessible devices.

          Device stats parameter allows customization of returned metrics.
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DeviceHealthDataRequest"
            examples:
              basic_health_request:
                summary: Basic device health request
                value:
                  pageNumber: 1
                  pageSize: 50
                  deviceStats: cpu,memory,temperature
              location_filtered_request:
                summary: Request filtered by location
                value:
                  siteIDs: 1,3
                  buildingIDs: 11,22
                  floorIDs: 110,220
                  pageNumber: 1
                  pageSize: 100
                  deviceStats: cpu,memory,temperature,fan,poe,psu
              comprehensive_request:
                summary: Comprehensive health monitoring request
                value:
                  siteIDs: "1"
                  pageNumber: 1
                  pageSize: 200
      responses:
        "200":
          description: |
            Successfully retrieved network device health data.

            **Response Structure:**
            - `applicationName`: Always "network" for network device health
            - `metricGroup`: Always "device health" for this endpoint
            - `ownerID`: Identifier for the data owner/tenant
            - `summaryInfo`: High-level health statistics and counts
            - `healthInfo`: Detailed device health information with pagination

            **Health Information Includes:**
            - Device identification (UUID, ID, serial number, IP address)
            - Location information (building, floor, address)
            - Stack configuration details (if applicable)
            - Current metric values for requested health parameters
            - Timestamp information for metric readings
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeviceHealthDataResponses"
              examples:
                successful_health_response:
                  summary: Sample device health response
                  value:
                    applicationName: network
                    metricGroup: device health
                    ownerID: 102
                    summaryInfo:
                      Total Devices: 45
                      Total Unhealthy Devices: 42
                      Wired Unhealthy Devices: 30
                      Wireless Unhealthy Devices: 12
                      Warning Devices: 3
                      Devices with CPU Issues: 0
                      CPU Issues: 0
                      Devices with Memory Issues: 0
                      Memory Issues: 0
                      Devices with Temperature Issues: 0
                      Temperature Issues: 0
                      Devices with Fan Issues: 0
                      Fan Issues: 0
                      Devices with PSU Issues: 0
                      PSU Issues: 0
                      Devices with PoE Issues: 0
                      PoE Issues: 0
                      Devices Not Reporting Stats: 0
                    healthInfo:
                      items:
                        - metricsInfo:
                            deviceUUID: 5b3da8f6-bfc8-4776-ae72-a388db060000
                            deviceID: "1497460426261685519"
                            deviceSerialNumber: 89C5-0D6B-000002
                            ipAddress: 10.64.236.25
                            buildingName: Building3
                            floorName: Floor4
                            metricData:
                              - metricName: cpu stats
                                timeStamp: 2025-06-27T00:35:23Z
                                metricInfo:
                                  - - name: Usage
                                      value: "45"
                                    - name: Temperature
                                      value: "58"
                      paginationInfo:
                        current_page: 1
                        items_count: 50
                        total_pages: 3
                        total_items_count: 150
                stack_device_health_response:
                  summary: Stack device health response with standalone and stack parent/member
                    devices
                  value:
                    applicationName: network
                    metricGroup: device health
                    ownerID: 6461
                    healthInfo:
                      items:
                        - metricsInfo:
                            deviceID: "8293582110001"
                            deviceSerialNumber: 4220-44MW-20P-4X-PEPS
                            hostName: 4220-44MW-20P-4X-PEPS
                            macAddress: 0004969A0001
                            ipAddress: 10.65.68.100
                            function: Switch
                            managedBy: Cloud
                            stackType: false
                            stackMode: STANDALONE
                            siteName: USA-Remote-NC
                            siteID: "8293581949564"
                            buildingName: Office
                            floorName: Floor1
                            address: USA-Remote-NC
                            deviceHealthData:
                              - metricName: cpu stats
                                timeStamp: 2026-03-11T00:35:23Z
                                healthStatus: green
                                healthValue: "7"
                                cpuHealthInfo:
                                  - core: "0"
                                    cpuUsage: "7"
                                    status: green
                              - metricName: memory stats
                                timeStamp: 2026-03-11T00:35:23Z
                                healthStatus: green
                                memoryHealthInfo:
                                  - memoryUsage: "56"
                                    status: green
                              - metricName: poe stats
                                timeStamp: 2026-03-11T00:35:23Z
                                healthStatus: green
                                poeHealthInfo:
                                  - totalPowerConsumedPercent: "2"
                                    status: green
                              - metricName: temperature stats
                                timeStamp: 2026-03-11T00:35:23Z
                                healthStatus: orange
                                temperatureHealthInfo:
                                  - temperature: "71"
                                    status: orange
                              - metricName: fan stats
                                timeStamp: 2026-03-11T00:35:23Z
                                healthStatus: operational
                                fanHealthInfo:
                                  - fan: "1"
                                    tray: "0"
                                    status: operational
                        - metricsInfo:
                            deviceID: "8293582114008"
                            deviceSerialNumber: sn-1535G-00559
                            hostName: 8520-Stack
                            macAddress: 0204969939A7
                            ipAddress: 10.64.236.144
                            function: Switch
                            managedBy: Cloud
                            stackType: true
                            stackNumber: 1
                            stackMode: SWITCH_STACK
                            stackSize: 6
                            parentStackMemberName: Member 1
                            stackDisplayName: 8520-Stack
                            siteName: USA-RDU
                            siteID: "8293581949564"
                            buildingName: Office
                            floorName: Floor1
                            stackLocation: USA-RDU-Office-Floor1
                            stackCpuAvg: "17.0"
                            stackCpuMax: "21.0"
                            stackMemoryAvg: "50.0"
                            stackMemoryMax: "61.0"
                            stackTemperatureAvg: "68.0"
                            stackTemperatureMax: "71.0"
                            stackPsuAvg: "1.2"
                            stackPsuMax: "1.4"
                            stackPoeTotalBudget: "4440.0"
                            stackPoeTotalConsumed: "1860.0"
                            stackCpuStatus: red
                            stackMemoryStatus: red
                            stackTemperatureStatus: red
                            stackPoeStatus: red
                            stackFanStatus: ok
                            stackMembershipInfo:
                              - deviceID: "8293582114001"
                                deviceSerialNumber: 1535G-00559
                                hostName: EXOS-Switch
                                macAddress: 0004969A394E
                                ipAddress: 10.64.236.144
                                function: Switch
                                managedBy: Cloud
                                productType: Switch-5720-48P
                                stackType: true
                                stackNumber: 1
                                stackMode: MEMBER
                                stackMemberType: PRIMARY
                                stackMemberName: Member 1
                                siteName: USA-RDU
                                buildingName: Office
                                floorName: Floor1
                                cpuUsagePercent: "20.0"
                                memoryUsagePercent: "52.0"
                                temperatureValue: "68.0"
                                psuOutputPower: "1.4"
                                poeTotalBudget: "740.0"
                                poeTotalConsumedPercent: "39.0"
                                poeTotalConsumed: "289.0"
                                cpuStatus: red
                                memoryStatus: red
                                temperatureStatus: red
                                poeStatus: red
                                fanStatus: ok
                                deviceHealthData:
                                  - metricName: cpu stats
                                    timeStamp: 2026-03-11T00:35:23Z
                                    healthStatus: green
                                    cpuHealthInfo:
                                      - core: "0"
                                        cpuUsage: "20"
                                        status: green
                                  - metricName: memory stats
                                    timeStamp: 2026-03-11T00:35:23Z
                                    memoryHealthInfo:
                                      - memoryUsage: "52"
                                        status: green
                                  - metricName: temperature stats
                                    timeStamp: 2026-03-11T00:35:23Z
                                    temperatureHealthInfo:
                                      - temperature: "68"
                                        status: green
                                  - metricName: fan stats
                                    timeStamp: 2026-03-11T00:35:23Z
                                    healthStatus: operational
                                    fanHealthInfo:
                                      - fan: "1"
                                        tray: "0"
                                        status: operational
                              - deviceID: "8293582113979"
                                deviceSerialNumber: 1514G-00625
                                hostName: EXOS-Switch
                                macAddress: 0004969939A7
                                ipAddress: 10.64.236.144
                                function: Switch
                                managedBy: Cloud
                                productType: Switch-5720-48P
                                stackType: true
                                stackNumber: 2
                                stackMode: MEMBER
                                stackMemberType: BACKUP_IN_SYNC
                                stackMemberName: Member 2
                                fanStatus: ok
                                cpuUsagePercent: "0.0"
                                memoryUsagePercent: "0.0"
                                temperatureValue: "0.0"
                                psuOutputPower: "0.0"
                                poeTotalBudget: "0.0"
                                poeTotalConsumedPercent: "0"
                                poeTotalConsumed: "0.0"
                                deviceHealthData: []
                              - deviceID: "8293582114014"
                                deviceSerialNumber: 1532G-00059
                                hostName: EXOS-Switch
                                macAddress: 0004969A29A9
                                ipAddress: 10.64.236.144
                                function: Switch
                                managedBy: Cloud
                                productType: Switch-5720-48P
                                stackType: true
                                stackNumber: 3
                                stackMode: MEMBER
                                stackMemberType: STANDBY
                                stackMemberName: Member 3
                                fanStatus: ok
                                cpuUsagePercent: "0.0"
                                memoryUsagePercent: "0.0"
                                temperatureValue: "0.0"
                                psuOutputPower: "0.0"
                                poeTotalBudget: "0.0"
                                poeTotalConsumedPercent: "0"
                                poeTotalConsumed: "0.0"
                                deviceHealthData: []
                              - deviceID: "8293582114020"
                                deviceSerialNumber: 1532G-00060
                                macAddress: 0004969A2BA1
                                productType: Switch-5720-48P
                                stackNumber: 4
                                stackMemberType: STANDBY
                                stackMemberName: Member 4
                                fanStatus: ok
                                cpuUsagePercent: "0.0"
                                memoryUsagePercent: "0.0"
                                temperatureValue: "0.0"
                                psuOutputPower: "0.0"
                                poeTotalBudget: "0.0"
                                poeTotalConsumedPercent: "0"
                                poeTotalConsumed: "0.0"
                                deviceHealthData: []
                              - deviceID: "8293582114025"
                                deviceSerialNumber: 1532G-00061
                                macAddress: 0004969A2BC8
                                productType: Switch-5720-48P
                                stackNumber: 5
                                stackMemberType: STANDBY
                                stackMemberName: Member 5
                                fanStatus: ok
                                cpuUsagePercent: "0.0"
                                memoryUsagePercent: "0.0"
                                temperatureValue: "0.0"
                                psuOutputPower: "0.0"
                                poeTotalBudget: "0.0"
                                poeTotalConsumedPercent: "0"
                                poeTotalConsumed: "0.0"
                                deviceHealthData: []
                              - deviceID: "8293582114030"
                                deviceSerialNumber: 1532G-00062
                                macAddress: 0004969A2BD6
                                productType: Switch-5720-48P
                                stackNumber: 6
                                stackMemberType: STANDBY
                                stackMemberName: Member 6
                                fanStatus: ok
                                cpuUsagePercent: "0.0"
                                memoryUsagePercent: "0.0"
                                temperatureValue: "0.0"
                                psuOutputPower: "0.0"
                                poeTotalBudget: "0.0"
                                poeTotalConsumedPercent: "0"
                                poeTotalConsumed: "0.0"
                                deviceHealthData: []
                        - metricsInfo:
                            deviceID: "8293582110045"
                            deviceSerialNumber: X435-24T-45
                            hostName: X435-24T-45
                            macAddress: 0004969A0045
                            ipAddress: 10.65.68.106
                            function: Switch
                            managedBy: Cloud
                            stackType: false
                            deviceHealthData:
                              - metricName: cpu stats
                                timeStamp: 2026-03-11T00:35:23Z
                                healthStatus: green
                                cpuHealthInfo:
                                  - core: "0"
                                    cpuUsage: "7"
                                    status: green
                              - metricName: memory stats
                                timeStamp: 2026-03-11T00:35:23Z
                                memoryHealthInfo:
                                  - memoryUsage: "69"
                                    status: green
                              - metricName: temperature stats
                                timeStamp: 2026-03-11T00:35:23Z
                                temperatureHealthInfo:
                                  - temperature: "63"
                                    status: green
                      paginationInfo:
                        current_page: 1
                        items_count: 6
                        total_pages: 1
                        total_items_count: 6
            text/csv:
              schema:
                type: string
                format: binary
                description: CSV file with flattened device health data (returned when
                  download=csv).
        "400":
          description: |
            Bad Request - Invalid request parameters.

            **Common Causes:**
            - Invalid site, building, or floor IDs
            - Invalid page number or page size
            - Unsupported device stats parameter values
            - Page size exceeds maximum allowed limit (typically 1000)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
              examples:
                invalid_pagination:
                  summary: Invalid pagination parameters
                  value:
                    code: 1701
                    message: Page size must be between 1 and 1000
        "404":
          description: |
            No device health data found for the specified criteria.

            **Common Causes:**
            - No devices found in specified locations
            - Invalid location IDs provided
            - No health data available for accessible devices
            - Access restrictions preventing data retrieval
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
              examples:
                no_devices_found:
                  summary: No devices found
                  value:
                    code: 1307
                    message: No devices found matching the specified location criteria
        "409":
          description: |
            Conflict in request parameters or data state.

            **Common Causes:**
            - Conflicting location filter parameters
            - Data consistency issues during retrieval
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
              examples:
                parameter_conflict:
                  summary: Parameter conflict example
                  value:
                    code: 1002
                    message: Cannot specify both siteIDs and floorIDs without buildingIDs
        "500":
          description: >
            Internal server error occurred while processing the device health
            request.

            This may indicate database connectivity issues or internal
            processing errors.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
        default:
          description: Unexpected error occurred
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
  /analytics/device-health/port-stats:
    post:
      tags:
        - Device health data
      operationId: RetrieveDeviceHealthPortStats
      x-mcp-operation-type: port-stats-analytics
      x-mcp-automation-friendly: true
      summary: Retrieve aggregated port statistics for a device
      description: >
        **Port Statistics Analytics**


        Returns aggregated port-level traffic, packet, error, and queue
        congestion statistics

        for a single device over a user-specified time range. Optionally
        filtered by a list of

        interface names.


        **Request Fields:**

        - `deviceID`: Device numeric identifier (required).

        - `ifNames`: Comma-separated list of interface names to filter
        (optional). If omitted, all interfaces are included.

        - `startTime`: Start of the query time window in ISO 8601 UTC format
        (required).

        - `endTime`: End of the query time window in ISO 8601 UTC format
        (required).


        **Response Fields:**

        - `timestamp`: Timestamp of the aggregated statistics (aligned to the
        endTime of the query).

        - `clientsWithIssues`: Number of unique clients with issues based on
        error thresholds (if client-level data is available).

        - `totalTxBytes`: Total transmitted bytes (out_octets) across matched
        interfaces and time range.

        - `totalRxBytes`: Total received bytes (in_octets).

        - `totalTxUnicastPkts`: Total transmitted unicast packets.

        - `totalRxUnicastPkts`: Total received unicast packets.

        - `totalTxMulticastPkts`: Total transmitted multicast packets.

        - `totalRxMulticastPkts`: Total received multicast packets.

        - `totalTxBroadcastPkts`: Total transmitted broadcast packets.

        - `totalRxBroadcastPkts`: Total received broadcast packets.

        - `totalErrors`: Total error count (input + output errors).

        - `totalQueueCongestion`: Total queue congestion packets dropped across
        all queues.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PortStatsRequest"
            example:
              deviceID: "123456"
              ifNames: mgmt,1:1,1:2
              startTime: 2024-08-26T00:00:00Z
              endTime: 2024-08-26T23:59:59Z
      responses:
        "200":
          description: Port statistics array successfully retrieved, ordered by timestamp
            ascending.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PortStatsResponse"
              example:
                items:
                  - timestamp: 1724630400000
                    clientsWithIssues: 0
                    totalTxBytes: 9876543210
                    totalRxBytes: 1234567890
                    totalTxUnicastPkts: 500000
                    totalRxUnicastPkts: 450000
                    totalTxMulticastPkts: 10000
                    totalRxMulticastPkts: 9000
                    totalTxBroadcastPkts: 5000
                    totalRxBroadcastPkts: 4500
                    totalErrors: 42
                    totalQueueCongestion: 0
                  - timestamp: 1724630700000
                    clientsWithIssues: 0
                    totalTxBytes: 9876544000
                    totalRxBytes: 1234569000
                    totalTxUnicastPkts: 500100
                    totalRxUnicastPkts: 450050
                    totalTxMulticastPkts: 10010
                    totalRxMulticastPkts: 9010
                    totalTxBroadcastPkts: 5010
                    totalRxBroadcastPkts: 4510
                    totalErrors: 43
                    totalQueueCongestion: 0
                paginationInfo:
                  current_page: 1
                  items_count: 2
                  total_pages: 1
                  total_items_count: 2
        "400":
          description: Bad request — invalid or missing parameters.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
        "500":
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
  /analytics/device-health/port-stats-summary:
    post:
      tags:
        - Device health data
      operationId: RetrieveDeviceHealthPortStatsSummary
      x-mcp-operation-type: port-stats-summary-analytics
      x-mcp-automation-friendly: true
      summary: Retrieve per-port statistics summary for a device
      description: >
        **Port Statistics Summary**


        Returns a per-port summary of traffic utilization, packet counts,
        congestion drops,

        and aggregate error metrics for a single device. Each element in the
        response

        represents one physical or logical port on the device.


        **Request Fields:**

        - `deviceId`: Device numeric identifier (required).


        **Response Fields (per port):**

        - `portNumber`: Port/interface identifier.

        - `rxUtilization`: Average receive utilization (percentage).

        - `txUtilization`: Average transmit utilization (percentage).

        - `rxMaxUtilization`: Maximum receive utilization observed (percentage).

        - `txMaxUtilization`: Maximum transmit utilization observed
        (percentage).

        - `inOctets`: Total inbound bytes on the port.

        - `outOctets`: Total outbound bytes on the port.

        - `inUcastPkts`: Total inbound unicast packets.

        - `outUcastPkts`: Total outbound unicast packets.

        - `inBroadcastPkts`: Total inbound broadcast packets.

        - `outBroadcastPkts`: Total outbound broadcast packets.

        - `inMulticastPkts`: Total inbound multicast packets.

        - `outMulticastPkts`: Total outbound multicast packets.

        - `congestionDropPkts`: Total packets dropped due to queue congestion.

        - `totalAggregateErrors`: Total aggregate error count (input + output
        errors).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PortStatsSummaryRequest"
            example:
              deviceID: "123456"
      responses:
        "200":
          description: Per-port statistics summary successfully retrieved.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PortStatsSummaryResponse"
              example:
                - portNumber: 1:1
                  rxUtilization: 45.2
                  txUtilization: 30.1
                  rxMaxUtilization: 88.5
                  txMaxUtilization: 72.3
                  inOctets: 9876543210
                  outOctets: 1234567890
                  inUcastPkts: 450000
                  outUcastPkts: 500000
                  inBroadcastPkts: 4500
                  outBroadcastPkts: 5000
                  inMulticastPkts: 9000
                  outMulticastPkts: 10000
                  congestionDropPkts: 0
                  totalAggregateErrors: 42
                - portNumber: 1:2
                  rxUtilization: 12.7
                  txUtilization: 8.4
                  rxMaxUtilization: 35
                  txMaxUtilization: 20.6
                  inOctets: 500000000
                  outOctets: 300000000
                  inUcastPkts: 120000
                  outUcastPkts: 90000
                  inBroadcastPkts: 1200
                  outBroadcastPkts: 900
                  inMulticastPkts: 3000
                  outMulticastPkts: 2000
                  congestionDropPkts: 0
                  totalAggregateErrors: 0
        "400":
          description: Bad request — invalid or missing parameters.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
        "500":
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
  /analytics/device-health/wireless:
    post:
      tags:
        - Wireless device health data
      operationId: RetrieveWirelessDeviceHealthData
      x-mcp-operation-type: wireless-health-analytics
      x-mcp-automation-friendly: true
      x-mcp-predictive-analytics: true
      x-mcp-location-aware: true
      x-mcp-health-scoring: true
      x-mcp-use-cases:
        - wireless-monitoring
        - ap-health-dashboards
        - predictive-maintenance
        - capacity-planning
        - automated-alerting
      summary: Wireless Device Health Analytics for MCP Servers
      description: >
        **Wireless Device Health Analytics for MCP Servers**


        Provides comprehensive health analytics exclusively for wireless network
        devices (Access Points).

        This endpoint automatically filters for wireless devices only, returning
        health metrics

        including CPU, Memory and PoE data for all APs.


        **Key Differences from /analytics/device-health:**

        - **Wireless-Only**: Automatically filters for AP/wireless devices — no
        need to specify deviceType

        - **All Metrics Included**: Returns all available health metrics (cpu,
        memory, poe) by default

        - **Simplified Request**: Fewer required parameters for wireless-focused
        monitoring


        **MCP Server Features:**

        - **Intelligent Health Scoring**: AI-driven health assessment with
        composite health scores for APs

        - **Location-Aware Monitoring**: Hierarchical location filtering for
        geographic AP monitoring

        - **Automated Health Assessment**: Continuous health evaluation with
        threshold-based alerting

        - **Integration-Optimized**: Health data formatted for ITSM and
        automation platform integration


        **Wireless-Specific Health Metrics:**

        - **CPU Analytics**: AP processor utilization trends and performance
        degradation detection

        - **Memory Intelligence**: AP RAM usage patterns and capacity
        forecasting

        - **Power Analytics**: PoE consumption tracking
      parameters:
        - name: download
          in: query
          required: false
          description: |
            When set to `csv`, the response is returned as a CSV file download
            instead of JSON. The CSV contains flattened device health data with
            one row per device. When this parameter is set, `responseType` is
            automatically forced to `grid` and pagination is bypassed so all
            matching devices are included in the export.
          schema:
            type: string
            enum:
              - csv
      requestBody:
        required: true
        description: >
          Request parameters for wireless device health data retrieval.

          All location filters are optional — without filters, returns data for
          all accessible wireless devices.
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/WirelessDeviceHealthDataRequest"
            examples:
              basic_wireless_health:
                summary: Basic wireless health request
                value:
                  pageNumber: 1
                  pageSize: 50
              location_filtered_wireless:
                summary: Request filtered by location
                value:
                  siteIDs: 1,3
                  pageNumber: 1
                  pageSize: 100
              unhealthy_wireless_devices:
                summary: Get only unhealthy wireless devices
                value:
                  health: unhealthy
                  responseType: grid
                  pageNumber: 1
                  pageSize: 50
      responses:
        "200":
          description: >
            Successfully retrieved wireless device health data.


            **Response Structure:**

            - `applicationName`: Always "network" for network device health

            - `metricGroup`: Always "wireless device health" for this endpoint

            - `ownerID`: Identifier for the data owner/tenant

            - `summaryInfo`: High-level health statistics for wireless devices

            - `healthInfo`: Detailed wireless device health information with
            pagination
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WirelessDeviceHealthDataResponses"
              examples:
                wireless_health_response:
                  summary: Sample wireless device health response
                  value:
                    applicationName: network
                    metricGroup: wireless device health
                    ownerID: 102
                    healthInfo:
                      items:
                        - metricsInfo:
                            deviceID: "8293582110001"
                            deviceSerialNumber: AP-5010-001
                            hostName: AP-5010-Floor1
                            macAddress: 0004969B0001
                            ipAddress: 10.65.70.100
                            function: Access Point
                            managedBy: Cloud
                            stackType: false
                            siteName: USA-RDU
                            siteID: "8293581949564"
                            buildingName: Office
                            floorName: Floor1
                            deviceHealthData:
                              timeStamp: 2026-03-11T00:35:23Z
                              healthStatus: healthy
                              healthValue: "95"
                              cpuHealthInfo:
                                cpuUsagePercentage: 12
                                cpuHealthStatus: green
                              memoryHealthInfo:
                                memoryUsagePercentage: 45
                                memoryHealthStatus: green
                              poeHealthInfo: {}
                              channelChangeCount: 0
                              wifiRebootCount: 0
                              eth0Score:
                                unicastScore: 55
                                multicastScore: 60
                                broadcastScore: 65
                              eth1Score:
                                unicastScore: 50
                                multicastScore: 55
                                broadcastScore: 60
                      paginationInfo:
                        current_page: 1
                        items_count: 1
                        total_pages: 1
                        total_items_count: 1
            text/csv:
              schema:
                type: string
                format: binary
                description: CSV file with flattened wireless device health data (returned when
                  download=csv).
        "400":
          description: |
            Bad Request - Invalid request parameters.

            **Common Causes:**
            - Invalid site, building, or floor IDs
            - Invalid page number or page size
            - Page size exceeds maximum allowed limit
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
        "404":
          description: |
            No wireless device health data found for the specified criteria.

            **Common Causes:**
            - No wireless devices found in specified locations
            - Invalid location IDs provided
            - No health data available for accessible wireless devices
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
        "409":
          description: |
            Conflict in request parameters.

            **Common Causes:**
            - Conflicting location filter parameters
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
        "500":
          description: >
            Internal server error occurred while processing the wireless device
            health request.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
        default:
          description: Unexpected error occurred
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
  /analytics/device-health/wireless/access-points:
    post:
      tags:
        - Wireless device health data
      operationId: RetrieveWirelessAccessPoints
      x-mcp-operation-type: wireless-neighbor-discovery
      x-mcp-automation-friendly: true
      x-mcp-use-cases:
        - rf-analytics
        - rogue-ap-detection
        - wireless-monitoring
      summary: Retrieve neighboring wireless access points for a device
      description: >
        **Wireless Access Point Neighbor Discovery**


        Returns an array of neighboring wireless access points detected by the
        specified device.

        Each entry includes RF metrics (RSSI, channel width, channel
        utilization),

        rogue AP classification, and client counts observed from the neighboring
        AP.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/WirelessAccessPointRequest"
            example:
              deviceID: "8293582110001"
              pageNumber: 1
              pageSize: 50
      responses:
        "200":
          description: Successfully retrieved neighboring access points.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WirelessAccessPointResponse"
              example:
                items:
                  - mac: 00:11:22:33:44:55
                    ssid: Corporate-WiFi
                    channelWidth: 80
                    rssi: -65
                    mode: 802.11ax
                    rogueAp: 0
                    extremeDevice: true
                    cuPercent: 35.5
                    crc: 0
                    clients: 12
                  - mac: AA:BB:CC:DD:EE:FF
                    ssid: Guest-Network
                    channelWidth: 40
                    rssi: -78
                    mode: 802.11ac
                    rogueAp: 1
                    extremeDevice: false
                    cuPercent: 62.3
                    crc: 4
                    clients: 8
                paginationInfo:
                  current_page: 1
                  items_count: 2
                  total_pages: 1
                  total_items_count: 2
        "400":
          description: Bad request — invalid or missing deviceID.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
        "500":
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
  /analytics/device-health/wireless/interface-graph:
    post:
      tags:
        - Wireless device health data
      operationId: RetrieveWirelessInterfaceGraph
      summary: Retrieve wireless interface time-series graph data for a device
      description: >
        **Wireless Interface Graph Data**


        Returns time-series data points for a wireless interface on the
        specified device

        over a given time range. Each data point includes channel utilization
        and connected

        client count at that timestamp, suitable for rendering line/area charts.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/WirelessInterfaceGraphRequest"
            example:
              deviceID: "8293582110001"
              startTime: 2026-05-13T00:00:00Z
              endTime: 2026-05-14T00:00:00Z
              channel: wifi0
      responses:
        "200":
          description: Successfully retrieved wireless interface graph data.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WirelessInterfaceGraphResponse"
              example:
                items:
                  - timestamp: 1747094400000
                    channelUtilization: 42
                    connectedClients: 15
                  - timestamp: 1747098000000
                    channelUtilization: 58
                    connectedClients: 23
                paginationInfo:
                  current_page: 1
                  items_count: 2
                  total_pages: 1
                  total_items_count: 2
        "400":
          description: Bad request — invalid or missing parameters.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
        "500":
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
  /analytics/device-health/wireless/interfaces:
    post:
      tags:
        - Wireless device health data
      operationId: RetrieveWirelessInterfaces
      x-mcp-operation-type: wireless-interface-analytics
      x-mcp-automation-friendly: true
      x-mcp-use-cases:
        - wireless-monitoring
        - rf-analytics
        - channel-utilization-analysis
      summary: Retrieve wireless interface details for a device
      description: >
        **Wireless Interface Details**


        Returns per-radio interface details for the specified wireless device
        over a given

        time range. Each radio entry includes SSID information, client counts,
        channel

        configuration, channel utilization breakdown, and feature flags such as
        load

        balancing, band steering, and AFC status.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/WirelessInterfacesRequest"
            example:
              deviceID: "8293582110001"
              startTime: 2026-05-13T00:00:00Z
              endTime: 2026-05-14T00:00:00Z
      responses:
        "200":
          description: Successfully retrieved wireless interface details.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WirelessInterfacesResponse"
              example:
                wifi0:
                  ssidCount: 0
                  ssids: []
                  numberOfClients: 0
                  channelUtilization: 0
                  channel: 0
                  channelWidth: 0
                  loadBalancing: false
                  bandSteering: false
                  channelUtilizationDetails:
                    interferencePercentage: 0
                    txRetriesPercentage: 0
                    rxRetriesPercentage: 0
                wifi1:
                  ssidCount: 2
                  ssids:
                    - MFG-PSK
                    - MFG-Secure
                  numberOfClients: 2
                  channelUtilization: 48
                  channel: 157
                  channelWidth: 20
                  loadBalancing: false
                  bandSteering: false
                  channelUtilizationDetails:
                    interferencePercentage: 9
                    txRetriesPercentage: 3
                    rxRetriesPercentage: 35
                wifi2:
                  ssidCount: 0
                  ssids: []
                  numberOfClients: 0
                  channelUtilization: 0
                  channel: 0
                  channelWidth: 0
                  loadBalancing: false
                  bandSteering: false
                  channelUtilizationDetails:
                    interferencePercentage: 0
                    txRetriesPercentage: 0
                    rxRetriesPercentage: 0
        "400":
          description: Bad request — invalid or missing parameters.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
        "500":
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
  /analytics/device-health/wireless/wired-interfaces:
    post:
      tags:
        - Wireless device health data
      operationId: RetrieveWirelessWiredInterfaces
      x-mcp-operation-type: wireless-wired-interface-analytics
      x-mcp-automation-friendly: true
      x-mcp-use-cases:
        - wireless-monitoring
        - wired-interface-analytics
        - port-health-monitoring
      summary: Retrieve wired interface details for a wireless device
      description: >
        **Wired Interface Details for Wireless Devices**


        Returns wired (Ethernet) interface details for the specified wireless
        device over a

        given time range. Each entry includes port state, admin state, speed,
        and traffic

        counters (bytes, errors, drops) for both transmit and receive
        directions.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/WiredInterfacesRequest"
            example:
              deviceID: "8293582110001"
              startTime: 2026-05-13T00:00:00Z
              endTime: 2026-05-14T00:00:00Z
      responses:
        "200":
          description: Successfully retrieved wired interface details.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WiredInterfacesResponse"
              example:
                items:
                  - state: up
                    adminState: enabled
                    interface: eth0
                    port: "1"
                    speed: "1000"
                    txBytes: 1234567890
                    rxBytes: 9876543210
                    txErrors: 0
                    rxErrors: 2
                    txDrops: 0
                    rxDrops: 1
                  - state: down
                    adminState: disabled
                    interface: eth1
                    port: "2"
                    speed: "0"
                    txBytes: 0
                    rxBytes: 0
                    txErrors: 0
                    rxErrors: 0
                    txDrops: 0
                    rxDrops: 0
        "400":
          description: Bad request — invalid or missing parameters.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
        "500":
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
  /analytics/usage-capacity:
    post:
      tags:
        - Usage capacity data
      operationId: RetrieveUsageCapacityData
      x-mcp-operation-type: usage-capacity-analytics
      x-mcp-automation-friendly: true
      x-mcp-location-aware: true
      x-mcp-health-scoring: true
      x-mcp-use-cases:
        - proactive-monitoring
        - usage-capacity-dashboards
        - capacity-planning
        - automated-alerting
      summary: Advanced Usage and Capacity Analytics for MCP Servers
      description: >
        **Intelligent Network Device Usage and Capacity Analytics for MCP
        Servers**


        Provides usage and capacity analytics for wired network devices for
        intelligent status assessment.

        This endpoint is specifically designed for MCP (Model Context Protocol)
        servers implementing

        proactive network management, predictive maintenance, and automated
        monitoring systems.


        **MCP Server Features:**

        - **Intelligent Usage and Capacity Scoring**: AI-driven usage and
        capacity assessment with composite usage and capacity data

        - **Location-Aware Monitoring**: Hierarchical location filtering for
        geographic monitoring strategies

        - **Automated Usage and Capacity Assessment**: Continuous usage and
        capacity evaluation

        - **Trend Analysis Ready**: Usage and Capacity data optimized for
        time-series analysis and trending

        - **Integration-Optimized**: Usage and Capacity data formatted for ITSM
        and automation platform integration


        **Advanced Usage and Capacity Analytics:**

        - **Composite Usage and Capacity Data**: Multi-dimensional usage and
        capacity assessment combining all device metrics


        **MCP Use Cases:**

        - **Proactive Monitoring Systems**: Automated usage and capacity
        monitoring

        - **Predictive Maintenance**: ML-driven maintenance scheduling based on
        usage and capacity analytics

        - **Infrastructure Optimization**: Usage and Capacity-based
        recommendations for infrastructure improvements

        - **Automated Remediation**: Usage and Capacity-triggered automated
        response and remediation workflows

        - **Compliance Monitoring**: Usage and Capacity status tracking for SLA
        and compliance requirements

        - **Capacity Planning**: Usage and Capacity-based capacity planning and
        resource allocation optimization


        **Intelligent Location Hierarchy:**

        Advanced location-based filtering with geographic intelligence:

        1. **Site-Level Analytics**: Comprehensive site usage capacity overview
        with comparative analysis

        2. **Building-Level Intelligence**: Building-specific usage capacity
        trends and environmental correlation

        3. **Floor-Level Precision**: Granular floor-level monitoring with
        spatial usage capacity mapping

        4. **Zone-Based Analysis**: Custom zone definitions for targeted usage
        capacity monitoring strategies
      parameters:
        - name: download
          in: query
          required: false
          description: |
            When set to `csv`, the response is returned as a CSV file download
            instead of JSON. The CSV contains flattened usage capacity data with
            one row per device. When this parameter is set, `responseType` is
            automatically forced to `grid` and pagination is bypassed so all
            matching devices are included in the export.
          schema:
            type: string
            enum:
              - csv
      requestBody:
        required: true
        description: >
          Request parameters for device usage capacity data retrieval.

          All location filters are optional - without filters, returns data for
          all accessible devices.
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UsageCapacityDataRequest"
            examples:
              basic_usagecapacity_request:
                summary: Basic usagecapacity request
                value:
                  pageNumber: 1
                  pageSize: 50
              location_filtered_usagecapacity_request:
                summary: Request filtered by location
                value:
                  siteIDs: 1,3
                  buildingIDs: 11,22
                  floorIDs: 110,220
                  pageNumber: 1
                  pageSize: 100
              comprehensive_usagecapacity_request:
                summary: Comprehensive usage capacity monitoring request
                value:
                  siteIDs: "1"
                  pageNumber: 1
                  pageSize: 200
      responses:
        "200":
          description: >
            Successfully retrieved network usage capacity data.


            **Response Structure:**

            - `applicationName`: Always "network" for network usage capacity

            - `metricGroup`: Always "usage capacity" for this endpoint

            - `ownerID`: Identifier for the data owner/tenant

            - `summaryInfo`: High-level usage capacity data

            - `usageCapacityInfo`: Detailed usage capacity information with
            pagination


            **Usage capacity Information Includes:**

            - Device identification (UUID, ID, serial number, IP address)

            - Location information (building, floor, address)

            - Stack configuration details (if applicable)

            - Timestamp information for data
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UsageCapacityDataResponses"
              examples:
                successful_usage_and_capacity_response:
                  summary: Sample usage capacity response
                  value:
                    applicationName: network
                    metricGroup: usage capacity
                    ownerID: 102
                    summaryInfo:
                      TotalBandWidthUtilizedBytes: 4500000
                      TotalPacketCount: 36000000
                      UnicastUtilizationPercentage: 2
                      MulticastUtilizationPercentage: 3
                      BroadcastUtilizationPercentage: 95
                      TotalQueueTxPackets: 2000
                      TotalQueueCongestionPackets: 200
                      TotalCongestionPercentage: 5
[...]
