openapi: 3.0.3
info:
  title: Extreme Platform ONE REST API - Device Lifecycle Management
  description: >-
    The Extreme Platform ONE™ Device Lifecycle Management API provides
    comprehensive

    automation and orchestration for the complete network device lifecycle,
    from 

    initial discovery and zero-touch onboarding through operational management 

    and secure decommissioning.


    **🔄 Complete Lifecycle Management:**


    • **Zero-Touch Device Onboarding** - Fully automated provisioning for
    wireless 

    devices (IQEngine/XIQ) and wired devices (EXOS/VOSS) with intelligent 

    configuration validation and compliance checking


    • **Intelligent Bulk Operations** - Enterprise-scale batch processing with 

    Excel-based import/export, template-driven workflows, and automated 

    validation for efficient mass device management


    • **Advanced Device Discovery** - Device detection and classification 

    with automatic product compatibility checking and network topology analysis


    • **Subscription & License Management** - Automated tracking and lifecycle 

    management of device subscriptions, software licenses, and service
    entitlements


    • **Secure Lifecycle Transitions** - Complete device state management from 

    onboarding through operational phases to secure decommissioning with audit
    trails



    **🏢 Enterprise Integration & Scale:**


    Built for enterprise environments with seamless integration capabilities,

    comprehensive audit trails, high-performance batch processing, and 

    enterprise-grade security controls for large-scale network deployments.
  termsOfService: https://www.extremenetworks.com/company/legal/terms-of-use/
  contact:
    name: Extreme Networks Support
    url: https://www.extremenetworks.com/support
    email: support@extremenetworks.com
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  version: 25.11.0
servers:
  - url: https://cloudapi.extremecloudiq.com/device-lifecycle
    description: Extreme Platform ONE REST API - Device Lifecycle
tags:
  - name: Device
    description: >
      **Advanced Device Lifecycle & Operational Management**



      Complete device lifecycle management covering discovery, configuration, 

      monitoring and decommissioning. Provides real-time device status 

      tracking, automated maintenance workflows, and comprehensive audit trails 

      for enterprise network infrastructure.



      **Core Functions:**

      - Real-time device discovery with automated classification

      - Comprehensive device inventory management with detailed metadata

      - Automated configuration updates and version management

      - Bulk operations for enterprise-scale device management

      - Secure device decommissioning with complete data sanitization

      - Integration with asset management and CMDB systems



      **AI Enhancements:** ML-driven device health analytics, predictive
      failure 

      detection, automated optimization recommendations, intelligent capacity
      planning
paths:
  /v1/devices:
    post:
      x-internal: false
      tags:
        - Device
      summary: Get list of all devices
      description: Retrieves a paginated list of devices with comprehensive filtering,
        searching,  and sorting capabilities. Returns device status,
        configuration, network information,  and links to detailed device views.
        Supports page-based pagination for flexible  data retrieval in
        dashboards, reports, and monitoring systems.
      operationId: listDevices
      x-ai-intent: device-inventory-retrieval
      x-ai-purpose: Retrieve comprehensive device inventory with filtering and
        pagination for monitoring and management
      x-ai-usage: Use when AI systems need to query device inventory, monitor device
        status, generate reports, or perform bulk operations
      parameters:
        - name: page
          in: query
          description: Page number for pagination (1-based indexing)
          required: false
          schema:
            type: integer
            format: int32
            minimum: 1
            default: 1
            example: 1
        - name: limit
          in: query
          description: Number of items per page (maximum 100)
          required: false
          schema:
            type: integer
            format: int32
            minimum: 1
            maximum: 100
            default: 50
            example: 50
        - name: search
          in: query
          description: Full-text search query to filter devices. Searches across hostname,
            MAC address,  serial number, management IP, location, model, and
            operating system fields.
          required: false
          schema:
            type: string
            minLength: 1
            maxLength: 255
            example: switch-floor-1
        - name: sort
          in: query
          description: Field name to sort results by. By default, results are sorted in
            ascending order if not explicitly specified.  Users can specify the
            sort order by using the '+' character for ascending or the '-'
            character for descending.
          required: false
          schema:
            type: string
            default: hostname
            example: connected_for+
      requestBody:
        description: Filter criteria for device list
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DeviceFilter"
            examples:
              default:
                summary: Complete filter example
                value:
                  status:
                    - CONNECTED
                  managed: true
                  managed_by_device_id:
                    - 4563273784384
                    - 43568423842
                  managed_by_type:
                    - TPME
                    - XMC
                    - XIQ_SE
                    - XIQC
                    - Locally
                    - WiNG
                    - Cloud
                    - ALL
                  location_id:
                    - 4563273123456
                  operating_system:
                    - EXOS
                    - VOSS
                  firmware:
                    - 32.7.1.4
                  model:
                    - X460-G2
                    - X690
                  classification: APPLIANCE
              complex_filters:
                summary: Multiple filter criteria
                value:
                  status:
                    - CONNECTED
                  managed: true
                  location_id:
                    - 4563273123456
                  model:
                    - X460-G2
                    - X690
                  operating_system:
                    - EXOS
                  classification: APPLIANCE
              all_filters:
                summary: All available filters
                value:
                  status:
                    - CONNECTED
                    - DISCONNECTED
                  managed: true
                  managed_by_device_id:
                    - 434636438246
                    - 434863748428
                  managed_by_type:
                    - TPME
                    - XMC
                    - XIQ_SE
                    - XIQC
                    - Locally
                    - WiNG
                    - Cloud
                    - ALL
                  location_id:
                    - 4563273123456
                    - 4563273123457
                    - 456327312348
                  operating_system:
                    - EXOS
                    - VOSS
                  firmware:
                    - 32.7.1.4
                    - 32.7.1.5
                  model:
                    - X460-G2
                    - X690
                    - AP410C
                  classification: APPLIANCE
      responses:
        "200":
          description: Successful response with paginated device list
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeviceListResponse"
              examples:
                default:
                  summary: Default response with pagination
                  value:
                    data:
                      - id: 1001
                        hostname: switch-floor-1
                        status: CONNECTED
                        managed: true
                        managed_by:
                          id: 2001
                          hostname: switch-01
                          serial_number: TPME-64E0737DEE264837B0036EA140704D25
                          device_type: TPME
                          management_ip: 192.168.1.50
                        location:
                          site: Bengaluru
                          site_id: 4402341578445
                          building: extreme office
                          building_id: 4363686872842
                          floor: first-floor
                          floor_id: 4402341578453
                        connected_for: 7200
                        mac_address: "001122334455"
                        serial_number: TPME-14EC4D564399E91176CFCE2AB2516378
                        management_ip: 192.168.1.100
                        operating_system: EXOS
                        firmware: 32.7.1.4
                        model: X460-G2
                        ipv6_address: 2001:0db8:85a3:0000:0000:8a2e:0370:7334
                      - id: 1002
                        hostname: ap-conference-room
                        status: DISCONNECTED
                        managed: false
                        location:
                          site: USA
                          site_id: 4402341578445
                          building: extreme office
                          building_id: 4363686872842
                          floor: third-floor
                          floor_id: 4402341578453
                        connected_for: null
                        mac_address: AABBCCDDEEFF
                        serial_number: "98197527351258"
                        management_ip: 192.168.2.50
                        operating_system: IQ Engine
                        firmware: 10.6r2
                        model: AP410C
                    pagination:
                      page: 1
                      limit: 50
                      total_pages: 10
                      total_items: 487
                    statistics:
                      total_count: 487
                      managed_count: 450
                      unmanaged_count: 37
                      connected_count: 425
                      disconnected_count: 62
        "400":
          $ref: "#/components/responses/400ErrorResponse"
        "401":
          $ref: "#/components/responses/401ErrorResponse"
        "403":
          $ref: "#/components/responses/403ErrorResponse"
        "405":
          $ref: "#/components/responses/405ErrorResponse"
        "500":
          $ref: "#/components/responses/500ErrorResponse"
      security:
        - BearerAuth: []
  /v1/devices/:export:
    post:
      tags:
        - Device
      x-internal: false
      summary: Export Devices List
      description: Export device data displayed on the UI in CSV format based on
        filter criteria and search parameters.
      operationId: exportDevicesList
      x-ai-intent: device-data-export
      x-ai-purpose: Export device data for analytics, reporting, and downstream processing
      x-ai-usage: Use when AI needs to extract device data for analysis, machine
        learning, or integration with external systems
      parameters:
        - name: search
          in: query
          description: Full-text search query to filter devices. Searches across hostname,
            MAC address, serial number, management IP, location, model, and
            operating system fields.
          required: false
          schema:
            type: string
            minLength: 1
            maxLength: 255
            example: switch-floor-1
        - name: sort
          in: query
          description: Field name to sort results by. By default, results are sorted in
            ascending order if not explicitly specified. Users can specify the
            sort order by using the '+' character for ascending or the '-'
            character for descending.
          required: false
          schema:
            type: string
            default: hostname
            example: connected_for+
      requestBody:
        description: Device filter criteria for exporting filtered devices
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DeviceFilter"
        required: false
      responses:
        "200":
          description: Successfully exported devices as CSV file
          content:
            text/csv:
              schema:
                type: string
                format: binary
                example: |
                  Device Name,MAC Address,Serial Number,IP Address,Model,Status,Firmware
                  Device-1,00:11:22:33:44:55,SN001,192.168.1.10,Model-X,CONNECTED,v1.0
        "400":
          $ref: "#/components/responses/400ErrorResponse"
        "401":
          $ref: "#/components/responses/401ErrorResponse"
        "403":
          $ref: "#/components/responses/403ErrorResponse"
        "405":
          $ref: "#/components/responses/405ErrorResponse"
        "500":
          $ref: "#/components/responses/500ErrorResponse"
      security:
        - BearerAuth: []
  /v1/devices/:delete:
    post:
      x-internal: false
      tags:
        - Device
      summary: Delete devices from management
      description: Removes devices from centralized management and
        inventory.  Supports bulk deletion operations with comprehensive status
        tracking.  Use with caution as this operation removes devices from
        monitoring and management oversight.
      operationId: deleteDevices
      x-ai-intent: device-lifecycle-decommissioning
      x-ai-purpose: Safely remove devices from the management platform and clean up
        associated resources
      x-ai-usage: Use when AI systems need to automate device retirement, cleanup
        workflows, and resource deallocation
      requestBody:
        description: >
          Delete device request payload.


          Request payload for removing devices from centralized management.
          Supports bulk deletion operations with optional factory reset
          capability. Critical for device lifecycle management and
          infrastructure decommissioning when devices are removed from service.
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DeleteDeviceRequestVo"
        required: true
      responses:
        "200":
          description: Device deletion operation initiated successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseEnvelopeDeleteDevice"
        "400":
          $ref: "#/components/responses/400ErrorResponse"
        "401":
          $ref: "#/components/responses/401ErrorResponse"
        "403":
          $ref: "#/components/responses/403ErrorResponse"
        "405":
          $ref: "#/components/responses/405ErrorResponse"
        "500":
          $ref: "#/components/responses/500ErrorResponse"
      security:
        - BearerAuth: []
  /v1/devices/:status:
    get:
      x-internal: false
      tags:
        - Device
      summary: Get status of delete device operation
      description: Status of Device operations.
      operationId: getDeviceStatus
      x-ai-intent: device-operation-monitoring
      x-ai-purpose: Track progress and completion status of device management
        operations for workflow automation
      x-ai-usage: Use when AI systems need to monitor long-running device operations
        and trigger subsequent workflow steps
      parameters:
        - name: task_key
          in: query
          required: true
          description: The task key of the device operation for which status is to be
            fetched.
          schema:
            type: string
      responses:
        "200":
          description: The device operation status response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseEnvelopeDeviceStatus"
        "400":
          $ref: "#/components/responses/400ErrorResponse"
        "401":
          $ref: "#/components/responses/401ErrorResponse"
        "403":
          $ref: "#/components/responses/403ErrorResponse"
        "405":
          $ref: "#/components/responses/405ErrorResponse"
        "500":
          $ref: "#/components/responses/500ErrorResponse"
      security:
        - BearerAuth: []
  /v1/devices/discovery/{device_sn}/:add:
    post:
      x-internal: false
      tags:
        - Device
      summary: Add Discovered Device to Management System
      description: Add a discovered device to the management system using its serial
        number and optional device type. This endpoint facilitates the
        onboarding of devices that have been identified on the network but are
        not yet managed.
      operationId: addDiscoveredDevice
      x-ai-intent: device-discovery-add
      x-ai-purpose: Streamline the onboarding of discovered devices into the
        management system for efficient network administration
      x-ai-usage: Use when AI systems need to facilitate the addition of discovered
        devices for improved network management and automation
      parameters:
        - name: device_sn
          in: path
          required: true
          description: |
            The serial number of the device to be discovered.
            This is a unique identifier for the device.
          schema:
            type: string
            example: TPME-64E0737DEE264837B0036EA140704D25
        - name: device_type
          in: query
          required: false
          description: >
            The type of the device to be discovered.

            This can be used to filter the discovery results based on device
            type.
          schema:
            $ref: "#/components/schemas/DeviceTypeEnum"
            example: TPME
      requestBody:
        description: Device Discovery Add request payload
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DeviceDiscoveryAddRequestVo"
        required: true
      responses:
        "200":
          description: The device discovery add response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseEnvelopeDeviceDiscoveryAdd"
        "400":
          $ref: "#/components/responses/400ErrorResponse"
        "401":
          $ref: "#/components/responses/401ErrorResponse"
        "403":
          $ref: "#/components/responses/403ErrorResponse"
        "405":
          $ref: "#/components/responses/405ErrorResponse"
        "500":
          $ref: "#/components/responses/500ErrorResponse"
      security:
        - BearerAuth: []
  /v1/devices/discovery/{device_sn}/:result:
    get:
      x-internal: false
      tags:
        - Device
      summary: Get Discovered Devices for a Device
      description: Retrieves the list of devices discovered by a specified
        device.  This endpoint provides detailed information about the devices
        that have been identified  during the discovery process, enabling
        administrators to manage and monitor network assets effectively.<br><br>
        **Deprecation Notice:** This endpoint is deprecated and will be removed
        in the future.  Please use the POST
        /v1/devices/discovery/{device_sn}/:result endpoint instead,  which
        offers enhanced filtering and search capabilities.
      operationId: getDeviceDiscoveryResultList
      deprecated: true
      x-ai-intent: device-discovery-results-list
      x-ai-purpose: Enhance network visibility and management through automated
        discovery result retrieval
      x-ai-usage: Use when AI systems need to analyze and act upon device discovery
        data for optimization and troubleshooting
      parameters:
        - name: device_sn
          in: path
          required: true
          description: |
            The serial number of the device to be discovered.
            This is a unique identifier for the device.
          schema:
            type: string
            example: TPME-64E0737DEE264837B0036EA140704D25
        - name: device_type
          in: query
          required: false
          description: >
            The type of the device to be discovered.

            This can be used to filter the discovery results based on device
            type.
          schema:
            $ref: "#/components/schemas/DeviceTypeEnum"
            example: TPME
      responses:
        "200":
          description: The device discovery result response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseEnvelopeDeviceDiscoveryResultList"
        "400":
          $ref: "#/components/responses/400ErrorResponse"
        "401":
          $ref: "#/components/responses/401ErrorResponse"
        "403":
          $ref: "#/components/responses/403ErrorResponse"
        "405":
          $ref: "#/components/responses/405ErrorResponse"
        "500":
          $ref: "#/components/responses/500ErrorResponse"
      security:
        - BearerAuth: []
    post:
      x-internal: false
      tags:
        - Device
      summary: Get Discovered Devices for a Device
      description: Retrieves the list of devices discovered by a specified
        device.  This endpoint provides detailed information about the devices
        that have been identified  during the discovery process, enabling
        administrators to manage and monitor network assets effectively.
      operationId: getDeviceDiscoveryResult
      x-ai-intent: device-discovery-results
      x-ai-purpose: Enhance network visibility and management through automated
        discovery result retrieval
      x-ai-usage: Use when AI systems need to analyze and act upon device discovery
        data for optimization and troubleshooting
      parameters:
        - name: device_sn
          in: path
          required: true
          description: |
            The serial number of the device to be discovered.
            This is a unique identifier for the device.
          schema:
            type: string
            example: TPME-64E0737DEE264837B0036EA140704D25
        - name: device_type
          in: query
          required: false
          description: >
            The type of the device to be discovered.

            This can be used to filter the discovery results based on device
            type.
          schema:
            $ref: "#/components/schemas/DeviceTypeEnum"
        - name: page
          in: query
          description: Page number for pagination (1-based indexing)
          required: false
          schema:
            type: integer
            format: int32
            minimum: 1
            default: 1
            example: 1
        - name: limit
          in: query
          description: Number of items per page (maximum 500)
          required: false
          schema:
            type: integer
            format: int32
            minimum: 1
            maximum: 500
            default: 50
            example: 50
        - name: search
          in: query
          description: Full-text search query to filter devices. Searches across
            hostname,  serial number, management IP, location, model, and
            firmware version fields.
          required: false
          schema:
            type: string
            minLength: 1
            maxLength: 255
            example: CISCO
        - name: sort
          in: query
          description: >-
            Field name to sort results by (must match the server-side sort
            fields, such as 'ip_address').
                    By default, results are sorted in ascending order if not explicitly specified. Users can specify the
                    sort order by using the '+' character for ascending or the '-' character for descending (for example,
                    'ip_address+' or 'ip_address-').
          required: false
          schema:
            type: string
            default: ip_address
            example: ip_address+
      requestBody:
        required: false
        content:
          application/json:
            schema:
              title: Device discovery filter request
              description: Filter criteria used to narrow the discovered devices returned for
                the specified device.
              allOf:
                - $ref: "#/components/schemas/DeviceDiscoveryResultFilter"
            example:
              firmware_version:
                - 1.2.3.4
              location_name:
                - Site>Building>Floor
              model:
                - CISCO
              state:
                - NEW
      responses:
        "200":
          description: The device discovery result response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseEnvelopeDeviceDiscoveryResult"
        "400":
          $ref: "#/components/responses/400ErrorResponse"
        "401":
          $ref: "#/components/responses/401ErrorResponse"
        "403":
          $ref: "#/components/responses/403ErrorResponse"
        "405":
          $ref: "#/components/responses/405ErrorResponse"
        "500":
          $ref: "#/components/responses/500ErrorResponse"
      security:
        - BearerAuth: []
  /v1/devices/discovery/{device_sn}/filters:
    get:
      x-internal: false
      tags:
        - Device
      summary: Get Device Discovery Filter Values
      description: Retrieves all available device discovery filter values aggregated
        from existing devices. Returns unique values for each filter field that
        can be used to filter the device discovery results.
      operationId: getDeviceDiscoveryResultFilter
      x-ai-intent: device-discovery-filter-retrieval
      x-ai-purpose: Retrieve available device discovery filter values
      x-ai-usage: Use to get all possible filter values for device discovery result queries
      parameters:
        - name: device_sn
          in: path
          required: true
          description: |
            The serial number of the device to be discovered.
            This is a unique identifier for the device.
          schema:
            type: string
            example: TPME-64E0737DEE264837B0036EA140704D25
        - name: device_type
          in: query
          required: false
          description: >
            The type of the device to be discovered.

            This can be used to filter the discovery results based on device
            type.
          schema:
            $ref: "#/components/schemas/DeviceTypeEnum"
            example: TPME
      responses:
        "200":
          description: Successfully retrieved device filter values
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseEnvelopeDeviceDiscoveryFilter"
              example:
                data:
                  firmware_version:
                    - 32.7.1.4
                    - 32.7.1.5
                    - 31.6.1.4
                  location_name:
                    - Site>Building>Floor
                    - US>Test>Floor2
                  model:
                    - CISCO
                    - HP
                  state:
                    - NEW
                    - EXISTS
        "401":
          $ref: "#/components/responses/401ErrorResponse"
        "403":
          $ref: "#/components/responses/403ErrorResponse"
        "405":
          $ref: "#/components/responses/405ErrorResponse"
        "500":
          $ref: "#/components/responses/500ErrorResponse"
      security:
        - BearerAuth: []
  /v1/devices/discovery/{device_sn}/:settings:
    get:
      x-internal: true
      tags:
        - Device
      summary: Device Discovery Settings
      description: Retrieves the discovery settings for a device based on its serial
        number.  This endpoint allows administrators to view and manage the
        discovery configurations  associated with a specific device,
        facilitating better network management and monitoring.
      operationId: getDeviceDiscoverySettings
      x-ai-intent: device-discovery-settings
      x-ai-purpose: Retrieve and manage device discovery configurations for automated
        network management
      x-ai-usage: Use when AI systems need to access or modify device discovery
        settings for optimization and compliance
      parameters:
        - name: device_sn
          in: path
          required: true
          description: |
            The serial number of the device to be discovered.
            This is a unique identifier for the device.
          schema:
            type: string
            example: TPME-64E0737DEE264837B0036EA140704D25
        - name: device_type
          in: query
          required: false
          description: >
            The type of the device to be discovered.

            This can be used to filter the discovery results based on device
            type.
          schema:
            $ref: "#/components/schemas/DeviceTypeEnum"
            example: TPME
      responses:
        "200":
          description: The device discovery settings response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseEnvelopeDeviceDiscoverySettings"
        "400":
          $ref: "#/components/responses/400ErrorResponse"
        "401":
          $ref: "#/components/responses/401ErrorResponse"
        "403":
          $ref: "#/components/responses/403ErrorResponse"
        "405":
          $ref: "#/components/responses/405ErrorResponse"
        "500":
          $ref: "#/components/responses/500ErrorResponse"
      security:
        - BearerAuth: []
  /v1/devices/discovery/{device_sn}/:start:
    post:
      x-internal: false
      tags:
        - Device
      summary: Start Discovery for a Device
      description: Initiates the discovery process for a specified device using its
        serial number.  This endpoint allows administrators to start device
        discovery operations  to identify and catalog devices within the
        network. It is essential for network management  and ensuring that all
        devices are accounted for and properly configured.
      operationId: startDeviceDiscovery
      x-ai-intent: device-discovery-initiation
      x-ai-purpose: Automate the initiation of device discovery processes for
        efficient network management
      x-ai-usage: Use when AI systems need to trigger and manage device discovery workflows
      parameters:
        - name: device_sn
          in: path
          required: true
          description: |
            The serial number of the device to be discovered.
            This is a unique identifier for the device.
          schema:
            type: string
            example: TPME-64E0737DEE264837B0036EA140704D25
        - name: device_type
          in: query
          required: false
          description: >
            The type of the device to be discovered.

            This can be used to filter the discovery results based on device
            type.
          schema:
            $ref: "#/components/schemas/DeviceTypeEnum"
            example: TPME
      requestBody:
        description: Device Discovery Start request payload
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DeviceDiscoveryStartRequestVo"
        required: true
      responses:
        "200":
          description: The device discovery start response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseEnvelopeDeviceDiscoveryStart"
        "400":
          $ref: "#/components/responses/400ErrorResponse"
        "401":
          $ref: "#/components/responses/401ErrorResponse"
        "403":
          $ref: "#/components/responses/403ErrorResponse"
        "405":
          $ref: "#/components/responses/405ErrorResponse"
        "500":
          $ref: "#/components/responses/500ErrorResponse"
      security:
        - BearerAuth: []
  /v1/devices/discovery/{device_sn}/:status:
    get:
      x-internal: false
      tags:
        - Device
      summary: Get Device Discovery Status
      description: Retrieve the status of device discovery operations in the
        management system. This endpoint provides information on the progress
        and results of device discovery processes.
      operationId: getDeviceDiscoveryStatus
      x-ai-intent: device-discovery-status
      x-ai-purpose: Monitor and manage the status of device discovery operations for
        effective network administration
      x-ai-usage: Use when AI systems need to track the progress and outcomes of
        device discovery processes for improved network management and
        automation
      parameters:
        - name: device_sn
          in: path
          required: true
          description: |
            The serial number of the device to be discovered.
            This is a unique identifier for the device.
          schema:
            type: string
            example: TPME-64E0737DEE264837B0036EA140704D25
        - name: device_type
          in: query
          required: false
          description: >
            The type of the device to be discovered.

            This can be used to filter the discovery results based on device
            type.
          schema:
            $ref: "#/components/schemas/DeviceTypeEnum"
            example: TPME
      responses:
        "200":
          description: The device discovery status response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseEnvelopeDeviceDiscoveryStatus"
        "400":
          $ref: "#/components/responses/400ErrorResponse"
        "401":
          $ref: "#/components/responses/401ErrorResponse"
        "403":
          $ref: "#/components/responses/403ErrorResponse"
        "405":
          $ref: "#/components/responses/405ErrorResponse"
        "500":
          $ref: "#/components/responses/500ErrorResponse"
      security:
        - BearerAuth: []
  /v1/devices/discovery/{device_sn}/:stop:
    post:
      x-internal: false
      tags:
        - Device
      summary: Stop Discovery for a Device
      description: Stops the ongoing discovery process for a specified device.  This
        endpoint allows administrators to halt device discovery operations  that
        are no longer needed or were initiated in error. It ensures that network
        resources  are conserved and prevents unnecessary processing.
      operationId: stopDeviceDiscovery
      x-ai-intent: device-discovery-termination
      x-ai-purpose: Automate the stopping of device discovery processes to conserve
        resources and prevent unnecessary operations
      x-ai-usage: Use when AI systems need to halt or terminate ongoing device
        discovery workflows
      parameters:
        - name: device_sn
          in: path
          required: true
          description: |
            The serial number of the device to be discovered.
            This is a unique identifier for the device.
          schema:
            type: string
            example: TPME-64E0737DEE264837B0036EA140704D25
        - name: device_type
          in: query
          required: false
          description: >
            The type of the device to be discovered.

            This can be used to filter the discovery results based on device
            type.
          schema:
            $ref: "#/components/schemas/DeviceTypeEnum"
            example: TPME
      responses:
        "200":
          description: The device discovery stop response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseEnvelopeDeviceDiscoveryStop"
        "400":
          $ref: "#/components/responses/400ErrorResponse"
        "401":
          $ref: "#/components/responses/401ErrorResponse"
        "403":
          $ref: "#/components/responses/403ErrorResponse"
        "405":
          $ref: "#/components/responses/405ErrorResponse"
        "500":
          $ref: "#/components/responses/500ErrorResponse"
      security:
        - BearerAuth: []
  /v1/devices/filters:
    get:
      x-internal: false
      tags:
        - Device
      summary: Get all available device filters
      description: Retrieves all available device filter values aggregated from
        existing devices. Returns unique values for each filter field that can
        be used to filter the device list.
      operationId: listDeviceFilters
      x-ai-intent: filter-management-retrieval
      x-ai-purpose: Retrieve available device filter values
      x-ai-usage: Use to get all possible filter values for device queries
      responses:
        "200":
          description: Successfully retrieved device filter values
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeviceFilterListResponse"
              example:
                data:
                  status:
                    - CONNECTED
                    - DISCONNECTED
                  model:
                    - X460-G2
                    - X690
                    - X870
                  location_id:
                    - 4563273123456
                    - 4563273123457
                    - 4563273123458
                  firmware:
                    - 32.7.1.4
                    - 32.7.1.5
                    - 31.6.1.4
                  operating_system:
                    - EXOS
                    - VOSS
                    - IQ_ENGINE
                  managed_by_type:
                    - TPME
                    - Cloud
                  managed_by_device_id:
                    - 4563273784384
                    - 4356842384259
        "401":
          $ref: "#/components/responses/401ErrorResponse"
        "403":
          $ref: "#/components/responses/403ErrorResponse"
        "405":
          $ref: "#/components/responses/405ErrorResponse"
        "500":
          $ref: "#/components/responses/500ErrorResponse"
      security:
        - BearerAuth: []
    post:
      x-internal: false
      tags:
        - Device
      summary: Get device filter metadata
      description: Retrieves available device filter values scoped to a specific
        device classification. Returns unique filter values aggregated from
        existing devices matching the given classification.
      operationId: listDeviceFilterMetadata
      x-ai-intent: filter-management-retrieval
      x-ai-purpose: Retrieve device filter values scoped by device classification
      x-ai-usage: Use to get filter values for a specific device classification
        (APPLIANCE or THIRDPARTY)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DeviceFilterMetadataRequest"
            example:
              device_classification: APPLIANCE
      responses:
        "200":
          description: Successfully retrieved device filter values for the given
            classification
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeviceFilterMetadataResponse"
              example:
                data:
                  status:
                    - CONNECTED
                    - DISCONNECTED
                  firmware:
                    - 32.7.1.4
                    - 32.7.1.5
                  operating_system:
                    - EXOS
                    - VOSS
                  model:
                    - X460-G2
                    - X690
                  network_policy:
                    - id: 1
                      name: Policy A
                    - id: 2
                      name: Policy B
        "400":
          $ref: "#/components/responses/400ErrorResponse"
        "401":
          $ref: "#/components/responses/401ErrorResponse"
        "403":
          $ref: "#/components/responses/403ErrorResponse"
        "405":
          $ref: "#/components/responses/405ErrorResponse"
        "500":
          $ref: "#/components/responses/500ErrorResponse"
      security:
        - BearerAuth: []
  /v1/devices/images/:download:
    get:
      x-internal: false
      tags:
        - Device
      summary: Download Deployment Image
      description: Download the deployment OVA image for a specific application type
        and deployment type directly into the service's pod.
      operationId: downloadOvaImage
      x-ai-intent: deployment-image-download
      x-ai-purpose: Provide deployment OVA images for automation workflows
      x-ai-usage: Use when AI systems need to retrieve deployment OVA images for
        specific applications
      parameters:
        - name: device_type
          in: query
          description: The application type for which the OVA image is to be downloaded.
          schema:
            $ref: "#/components/schemas/DeviceTypeEnum"
            default: TPME
        - name: deploy_type
          in: query
          description: The deployment type for which the OVA image is to be downloaded.
          schema:
            $ref: "#/components/schemas/DeployTypeEnum"
            default: VMWARE
        - name: image_name
          in: query
          description: The specific image name of the OVA image to be downloaded.
          schema:
            type: string
            example: tpme_1.0.0.86.ova
            default: tpme_1.0.0.86.ova
      responses:
        "200":
          description: Successfully served the deployment OVA image URL to the UI
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseEnvelopeDownloadOvaImage"
        "400":
          $ref: "#/components/responses/400ErrorResponse"
        "401":
          $ref: "#/components/responses/401ErrorResponse"
        "403":
          $ref: "#/components/responses/403ErrorResponse"
        "404":
          $ref: "#/components/responses/404ErrorResponse"
        "405":
          $ref: "#/components/responses/405ErrorResponse"
        "500":
          $ref: "#/components/responses/500ErrorResponse"
        "502":
          $ref: "#/components/responses/502ErrorResponse"
      security:
        - BearerAuth: []
  /v1/devices/images/:retrieve:
    get:
      x-internal: false
      tags:
        - Device
      summary: Retrieve Deployment Image Details
      description: Fetches the latest details of deployment images for a specific
        application type.  Provides information about available deployment
        images for the given application.
      operationId: getDeploymentImageDetails
      x-ai-intent: deployment-image-retrieval
      x-ai-purpose: Retrieve deployment image details for automation workflows
      x-ai-usage: Use when AI systems need to fetch latest deployment image details
        for specific applications
      parameters:
        - name: device_type
          in: query
          description: The application type for which deployment image details are to be
            fetched.
          schema:
            $ref: "#/components/schemas/DeviceTypeEnum"
            default: TPME
      responses:
        "200":
          description: Successfully retrieved deployment image details
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseEnvelopeDeploymentImage"
        "400":
          $ref: "#/components/responses/400ErrorResponse"
        "401":
          $ref: "#/components/responses/401ErrorResponse"
        "403":
          $ref: "#/components/responses/403ErrorResponse"
        "405":
          $ref: "#/components/responses/405ErrorResponse"
        "500":
          $ref: "#/components/responses/500ErrorResponse"
      security:
        - BearerAuth: []
  /v1/devices/onboard/appliance:
    post:
      x-internal: false
      tags:
        - Device
      summary: Onboard appliances to management platform
      description: Initiates the onboarding process for appliance devices. Handles
        device discovery,  authentication, and initial configuration for
        centralized device management.
      operationId: onboardAppliances
      x-ai-intent: device-lifecycle-onboarding
      x-ai-purpose: Automate onboarding of appliance devices into the management platform
      x-ai-usage: Use when AI systems need to automatically discover, register, and
        configure appliance devices
      requestBody:
        description: >
          Device Onboard request payload.


          Request payload for onboarding appliance devices (universal compute
          platforms) into the network management system. Contains device
          identification, location assignment, and validation parameters
          required for automated provisioning. Critical for bulk appliance
          device deployment and infrastructure expansion operations.
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ApplianceOnboardingRequestVo"
        required: true
      responses:
        "200":
          description: Appliance device onboarding initiated successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseEnvelopeOnboardingInfo"
        "400":
          $ref: "#/components/responses/400ErrorResponse"
        "401":
          $ref: "#/components/responses/401ErrorResponse"
        "403":
          $ref: "#/components/responses/403ErrorResponse"
        "405":
          $ref: "#/components/responses/405ErrorResponse"
        "500":
          $ref: "#/components/responses/500ErrorResponse"
      security:
        - BearerAuth: []
  /v1/devices/onboard/device-info:
    get:
      x-internal: false
      tags:
        - Device
      summary: Product Info for Devices
      description: Product info of the serial numbers based on the selected device make.
      operationId: getDeviceInfo
      x-ai-intent: device-discovery-validation
      x-ai-purpose: Validate and retrieve device specifications before onboarding to
        ensure compatibility
      x-ai-usage: Use when AI needs to verify device capabilities, compatibility, and
        specifications during automated discovery
      parameters:
        - name: device_make
          in: query
          required: true
          description: The device make for which the product info is to be fetched.
          schema:
            $ref: "#/components/schemas/DeviceMakeEnum"
        - name: serial_numbers
          in: query
          required: true
          description: The serial numbers for which the product info is to be fetched.
          schema:
            type: array
            items:
              type: string
      responses:
        "200":
          description: Device product info response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseEnvelopeDeviceInfo"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseEnvelopeSnError"
        "401":
          $ref: "#/components/responses/401ErrorResponse"
        "403":
          $ref: "#/components/responses/403ErrorResponse"
        "405":
          $ref: "#/components/responses/405ErrorResponse"
        "500":
          $ref: "#/components/responses/500ErrorResponse"
      security:
        - BearerAuth: []
  /v1/devices/onboard/import-xlsx:
    post:
      x-internal: false
      tags:
        - Device
      summary: Onboarding of Bulk Devices
      description: Onboarding of Bulk Devices via XLSX file - Switch Engine/EXOS,
        Fabric Engine/VOSS, AP.
      operationId: importXlsx
      x-ai-intent: device-bulk-onboarding
      x-ai-purpose: Efficiently onboard large numbers of devices through batch
        processing and file-based workflows
      x-ai-usage: Use when AI systems need to process bulk device registrations, mass
        deployments, and automated provisioning
      parameters:
        - name: auth_header
          in: header
          required: false
          schema:
            type: string
          description: The authorization token from the UI.
        - name: network_policy_id
          in: query
          required: false
          schema:
            type: integer
            format: int64
          description: The ID of the network policy to associate with the device (optional).
        - name: location_id
          in: query
          required: false
          schema:
            type: integer
            format: int64
          description: The ID of the location to associate with the device (optional).
        - name: license_type
          in: query
          required: false
          schema:
            $ref: "#/components/schemas/LicenseTypeEnum"
          description: The type of license to be applied to the device (optional).
        - name: managed_by
          in: query
          required: false
          schema:
            $ref: "#/components/schemas/ManagingDeviceType"
          description: The type of device that manages this device.
          example: CONTROLLER
          x-ai-context: Type of device managing this device
        - name: primary_controller
          in: query
          required: false
          schema:
            type: string
          description: Primary controller IP address for controller managed APs (optional).
          example: 10.16.231.125
          x-ai-context: Primary controller IP address for controller managed APs
        - name: backup_controller
          in: query
          required: false
          schema:
            type: string
          description: Backup controller IP address for controller managed APs (optional).
          example: 10.16.231.126
          x-ai-context: Backup controller IP address for controller managed APs
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - file
              properties:
                file:
                  type: string
                  format: binary
                  description: The XLSX file to be imported.
                  pattern: .*\.xlsx$
      responses:
        "200":
          description: Device Bulk Onboard response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseEnvelopeOnboardingInfo"
        "400":
          $ref: "#/components/responses/400ErrorResponse"
        "401":
          $ref: "#/components/responses/401ErrorResponse"
        "403":
          $ref: "#/components/responses/403ErrorResponse"
        "405":
          $ref: "#/components/responses/405ErrorResponse"
        "413":
          $ref: "#/components/responses/413ErrorResponse"
        "415":
          $ref: "#/components/responses/415ErrorResponse"
        "500":
          $ref: "#/components/responses/500ErrorResponse"
      security:
        - BearerAuth: []
  /v1/devices/onboard/import-xlsx/:sample:
    get:
      tags:
        - Device
      summary: Download device onboarding XLSX template
      description: Downloads a sample XLSX template file for bulk device
        onboarding.  The template includes proper column headers and example
        data to guide  users in preparing their device import files.
      operationId: downloadXlsxTemplate
      x-ai-intent: device-bulk-onboarding
      x-ai-purpose: |
        Provide standardized template for bulk device onboarding to ensure
        data consistency and reduce onboarding errors in automated workflows
      x-ai-usage: |
        Use when AI systems need to generate or validate bulk onboarding data,
        or when automating template-based device import processes
      responses:
        "200":
          description: XLSX template file for device onboarding
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
                description: XLSX template file for device onboarding
        "401":
          $ref: "#/components/responses/401ErrorResponse"
        "403":
          $ref: "#/components/responses/403ErrorResponse"
        "405":
          $ref: "#/components/responses/405ErrorResponse"
        "500":
          $ref: "#/components/responses/500ErrorResponse"
      security:
        - BearerAuth: []
  /v1/devices/onboard/status:
    get:
      x-internal: false
      tags:
        - Device
      summary: Retrieve device onboarding status by task key
      description: Returns the current status and progress of device onboarding
        operations.  Provides real-time monitoring of onboarding tasks,
        including completion status,  error information, and progress
        indicators. Essential for tracking bulk device operations.
      operationId: getStatus
      x-ai-intent: device-lifecycle-monitoring
      x-ai-purpose: Track and monitor device onboarding progress and status for
        automation workflows
      x-ai-usage: Use when AI systems need to monitor onboarding completion, handle
        failures, and trigger next steps
      parameters:
        - name: task_key
          in: query
          required: true
          description: The task key of the onboarded device for which status is to be
            fetched.
          schema:
            type: string
      responses:
        "200":
          description: Successfully retrieved device onboarding status
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseEnvelopeOnboardingStatus"
        "400":
          $ref: "#/components/responses/400ErrorResponse"
        "401":
          $ref: "#/components/responses/401ErrorResponse"
        "403":
          $ref: "#/components/responses/403ErrorResponse"
        "405":
          $ref: "#/components/responses/405ErrorResponse"
        "500":
          $ref: "#/components/responses/500ErrorResponse"
      security:
        - BearerAuth: []
  /v1/devices/onboard/controller:
    post:
      x-internal: false
      tags:
        - Device
      summary: Onboard controllers to management platform
      description: Initiates the onboarding process for controllers. Handles device
        discovery, authentication, and initial configuration for centralized
        controller management.
      operationId: onboardControllers
      x-ai-intent: device-lifecycle-onboarding
      x-ai-purpose: Automate onboarding of controllers into the management platform
      x-ai-usage: Use when AI systems need to automatically discover, register, and
        configure controllers
      requestBody:
        description: "Controller Onboard request payload. Request payload for onboarding
          one or more controllers into the network management system. Each
          device entry contains a serial number (Lock ID), MAC address, device
          make, and an optional location assignment. Note: Network Policy is not
          applicable for controller onboarding. If no location is specified for
          a device, a default location is automatically assigned."
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ControllerOnboardingRequestVo"
        required: true
      responses:
        "200":
          description: Controller onboarding initiated successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseEnvelopeOnboardingInfo"
        "400":
          $ref: "#/components/responses/400ErrorResponse"
        "401":
          $ref: "#/components/responses/401ErrorResponse"
        "403":
          $ref: "#/components/responses/403ErrorResponse"
        "405":
          $ref: "#/components/responses/405ErrorResponse"
        "500":
          $ref: "#/components/responses/500ErrorResponse"
      security:
        - BearerAuth: []
  /v1/devices/onboard/wired:
    post:
      x-internal: false
      tags:
        - Device
      summary: Onboard wired devices to management platform
      description: Initiates the onboarding process for wired devices
        including  Switch Engine/EXOS and Fabric Engine/VOSS platforms. Handles
        device discovery,  authentication, and initial configuration for
        centralized network management.
      operationId: onboardWiredDevices
      x-ai-intent: device-lifecycle-onboarding
      x-ai-purpose: Automate onboarding of wired network devices into the management platform
      x-ai-usage: Use when AI systems need to automatically discover, register, and
        configure wired devices
      requestBody:
        description: Device Onboard request payload. Request payload for onboarding
          wired network devices (switches, routers, controllers) into the
          network management system. Contains device identification, location
          assignment, policy configuration, and licensing parameters for
          automated wired infrastructure provisioning. Critical for network
          infrastructure deployment and campus network expansion operations.
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/WiredDeviceOnboardingRequestVo"
        required: true
      responses:
        "200":
          description: Wired device onboarding initiated successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseEnvelopeOnboardingInfo"
        "400":
          $ref: "#/components/responses/400ErrorResponse"
        "401":
          $ref: "#/components/responses/401ErrorResponse"
        "403":
          $ref: "#/components/responses/403ErrorResponse"
        "405":
          $ref: "#/components/responses/405ErrorResponse"
        "500":
          $ref: "#/components/responses/500ErrorResponse"
      security:
        - BearerAuth: []
  /v1/devices/onboard/wireless:
    post:
      x-internal: false
      tags:
        - Device
      summary: Onboard wireless devices to IQEngine
      description: Initiates the onboarding process for wireless devices to the
        IQEngine platform.  Handles device discovery, authentication, and
        initial configuration.  Essential for bringing wireless devices under
        centralized management.
      operationId: onboardWirelessDevices
      x-ai-intent: device-lifecycle-onboarding
      x-ai-purpose: Automate onboarding of wireless network devices into the
        management platform
      x-ai-usage: Use when AI systems need to automatically discover, register, and
        configure wireless access points
      requestBody:
        description: Device Onboard request payload. Request payload for onboarding
          wireless access points and related devices into the network management
          system. Contains device identification, location assignment, policy
          configuration, and licensing parameters required for automated
          provisioning. Critical for bulk wireless device deployment and network
          expansion operations.
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/WirelessDeviceOnboardingRequestVo"
        required: true
      responses:
        "200":
          description: Wireless device onboarding initiated successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseEnvelopeOnboardingInfo"
        "400":
          $ref: "#/components/responses/400ErrorResponse"
        "401":
          $ref: "#/components/responses/401ErrorResponse"
        "403":
          $ref: "#/components/responses/403ErrorResponse"
        "405":
          $ref: "#/components/responses/405ErrorResponse"
        "500":
          $ref: "#/components/responses/500ErrorResponse"
      security:
        - BearerAuth: []
  /v1/devices/onboard/controller-managed:
    post:
      x-internal: false
      tags:
        - Device
      summary: Onboard controller managed devices to Platform One
      description: Initiates the onboarding process for controller managed devices to
        the Platform One.  Handles device discovery, authentication, and initial
        configuration.  Essential for bringing controller managed devices under
        centralized management.
      operationId: onboardControllerManagedDevices
      x-ai-intent: device-lifecycle-onboarding
      x-ai-purpose: Automate onboarding of controller managed devices into the
        management platform
      x-ai-usage: Use when AI systems need to automatically discover, register, and
        configure controller managed access points
      requestBody:
        description: Device Onboard request payload. Request payload for onboarding
          controller-managed devices into the network management system.
          Contains serial numbers and controller assignments for redundancy and
          failover.
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CtrlManagedDeviceOnboardingRequestVo"
        required: true
      responses:
        "200":
          description: Controller managed device onboarding initiated successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseEnvelopeOnboardingInfo"
        "400":
          $ref: "#/components/responses/400ErrorResponse"
        "401":
          $ref: "#/components/responses/401ErrorResponse"
        "403":
          $ref: "#/components/responses/403ErrorResponse"
        "405":
          $ref: "#/components/responses/405ErrorResponse"
        "500":
          $ref: "#/components/responses/500ErrorResponse"
      security:
        - BearerAuth: []
  /v1/devices/rulesengine/action-types:
    get:
      x-internal: false
      tags:
        - Device
      summary: Get rules engine action types
      description: Retrieves the list of action types that can be configured and
        executed by the rules engine when rule conditions are met, such as
        assigning devices to sites, applying configuration profiles, or
        upgrading firmware. The verbose parameter controls whether detailed
        capability information is included in the response.
      operationId: getActionTypes
      x-ai-intent: rules-engine-capabilities-actions
      x-ai-purpose: Discover available automated actions that can be executed when
        rule conditions are satisfied
      x-ai-usage: Use when AI systems need to understand supported automation
        capabilities for device operations like configuration, site assignment,
        or firmware management
      parameters:
        - name: verbose
          in: query
          required: false
          schema:
            type: boolean
            default: false
          description: When true, returns detailed information about each action type
            including descriptions and examples; when false, returns a simple
            list of action types.
      responses:
        "200":
          description: Successfully retrieved the list of action types. Response includes
            a list array with action type names, and a details array with
            detailed capability information when verbose=true.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RulesEngineCapabilityTypesVo"
              examples:
                simple_list:
                  summary: Simple list of action types (verbose=false)
                  value:
                    list:
                      - DEVICE_ASSIGN_SITE
                      - DEVICE_ASSIGN_CONFIGURATION_PROFILE
                      - DEVICE_UPGRADE_FIRMWARE_SWITCH_ENGINE
                details_list:
                  summary: Detailed information about action types (verbose=true)
                  value:
                    details:
                      - type: DEVICE_ASSIGN_SITE
                        description: Assign site to the device
                        usage_example: "Site Id: 6724913580"
        "400":
          $ref: "#/components/responses/400ErrorResponse"
        "401":
          $ref: "#/components/responses/401ErrorResponse"
        "403":
          $ref: "#/components/responses/403ErrorResponse"
        "405":
          $ref: "#/components/responses/405ErrorResponse"
        "500":
          $ref: "#/components/responses/500ErrorResponse"
      security:
        - BearerAuth: []
  /v1/devices/rulesengine/condition-fields:
    get:
      x-internal: false
      tags:
        - Device
      summary: Get rules engine condition fields
      description: Retrieves the list of device fields that can be used as condition
        fields in rules engine rules, such as device operating system, model,
        hostname, and IP subnet. Each field includes information about supported
        operation types (e.g., equals, contains, in range) that can be applied
        when creating rule conditions.
      operationId: getConditionFields
      x-ai-intent: rules-engine-capabilities-fields
      x-ai-purpose: Discover available device attributes that can be used in rule
        condition expressions
      x-ai-usage: Use when AI systems need to understand which device properties are
        available for rule evaluation, including their data types and supported
        operations
      responses:
        "200":
          description: Successfully retrieved an array of condition fields, each
            containing the field name, data type, and supported operations for
            rule conditions
          content:
            application/json:
              schema:
                type: array
                description: The available condition fields that can be used with this
                  capability
                items:
                  $ref: "#/components/schemas/RulesEngineFieldDetailVo"
              examples:
                condition_fields:
                  summary: Available condition fields with supported operations
                  value:
                    - field_name: DEVICE_OPERATING_SYSTEM
                      operation_types:
                        - STRING_EQUALS
                        - STRING_NOT_EQUALS
                      description: Supported OS types are Switch Engine, Fabric Engine, Wireless, TPME
                    - field_name: DEVICE_IP_SUBNET
                      operation_types:
                        - IPV4_SUBNET_IN
                        - IPV6_SUBNET_NOT_IN
                      description: The IP subnet of the device in CIDR notation (IPv4 or IPv6), e.g.,
                        192.168.1.0/24 or 2001:db8:1234::/48
        "400":
          $ref: "#/components/responses/400ErrorResponse"
        "401":
          $ref: "#/components/responses/401ErrorResponse"
        "403":
          $ref: "#/components/responses/403ErrorResponse"
        "405":
          $ref: "#/components/responses/405ErrorResponse"
        "500":
          $ref: "#/components/responses/500ErrorResponse"
      security:
        - BearerAuth: []
  /v1/devices/rulesengine/operation-types:
    get:
      x-internal: false
      tags:
        - Device
      summary: Get rules engine operation types
      description: Retrieves the list of operation types that can be used to evaluate
        rule conditions, including numeric comparisons (equal, not equal, less
        than, greater than, range checks), string operations (equal, contains,
        starts with, ends with, regex matching), and network operations (IPv4
        subnet matching). The verbose parameter controls whether detailed
        capability information is included in the response.
      operationId: getOperationTypes
      x-ai-intent: rules-engine-capabilities-operations
      x-ai-purpose: Discover available condition evaluation operators for building rule logic
      x-ai-usage: Use when AI systems need to understand supported comparison and
        matching operations for constructing rule conditions dynamically
      parameters:
        - name: verbose
          in: query
          required: false
          schema:
            type: boolean
            default: false
          description: When true, returns detailed information about each operation type
            including descriptions and examples; when false, returns a simple
            list of operation types.
      responses:
        "200":
          description: Successfully retrieved the list of operation types. Response
            includes a list array with operation type names, and a details array
            with detailed capability information when verbose=true.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RulesEngineCapabilityTypesVo"
              examples:
                simple_list:
                  summary: Simple list of operation types (verbose=false)
                  value:
                    list:
                      - STRING_EQUALS
                      - NUMBER_EQUALS
                      - IPV4_SUBNET_IN
                details_list:
                  summary: Detailed information about operation types (verbose=true)
                  value:
                    details:
                      - type: STRING_EQUALS
                        description: Checks field is equal to given text
                        usage_example: Field hostName == 'test'
        "400":
          $ref: "#/components/responses/400ErrorResponse"
        "401":
          $ref: "#/components/responses/401ErrorResponse"
        "403":
          $ref: "#/components/responses/403ErrorResponse"
        "405":
          $ref: "#/components/responses/405ErrorResponse"
        "500":
          $ref: "#/components/responses/500ErrorResponse"
      security:
        - BearerAuth: []
  /v1/devices/rulesengine/rules:
    post:
      x-internal: false
      tags:
        - Device
      summary: Create a new rules engine rule
      description: Creates a new rules engine rule with the specified configuration,
        including name, description, enabled status, condition definitions that
        determine when the rule triggers, and action configurations that execute
        when conditions are met. The rule is created with higher priority than
        existing rules. Returns the unique identifier of the newly created rule
        upon success.
      operationId: createRules
      x-ai-intent: rules-engine-create
      x-ai-purpose: Create automated device management rules that evaluate conditions
        and execute actions based on device attributes
      x-ai-usage: Use when AI systems need to establish automation workflows for
        device onboarding, configuration, or lifecycle management based on
        dynamic conditions
      requestBody:
        description: The new rule configuration including name, description, enabled
          status, conditions that trigger the rule, and actions to execute
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RulesEngineCreateRulesRequestVo"
            examples:
              device_auto_assignment:
                summary: Auto-assign devices by OS to site
                description: Automatically assign devices with specific OS to a site location
                value:
                  name: All Switch Engines to Site A
                  description: Automatically assign all Switch Engine devices to Site A
                  enabled: true
                  conditions:
                    - field_name: DEVICE_OPERATING_SYSTEM
                      operation_type: STRING_CONTAINS
                      value: Switch Engine
                  actions:
                    - type: DEVICE_ASSIGN_SITE
                      value: "6724913580"
              model_based_config:
                summary: Apply config profile based on device model
                description: Apply specific configuration profile to devices matching model
                  pattern
                value:
                  name: AP630 Configuration Profile Assignment
                  description: Applies standard AP630 configuration profile to all AP630 series
                    access points
                  enabled: true
                  conditions:
                    - field_name: DEVICE_MODEL
                      operation_type: STRING_STARTS_WITH
                      value: AP630
                  actions:
                    - type: DEVICE_ASSIGN_CONFIGURATION_PROFILE
                      value: a1b2c3d4-e5f6-7890-1234-567890abcdef
              subnet_firmware_upgrade:
                summary: Firmware upgrade for specific subnet
                description: Automatically upgrade firmware for devices in specific IP subnet
                value:
                  name: Guest Network Firmware Upgrade
                  description: Upgrades firmware to latest stable version for all devices in guest
                    network subnet
                  enabled: true
                  conditions:
                    - field_name: DEVICE_IP_SUBNET
                      operation_type: IPV4_SUBNET_IN
                      value: 192.168.100.0/24
                  actions:
                    - type: DEVICE_UPGRADE_FIRMWARE_SWITCH_ENGINE
                      value: 10.6.2.0
      responses:
        "200":
          description: Successfully created the rule. Returns an object containing the
            unique identifier (id) assigned to the newly created rule, which can
            be used for subsequent retrieval, update, or deletion operations.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RulesEngineRuleIdVo"
              examples:
                created_rule:
                  summary: Successfully created rule
                  value:
                    id: 12345
        "400":
          $ref: "#/components/responses/400ErrorResponse"
        "401":
          $ref: "#/components/responses/401ErrorResponse"
        "403":
          $ref: "#/components/responses/403ErrorResponse"
        "405":
          $ref: "#/components/responses/405ErrorResponse"
        "500":
          $ref: "#/components/responses/500ErrorResponse"
      security:
        - BearerAuth: []
  /v1/devices/rulesengine/rules/:delete:
    post:
      x-internal: false
      tags:
        - Device
      summary: Delete rules engine rules
      description: Deletes one or more rules engine rules from the system using their
        unique identifiers. This operation permanently removes the specified
        rules along with their associated conditions and actions. Accepts an
        array of rule IDs in the request body and returns a status code
        indicating the result of the deletion operation.
      operationId: deleteRules
      x-ai-intent: rules-engine-delete
      x-ai-purpose: Remove obsolete or redundant automation rules to maintain clean
        rule configurations
      x-ai-usage: Use when AI systems need to clean up deprecated rules, remove
        conflicting automation, or streamline rule sets for optimal performance
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RulesEngineDeleteRulesRequestVo"
            examples:
              delete_single_rule:
                summary: Delete a single rule
                description: Delete one rule by providing its ID
                value:
                  ids:
                    - 12345
              delete_multiple_rules:
                summary: Delete multiple rules
                description: Delete multiple rules in a single request
                value:
                  ids:
                    - 12345
                    - 12346
                    - 12347
      responses:
        "200":
          description: OK
        "400":
          $ref: "#/components/responses/400ErrorResponse"
        "401":
          $ref: "#/components/responses/401ErrorResponse"
        "403":
          $ref: "#/components/responses/403ErrorResponse"
        "405":
          $ref: "#/components/responses/405ErrorResponse"
        "500":
          $ref: "#/components/responses/500ErrorResponse"
      security:
        - BearerAuth: []
  /v1/devices/rulesengine/rules/:list:
    get:
      x-internal: false
      tags:
        - Device
      summary: Get a paginated list of rules engine rules
      description: Retrieves a paginated list of rules engine rules with their
        complete configurations, including rule IDs, names, descriptions,
        enabled status, execution sequences, condition definitions, and action
        configurations. Supports pagination through page and limit query
        parameters.
      operationId: getRulesList
      x-ai-intent: rules-engine-list
      x-ai-purpose: Retrieve and analyze all configured automation rules for device
        management workflows
      x-ai-usage: Use when AI systems need to audit existing automation rules,
        identify redundancies, or analyze rule coverage across device
        populations
      parameters:
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/limit"
        - name: sort_by
          in: query
          description: The field to sort the rules. Default sorting is by SEQUENCE in DESC
            order
          required: false
          schema:
            $ref: "#/components/schemas/RulesEngineSortByEnum"
        - name: order
          in: query
          description: The sort order
          required: false
          schema:
            $ref: "#/components/schemas/SortOrder"
        - name: search
          in: query
          description: The search term to filter rules. Supports search on name
          required: false
          schema:
            type: string
        - name: enabled
          in: query
          description: Filter rules by their enabled status
          required: false
          schema:
            type: boolean
      responses:
        "200":
          description: Successfully retrieved the paginated list of rules. Response
            includes pagination metadata (page, limit, total count) and a data
            array containing rule objects with their IDs and full
            configurations.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RulesEngineGetRulesListResponseVo"
              examples:
                rules_list:
                  summary: List of rules with pagination
                  value:
                    page: 1
                    count: 2
                    total_count: 3
                    total_pages: 2
                    db_count: 3
                    data:
                      - id: 12345
                        create_time: 2023-12-13T10:00:00Z
                        update_time: 2023-12-13T15:00:00Z
                        name: All Switch Engines to Site A
                        description: Automatically assign all Switch Engine devices to Site A
                        is_default: false
                        enabled: true
                        sequence: 10
                        conditions:
                          - field_name: DEVICE_OPERATING_SYSTEM
                            operation_type: STRING_CONTAINS
                            value: Switch Engine
                        actions:
                          - type: DEVICE_ASSIGN_SITE
                            value: "6724913580"
                            message: Site A
                      - id: 12346
                        create_time: 2023-12-13T10:10:00Z
                        update_time: 2023-12-13T15:05:00Z
                        name: AP630 Configuration Profile Assignment
                        description: Applies standard AP630 configuration profile to all AP630 series
                          access points
                        is_default: false
                        enabled: true
                        sequence: 20
                        conditions:
                          - field_name: DEVICE_MODEL
                            operation_type: STRING_STARTS_WITH
                            value: AP630
                        actions:
                          - type: DEVICE_ASSIGN_CONFIGURATION_PROFILE
                            value: a1b2c3d4-e5f6-7890-1234-567890abcdef
                            message: AP630 Profile
        "400":
          $ref: "#/components/responses/400ErrorResponse"
        "401":
          $ref: "#/components/responses/401ErrorResponse"
        "403":
          $ref: "#/components/responses/403ErrorResponse"
        "405":
          $ref: "#/components/responses/405ErrorResponse"
        "500":
          $ref: "#/components/responses/500ErrorResponse"
      security:
        - BearerAuth: []
  /v1/devices/rulesengine/rules/:reorder:
    put:
      x-internal: false
      tags:
        - Device
      summary: Reorder rules engine rules
      description: Reorders one or more rules engine rules by updating their sequence
        positions to control rule evaluation priority and execution order.
        Higher sequence numbers have higher priority in rule evaluation.
      operationId: reorderRules
      x-ai-intent: rules-engine-reorder
      x-ai-purpose: Reorder automation rules to optimize rule evaluation sequence and
        improve performance
      x-ai-usage: Use when AI systems need to adjust rule priority, optimize rule
        execution order, or reorganize rules based on usage patterns and
        dependencies
      requestBody:
        content:
          application/json:
            schema:
              type: array
              description: Array of rules with their new sequence positions for reordering.
                Rules are evaluated in descending sequence order.
              items:
                $ref: "#/components/schemas/RulesEngineReorderRulesRequestVo"
            examples:
              reorder_single_rule:
                summary: Reorder a single rule
                description: Update the sequence position of a single rule
                value:
                  - id: 12345
                    sequence: 1
              reorder_multiple_rules:
                summary: Reorder multiple rules
                description: Update sequence positions for multiple rules to change their
                  evaluation order
                value:
                  - id: 12345
                    sequence: 1
                  - id: 67890
                    sequence: 2
                  - id: 54321
                    sequence: 3
      responses:
        "200":
          description: OK
        "400":
          $ref: "#/components/responses/400ErrorResponse"
        "401":
          $ref: "#/components/responses/401ErrorResponse"
        "403":
          $ref: "#/components/responses/403ErrorResponse"
        "405":
          $ref: "#/components/responses/405ErrorResponse"
        "500":
          $ref: "#/components/responses/500ErrorResponse"
      security:
        - BearerAuth: []
  /v1/devices/rulesengine/rules/{id}:
    get:
      x-internal: false
      tags:
        - Device
      summary: Get a rules engine rule by ID
      description: Retrieves the complete details of a rules engine rule by its unique
        identifier, including base entity fields (id, creation/modification
        timestamps), name, description, enabled status, execution sequence,
        condition definitions, and action configurations.
      operationId: getRules
      x-ai-intent: rules-engine-retrieve
      x-ai-purpose: Retrieve detailed configuration of a specific automation rule for
        inspection or modification
      x-ai-usage: Use when AI systems need to examine rule details, verify
        configurations, or prepare for rule updates
      parameters:
        - $ref: "#/components/parameters/id-int64"
      responses:
        "200":
          description: Successfully retrieved the rule details. Response includes base
            entity fields (id, owner_id, create_time, update_time) and the
            complete rule configuration (name, description, enabled status,
            sequence, conditions, and actions).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RulesEngineRuleVo"
              examples:
                rule_details:
                  summary: Complete rule details
                  value:
                    id: 12345
                    create_time: 2023-12-13T10:00:00Z
                    update_time: 2023-12-13T15:00:00Z
                    name: All Switch Engines to Site A
                    description: Automatically assign all Switch Engine devices to Site A
                    is_default: false
                    enabled: true
                    sequence: 10
                    conditions:
                      - field_name: DEVICE_OPERATING_SYSTEM
                        operation_type: STRING_CONTAINS
                        value: Switch Engine
                    actions:
                      - type: DEVICE_ASSIGN_SITE
                        value: "6724913580"
                        message: Site A
        "400":
          $ref: "#/components/responses/400ErrorResponse"
        "401":
          $ref: "#/components/responses/401ErrorResponse"
        "403":
          $ref: "#/components/responses/403ErrorResponse"
        "405":
          $ref: "#/components/responses/405ErrorResponse"
        "500":
          $ref: "#/components/responses/500ErrorResponse"
      security:
        - BearerAuth: []
    put:
      x-internal: false
      tags:
        - Device
      summary: Update a rules engine rule by ID
      description: Updates an existing rules engine rule with new configuration,
        including name, description, enabled status, execution sequence,
        conditions, and actions. The rule ID must be provided in both the path
        parameter and the request body.
      operationId: updateRules
      x-ai-intent: rules-engine-update
      x-ai-purpose: Modify existing automation rules to adapt to changing network
        requirements and device management policies
      x-ai-usage: Use when AI systems need to adjust rule conditions, update action
        configurations, enable/disable rules, or resequence rule execution order
      parameters:
        - $ref: "#/components/parameters/id-int64"
      requestBody:
        description: The updated rule configuration including name, description, enabled
          status, sequence, conditions, and actions
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RulesEngineUpdateRulesRequestVo"
            examples:
              update_rule:
                summary: Update rule configuration
                description: Update an existing rule to modify conditions or actions
                value:
                  id: 12345
                  name: All Switch Engines to Site A - Updated
                  description: Automatically assign all Switch Engine devices to Site A - now with
                    firmware upgrade
                  is_default: false
                  enabled: true
                  sequence: 15
                  conditions:
                    - field_name: DEVICE_OPERATING_SYSTEM
                      operation_type: STRING_CONTAINS
                      value: Switch Engine
                  actions:
                    - type: DEVICE_ASSIGN_SITE
                      value: "6724913580"
                    - type: DEVICE_UPGRADE_FIRMWARE_SWITCH_ENGINE
                      value: 17.2.1
      responses:
        "200":
          description: OK
        "400":
          $ref: "#/components/responses/400ErrorResponse"
        "401":
          $ref: "#/components/responses/401ErrorResponse"
        "403":
          $ref: "#/components/responses/403ErrorResponse"
        "405":
          $ref: "#/components/responses/405ErrorResponse"
        "500":
          $ref: "#/components/responses/500ErrorResponse"
      security:
        - BearerAuth: []
  /v1/devices/token/:activate:
    post:
      x-internal: false
      tags:
        - Device
      summary: Activate Registration Token
      description: Activates a registration token for a given application type,
        deployment type, location, and token.
      operationId: activateToken
      x-ai-intent: device-token-activation
      x-ai-purpose: Activate a token
      x-ai-usage: Use when AI needs to activate a device registration token
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ActivateTokenRequest"
      responses:
        "200":
          description: Activation response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseEnvelopeActivateToken"
        "400":
          $ref: "#/components/responses/400ErrorResponse"
        "401":
          $ref: "#/components/responses/401ErrorResponse"
        "403":
          $ref: "#/components/responses/403ErrorResponse"
        "405":
          $ref: "#/components/responses/405ErrorResponse"
        "500":
          $ref: "#/components/responses/500ErrorResponse"
      security:
        - BearerAuth: []
  /v1/devices/token/:register:
    post:
      x-internal: false
      tags:
        - Device
      summary: Get Registration Token
      description: Creates a registration token for a given application type,
        deployment type, and location.
      operationId: getOrCreateToken
      x-ai-intent: device-token-generation
      x-ai-purpose: Create a token
      x-ai-usage: Use when AI needs to generate a token
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RegisterTokenRequest"
      responses:
        "200":
          description: Token response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseEnvelopeRegisterToken"
        "400":
          $ref: "#/components/responses/400ErrorResponse"
        "401":
          $ref: "#/components/responses/401ErrorResponse"
        "403":
          $ref: "#/components/responses/403ErrorResponse"
        "405":
          $ref: "#/components/responses/405ErrorResponse"
        "500":
          $ref: "#/components/responses/500ErrorResponse"
      security:
        - BearerAuth: []
  /v1/supported-features:
    get:
      x-internal: true
      tags:
        - Device
      summary: Get status of supported features(enabled/disabled)
      description: Retrieves the status of specific supported features.
      x-ai-intent: device-feature-management
      x-ai-purpose: >
        Provide information on the availability and status of supported device
        features
      x-ai-usage: >
        Use when AI systems need to determine feature availability for device
        management,

        configuration, or operational decision-making
      operationId: getSupportedFeatures
      parameters:
        - name: features
          in: query
          required: true
          description: The features for which the status is to be fetched.
          schema:
            type: array
            items:
              type: string
      responses:
        "200":
          description: Supported features status response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseEnvelopeSupportedFeaturesStatus"
        "400":
          $ref: "#/components/responses/400ErrorResponse"
        "401":
          $ref: "#/components/responses/401ErrorResponse"
        "403":
          $ref: "#/components/responses/403ErrorResponse"
        "405":
          $ref: "#/components/responses/405ErrorResponse"
        "500":
          $ref: "#/components/responses/500ErrorResponse"
      security:
        - BearerAuth: []
components:
  schemas:
    DeviceStatus:
      type: string
      title: Device Status
      description: Current operational status of the device
      x-ai-usage: Use for health monitoring, alerting, and automated remediation workflows.
      enum:
        - CONNECTED
        - DISCONNECTED
      example: CONNECTED
    ManagingDeviceType:
      type: string
      title: Managing Device Type
      description: Type of device or platform managing the network device. Indicates
        which management system has control over the device. If no managing
        device type is specified, by default ALL types are included in response.
      x-ai-usage: Use to identify the management platform for devices.
      enum:
        - TPME
        - XMC
        - XIQ_SE
        - XIQC
        - Locally
        - WiNG
        - Cloud
        - CONTROLLER
        - ALL
      example: TPME
    DeviceClassificationEnum:
      type: string
      title: Device Classification
      enum:
        - APPLIANCE
        - THIRDPARTY
      description: The device classification type. APPLIANCE represents appliance-type
        devices. THIRDPARTY represents third-party managed devices.
      example: APPLIANCE
    DeviceFilter:
      type: object
      title: Device Filter Criteria
      description: Filter criteria based on device response properties
      properties:
        status:
          type: array
          items:
            $ref: "#/components/schemas/DeviceStatus"
          nullable: true
          description: Filter by device status (supports multiple values for OR logic). If
            no status is specified, by default ALL statuses are included in
            response.
          example:
            - CONNECTED
            - DISCONNECTED
        managed:
          type: boolean
          nullable: true
          description: Filter by managed status (true for managed, false for unmanaged).
            If not specified, by default ALL devices (managed and unmanaged) are
            included in response.
          example: true
        managed_by_device_id:
          type: array
          items:
            type: integer
            format: int64
          nullable: true
          description: Filter by managing device ID (supports multiple values for OR
            logic). If no managed_by_device_id is specified, by default ALL
            devices are included in response.
          example:
            - 4563273784384
            - 43568423842
        managed_by_type:
          type: array
          items:
            $ref: "#/components/schemas/ManagingDeviceType"
          nullable: true
          description: Filter by managing device type (supports multiple values for OR
            logic). If no managing_device_type is specified, by default ALL
            types are included in response.
          example:
            - TPME
            - XMC
            - XIQ_SE
            - XIQC
            - Locally
            - WiNG
            - Cloud
            - ALL
        location_id:
          type: array
          items:
            type: integer
            format: int64
          nullable: true
          description: Filter by location ID (supports multiple values for OR logic). If
            no location_id is specified, by default ALL locations are included
            in response.
          example:
            - 4307852298220
            - 4307876293201
        operating_system:
          type: array
          items:
            type: string
          nullable: true
          description: Filter by operating system (supports multiple values for OR logic).
            If no operating_system is specified, by default ALL operating
            systems are included in response.
          example:
            - EXOS
            - VOSS
        firmware:
          type: array
          items:
            type: string
          nullable: true
          description: Filter by firmware version (supports multiple values for OR logic).
            If no firmware is specified, by default ALL firmware versions are
            included in response.
          example:
            - 32.7.1.4
            - 32.7.1.5
        model:
          type: array
          items:
            type: string
          nullable: true
          description: Filter by device model (supports multiple values for OR logic). If
            no model is specified, by default ALL models are included in
            response.
          example:
            - X460-G2
            - X690
        network_policy:
          type: array
          items:
            type: integer
            format: int64
          nullable: true
          description: Filter by network policy ID (supports multiple values for OR
            logic). If no network_policy is specified, by default ALL network
            policies are included in response.
          example:
            - 1
            - 2
        classification:
          $ref: "#/components/schemas/DeviceClassificationEnum"
    ManagedByDevice:
      type: object
      title: Managed By Device
      description: Information about the device that manages this device (e.g., TPME
        managing network devices). Contains essential details about the managing
        device.
      x-ai-usage: Use to identify and display which device is managing this device.
      required:
        - device_type
      properties:
        id:
          type: integer
          format: int64
          description: Unique identifier of the managing device
          example: 2001
        hostname:
          type: string
          description: Hostname of the managing device
          example: tpme-appliance-01
        serial_number:
          type: string
          description: Serial number of the managing device
          example: TPME-64E0737DEE264837B0036EA140704D25
        device_type:
          $ref: "#/components/schemas/ManagingDeviceType"
        management_ip:
          type: string
          format: ipv4
          description: Management IP address of the managing device
          nullable: true
          example: 192.168.1.50
    DeviceLocation:
      type: object
[...]
