openapi: 3.0.3
info:
  title: Tag Management API
  description: >
    # Tag Management System API


    This specification defines the comprehensive REST API for managing tags,
    entities, associations, and policies in the Extreme Networks platform.


    ## Overview

    The Tag Management API provides a powerful and flexible system for
    organizing and categorizing resources through:

    - **Tags**: Lightweight labels that can be applied to entities for
    organization and filtering

    - **Entities**: The actual resources (devices, services, etc.) that can be
    tagged

    - **Associations**: Bidirectional relationships between tags and entities

    - **Policies**: Rule-based automation for tag management

    - **Attributes**: Key-value metadata attached to tags for enhanced
    functionality


    ## Key Features

    - Bulk operations for creating, updating, and deleting tags and entities

    - Flexible search and filtering capabilities with pagination support

    - Policy-driven automation for tag lifecycle management

    - Rich attribute system for tag metadata

    - Owner-based multi-tenancy support

    - Comprehensive telemetry and monitoring


    ## Authentication

    All endpoints require proper authentication headers. Ensure you include
    valid credentials in your requests.


    ## Rate Limiting

    API requests are subject to rate limiting. Monitor the response headers for
    rate limit information.
  contact:
    name: Extreme Networks API Support
    url: https://www.extremenetworks.com/support
    email: api-support@extremenetworks.com
  license:
    name: Apache License 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  version: 1.0.0
  x-mcp-server-optimized: true
  x-mcp-capabilities:
    bulk-operations: true
    automated-workflows: true
    real-time-integration: true
    compliance-automation: true
    relationship-management: true
  x-mcp-use-cases:
    - infrastructure-discovery
    - asset-management
    - compliance-automation
    - cmdb-synchronization
    - policy-enforcement
    - lifecycle-management
  x-mcp-performance:
    recommended-batch-size: 500
    max-batch-size: 1000
    supports-pagination: true
    supports-deep-fetch: true
    indexing-optimized: true
  x-mcp-integration-patterns:
    event-driven: true
    scheduled-automation: true
    webhook-support: false
    streaming-support: true
servers:
  - url: https://cloudapi.extremecloudiq.com/tagging/v1
    description: Extreme Platform ONE REST API - Tagging
tags:
  - name: Tags
    description: >
      **Tag Management Operations**


      Tags are lightweight labels used to categorize and organize entities
      within the system. Each tag has:

      - A unique name within the owner's scope

      - A type (manual, auto, or system-generated)

      - A service owner identifier

      - Optional attributes for additional metadata


      Use these endpoints to create, read, update, and delete tags, as well as
      manage their relationships with entities.
  - name: Entities
    description: >
      **Entity Management Operations**


      Entities represent the actual resources (devices, services, applications,
      etc.) that can be tagged. Each entity has:

      - A unique identifier (CSID) from the creating service

      - A human-readable name

      - A type classification

      - Optional metadata as a JSON blob

      - A service owner identifier


      Use these endpoints to manage entities and their tag associations.
  - name: Policies
    description: >
      **Policy Management Operations**


      Policies define automated rules for tag management based on criteria
      matching. They enable:

      - Automatic tag assignment based on entity properties

      - Tag lifecycle automation

      - Compliance enforcement

      - Dynamic tag updates based on changing conditions


      Policies use a flexible criteria system supporting complex logical
      conditions.
  - name: Associate
    description: >
      **Tag-Entity Association Operations**


      Association operations manage the many-to-many relationships between tags
      and entities. Features include:

      - Bulk association and disassociation operations

      - Bidirectional relationship management

      - Validation of association constraints

      - Audit trail for association changes


      Associations can be created from either the tag side or the entity side.
  - name: Attributes
    description: >
      **Tag Attribute Management**


      Attributes provide a key-value metadata system for tags, enabling:

      - Extended tag information storage

      - Custom properties for specific use cases

      - Searchable metadata for advanced filtering

      - Structured data attachment to tags


      Attributes support create, read, update, and delete operations with
      validation.
  - name: Owner
    description: >
      **Owner-based Operations**


      Owner-based operations provide multi-tenant capabilities by scoping
      operations to specific service owners. Features:

      - Bulk operations scoped to owner

      - Data isolation between owners

      - Administrative operations

      - Cleanup and maintenance tasks
  - name: Telemetry
    description: |
      **Telemetry and Monitoring**

      Telemetry endpoints provide insights into system usage and performance:
      - Usage statistics and metrics
      - Performance monitoring data
      - System health indicators
      - Usage patterns and trends
paths:
  /tags:
    post:
      tags:
        - Tags
      summary: Create one or more tags with MCP-ready bulk operations
      description: >
        **Create Tags for MCP Server Integration**


        Creates one or more tags in the system with comprehensive support for
        MCP (Model Context Protocol) servers and automation systems.

        This endpoint is optimized for bulk operations, automated workflows, and
        integration scenarios.


        **MCP Server Features:**

        - **Idempotent Operations**: Safe for automated retry scenarios and
        batch processing

        - **Atomic Transactions**: All tags succeed or fail together, ensuring
        data consistency

        - **Rich Error Context**: Detailed error messages for automated error
        handling and recovery

        - **Bulk Optimization**: Efficient processing of large tag sets
        (recommended: 100-500 per request)

        - **Integration Patterns**: Designed for CMDB sync, infrastructure
        discovery, and compliance automation


        **Core Features:**

        - Bulk creation of multiple tags in a single request

        - Automatic validation of tag names and properties

        - Support for hierarchical tag relationships via parent field

        - Automatic owner isolation and multi-tenancy

        - Comprehensive response metadata for tracking and auditing


        **Tag Properties:**

        - `name`: Unique tag identifier within the owner scope (required, max 64
        chars)

        - `type`: Tag classification ["auto", "manual", "policy", "provisional"]
        (required)

        - `serviceOwner`: Service ownership ["edge", "network", "iam", "system",
        "asset"] (required)

        - `description`: Human-readable description of the tag's purpose
        (optional)

        - `access`: Access level control ["read", "write", "admin"] (optional,
        default: "read")

        - `parent`: Optional parent tag ID for hierarchical organization (UUID
        format)


        **MCP Use Cases:**

        - **Infrastructure Auto-Discovery**: Automatically tag discovered
        network devices, servers, and services

        - **Compliance Automation**: Bulk creation of regulatory, security, and
        policy compliance tags

        - **Resource Classification**: Systematic categorization during cloud
        migration or datacenter consolidation

        - **CI/CD Integration**: Automated tagging during deployment pipelines
        and environment provisioning

        - **CMDB Synchronization**: Import tags from external configuration
        management databases

        - **Lifecycle Management**: Automated tag creation during resource
        provisioning and decommissioning


        **Validation Rules:**

        - Tag names must be unique within the owner scope

        - Names can contain alphanumeric characters, hyphens, and underscores

        - Maximum name length is 64 characters

        - ServiceOwner must be a valid registered service


        **Use Cases:**

        - Initial setup of tag taxonomy

        - Bulk import of tags from external systems

        - Dynamic tag creation based on discovered resources

        - Hierarchical tag structure establishment
      operationId: CreateTags
      x-mcp-operation-type: bulk-create
      x-mcp-automation-friendly: true
      x-mcp-recommended-batch-size: 500
      x-mcp-idempotent: true
      x-mcp-use-cases:
        - infrastructure-discovery
        - compliance-automation
        - asset-lifecycle-management
      requestBody:
        required: true
        description: Array of tag objects to create
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/tagInfoList"
      responses:
        "200":
          description: >
            **Tags Created Successfully**


            One or more tags were created successfully. The response includes
            the details of each created tag including:

            - Generated unique tag ID

            - Original tag name as provided

            - Owner ID for multi-tenant isolation

            - Status indicating success

            - Confirmation message


            **Response Structure:**

            - Array of tag creation results

            - Each result contains ID, name, ownerId, status, and message

            - Status will be "Success" for successfully created tags


            **Note:** In partial success scenarios, some tags may succeed while
            others fail.
          headers:
            X-Span-Id:
              $ref: "#/components/headers/X-Span-Id"
            X-Trace-Id:
              $ref: "#/components/headers/X-Trace-Id"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/createTagResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "422":
          description: >
            **All Tag Creation Failed**


            None of the requested tags could be created due to validation errors
            or conflicts.
          headers:
            X-Span-Id:
              $ref: "#/components/headers/X-Span-Id"
            X-Trace-Id:
              $ref: "#/components/headers/X-Trace-Id"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/createTagResponse"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /tags/delete:
    post:
      tags:
        - Tags
      summary: Delete multiple tags in a single request
      operationId: DeleteTags
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                tagIds:
                  type: array
                  items:
                    type: string
                tagNames:
                  type: array
                  items:
                    type: string
              oneOf:
                - required:
                    - tagIds
                - required:
                    - tagNames
      responses:
        "200":
          description: Tags deleted successfully
          headers:
            X-Span-Id:
              $ref: "#/components/headers/X-Span-Id"
            X-Trace-Id:
              $ref: "#/components/headers/X-Trace-Id"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /tags/fetch:
    post:
      tags:
        - Tags
      operationId: FetchTags
      summary: Advanced tag search and retrieval with MCP server optimization
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                search:
                  type: object
                pagination:
                  $ref: "#/components/schemas/paginationRequest"
                deepFetch:
                  type: boolean
                  default: false
      responses:
        "200":
          description: Successfully retrieved tags based on the query criteria
          headers:
            X-Span-Id:
              $ref: "#/components/headers/X-Span-Id"
            X-Trace-Id:
              $ref: "#/components/headers/X-Trace-Id"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/tagPaginationResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /tags/tagId/{tagId}:
    put:
      tags:
        - Tags
      summary: Update tags by tagId
      operationId: UpdateTagById
      parameters:
        - name: tagId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/updateTagRequest"
      responses:
        "200":
          description: Tag updated successfully
          headers:
            X-Span-Id:
              $ref: "#/components/headers/X-Span-Id"
            X-Trace-Id:
              $ref: "#/components/headers/X-Trace-Id"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/updateTagResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /tags/tagName/{tagName}:
    put:
      tags:
        - Tags
      summary: Update tag by tagName
      operationId: UpdateTagByName
      parameters:
        - name: tagName
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/updateTagRequest"
      responses:
        "200":
          description: Tag updated successfully
          headers:
            X-Span-Id:
              $ref: "#/components/headers/X-Span-Id"
            X-Trace-Id:
              $ref: "#/components/headers/X-Trace-Id"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/updateTagResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /entities:
    post:
      tags:
        - Entities
      summary: Create one or more entities with MCP-optimized bulk operations
      operationId: CreateEntities
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/entityRequestList"
      responses:
        "200":
          description: Entities created successfully
          headers:
            X-Span-Id:
              $ref: "#/components/headers/X-Span-Id"
            X-Trace-Id:
              $ref: "#/components/headers/X-Trace-Id"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/createEntityResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "422":
          description: Entities creation failure
          headers:
            X-Span-Id:
              $ref: "#/components/headers/X-Span-Id"
            X-Trace-Id:
              $ref: "#/components/headers/X-Trace-Id"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/entityResponse"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /entities/delete:
    post:
      tags:
        - Entities
      operationId: DeleteEntitiesByIdsOrNames
      summary: Deletes multiple entities based on their IDs or names.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                entityIds:
                  type: array
                  items:
                    type: string
                entityNames:
                  type: array
                  items:
                    type: string
      responses:
        "200":
          description: Entities deleted successfully
          headers:
            X-Span-Id:
              $ref: "#/components/headers/X-Span-Id"
            X-Trace-Id:
              $ref: "#/components/headers/X-Trace-Id"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /entities/fetch:
    post:
      tags:
        - Entities
      operationId: FetchEntities
      summary: Advanced entity search and retrieval with MCP server optimization
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                search:
                  type: object
                pagination:
                  $ref: "#/components/schemas/paginationRequest"
                deepFetch:
                  type: boolean
      responses:
        "200":
          description: Successfully retrieved entities based on the query criteria
          headers:
            X-Span-Id:
              $ref: "#/components/headers/X-Span-Id"
            X-Trace-Id:
              $ref: "#/components/headers/X-Trace-Id"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/entityPaginationResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /policies/fetch:
    post:
      tags:
        - Policies
      summary: Fetch policy based on search criteria.
      operationId: GetPolicies
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                search:
                  type: object
                pagination:
                  $ref: "#/components/schemas/paginationRequest"
                deepFetch:
                  type: boolean
      responses:
        "200":
          description: Policy retrieved successfully
          headers:
            X-Span-Id:
              $ref: "#/components/headers/X-Span-Id"
            X-Trace-Id:
              $ref: "#/components/headers/X-Trace-Id"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/policyPaginationResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /policies:
    post:
      tags:
        - Policies
      summary: Create new policies with MCP automation and rule engine support
      operationId: CreatePolicies
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/policyRequestList"
      responses:
        "200":
          description: Policies created successfully
          headers:
            X-Span-Id:
              $ref: "#/components/headers/X-Span-Id"
            X-Trace-Id:
              $ref: "#/components/headers/X-Trace-Id"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/CreatePolicyResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "422":
          description: All policies failed to create
          headers:
            X-Span-Id:
              $ref: "#/components/headers/X-Span-Id"
            X-Trace-Id:
              $ref: "#/components/headers/X-Trace-Id"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/response"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /telemetry/fetch:
    post:
      tags:
        - Telemetry
      operationId: FetchTelemetry
      summary: Fetch telemetry data
      responses:
        "200":
          description: Successfully retrieved telemetry data
          headers:
            X-Span-Id:
              $ref: "#/components/headers/X-Span-Id"
            X-Trace-Id:
              $ref: "#/components/headers/X-Trace-Id"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TelemetryDataResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /tags/tagName/{tagName}/attributes:
    post:
      tags:
        - Attributes
      operationId: AddAttributesByTagName
      summary: Add rich metadata attributes to tags with MCP-optimized data enrichment
      parameters:
        - name: tagName
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/attributeRequestList"
      responses:
        "200":
          description: Attributes already present or successfully added
          headers:
            X-Span-Id:
              $ref: "#/components/headers/X-Span-Id"
            X-Trace-Id:
              $ref: "#/components/headers/X-Trace-Id"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/createAttributeResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "422":
          description: The set of attributes could not be applied to the tag
          headers:
            X-Span-Id:
              $ref: "#/components/headers/X-Span-Id"
            X-Trace-Id:
              $ref: "#/components/headers/X-Trace-Id"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/attributeResponseList"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/InternalServerError"
components:
  headers:
    X-Span-Id:
      description: A unique identifier for the span of the request.
      schema:
        type: string
    X-Trace-Id:
      description: A unique identifier for tracing the request across systems.
      schema:
        type: string
  schemas:
    tagInfo:
      type: object
      properties:
        name:
          type: string
        type:
          type: string
          enum:
            - auto
            - manual
            - policy
            - provisional
        serviceOwner:
          type: string
          enum:
            - edge
            - network
            - iam
            - system
            - asset
        description:
          type: string
        parent:
          type: string
          format: uuid
      required:
        - name
    tagInfoList:
      type: array
      items:
        $ref: "#/components/schemas/tagInfo"
    createTagResponse:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        type:
          type: string
        ownerId:
          type: integer
        serviceOwner:
          type: string
        status:
          type: string
        message:
          type: string
    updateTagRequest:
      type: object
      properties:
        name:
          type: string
        type:
          type: string
        serviceOwner:
          type: string
        description:
          type: string
        parent:
          type: string
    updateTagResponse:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        type:
          type: string
        ownerId:
          type: integer
        serviceOwner:
          type: string
        description:
          type: string
    entityRequestList:
      type: array
      items:
        $ref: "#/components/schemas/entityRequest"
    entityRequest:
      type: object
      properties:
        csid:
          type: string
        name:
          type: string
        serviceOwner:
          type: string
        type:
          type: string
        metadata:
          type: string
      required:
        - name
        - csid
        - serviceOwner
        - type
    createEntityResponse:
      type: object
      properties:
        id:
          type: string
        ownerId:
          type: integer
        csid:
          type: string
        name:
          type: string
        serviceOwner:
          type: string
        type:
          type: string
        status:
          type: string
        message:
          type: string
    entityResponse:
      type: object
      properties:
        id:
          type: string
        csid:
          type: string
        name:
          type: string
        ownerId:
          type: integer
        serviceOwner:
          type: string
        type:
          type: string
        metadata:
          type: string
    entityPaginationResponse:
      type: object
      properties:
        entities:
          type: array
          items:
            $ref: "#/components/schemas/entityResponse"
        pagination:
          $ref: "#/components/schemas/paginationResponse"
    policyRequestList:
      type: array
      items:
        $ref: "#/components/schemas/policyRequest"
    policyRequest:
      type: object
      properties:
        name:
          type: string
        description:
          type: string
        criteria:
          $ref: "#/components/schemas/tagCriteria"
        serviceOwner:
          type: string
      required:
        - name
        - criteria
        - serviceOwner
    CreatePolicyResponse:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        description:
          type: string
        criteria:
          $ref: "#/components/schemas/tagCriteria"
        ownerId:
          type: integer
        serviceOwner:
          type: string
        status:
          type: string
        message:
          type: string
    policyPaginationResponse:
      type: object
      properties:
        policies:
          type: array
          items:
            type: object
        pagination:
          $ref: "#/components/schemas/paginationResponse"
    tagCriteria:
      type: object
      properties:
        outerCondition:
          type: string
        outerElements:
          type: array
          items:
            type: object
      required:
        - outerCondition
        - outerElements
    attributeRequestList:
      type: object
      properties:
        attributes:
          type: array
          items:
            type: object
      required:
        - attributes
    createAttributeResponse:
      type: object
      properties:
        attributes:
          type: array
          items:
            type: object
        pagination:
          $ref: "#/components/schemas/paginationResponse"
    attributeResponseList:
      type: object
      properties:
        attributes:
          type: array
          items:
            type: object
        pagination:
          $ref: "#/components/schemas/paginationResponse"
    TelemetryDataResponse:
      type: object
      properties:
        boundTagsCount:
          type: integer
        unBoundTagsCount:
          type: integer
        boundEntitiesCount:
          type: integer
        unBoundEntitiesCount:
          type: integer
    tagPaginationResponse:
      type: object
      properties:
        tags:
          type: array
          items:
            type: object
        pagination:
          $ref: "#/components/schemas/paginationResponse"
    paginationRequest:
      type: object
      properties:
        page:
          type: integer
        limit:
          type: integer
    paginationResponse:
      type: object
      properties:
        currentPage:
          type: integer
        totalPages:
          type: integer
        pageSize:
          type: integer
        totalItems:
          type: integer
    errorResponse:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
    response:
      type: object
      properties:
        name:
          type: string
        id:
          type: string
        ownerId:
          type: integer
        status:
          type: string
        message:
          type: string
  responses:
    UnauthorizedError:
      description: Unauthorized
      headers:
        X-Span-Id:
          $ref: "#/components/headers/X-Span-Id"
        X-Trace-Id:
          $ref: "#/components/headers/X-Trace-Id"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/errorResponse"
    ForbiddenError:
      description: Forbidden
      headers:
        X-Span-Id:
          $ref: "#/components/headers/X-Span-Id"
        X-Trace-Id:
          $ref: "#/components/headers/X-Trace-Id"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/errorResponse"
    NotFoundError:
      description: Not Found
      headers:
        X-Span-Id:
          $ref: "#/components/headers/X-Span-Id"
        X-Trace-Id:
          $ref: "#/components/headers/X-Trace-Id"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/errorResponse"
    TooManyRequestsError:
      description: Too Many Requests
      headers:
        X-Span-Id:
          $ref: "#/components/headers/X-Span-Id"
        X-Trace-Id:
          $ref: "#/components/headers/X-Trace-Id"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/errorResponse"
    InternalServerError:
      description: Internal Server Error
      headers:
        X-Span-Id:
          $ref: "#/components/headers/X-Span-Id"
        X-Trace-Id:
          $ref: "#/components/headers/X-Trace-Id"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/errorResponse"
    BadRequestError:
      description: Bad Request
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/errorResponse"
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: Enter your API Key as a Bearer Token
security:
  - BearerAuth: []
