openapi: 3.0.3
info:
  title: Extreme Platform ONE REST API - Webhooks
  description: Extreme Platform ONE™ Webhooks API enables real-time event notifications
    and third-party integrations by allowing applications to subscribe to platform
    events and receive push notifications when events occur.
  termsOfService: https://www.extremenetworks.com/company/legal/terms-of-use/
  contact:
    name: Extreme Networks Support
    url: https://www.extremenetworks.com/support
    email: support@extremenetworks.com
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  version: 25.11.0
servers:
  - url: https://cloudapi.extremecloudiq.com/webhooks/v1
    description: Extreme Platform ONE REST API - Webhooks
security:
  - BearerAuth: []
tags:
  - name: Webhooks
    description: Operations for managing webhooks and event subscriptions
  - name: Events
    description: Available events and event filtering
  - name: Deliveries
    description: Webhook delivery history and retry management
  - name: Event Types
    description: Event type definitions and schemas
paths:
  /webhooks:
    get:
      summary: List webhooks
      description: Retrieve list of registered webhooks
      operationId: listWebhooks
      tags:
        - Webhooks
      parameters:
        - $ref: '#/components/parameters/pageToken'
        - $ref: '#/components/parameters/limit'
        - in: query
          name: status
          description: Filter by webhook status
          required: false
          schema:
            type: string
            enum:
              - active
              - inactive
              - failed
        - in: query
          name: eventType
          description: Filter by event type
          required: false
          schema:
            type: string
      responses:
        '200':
          description: List of webhooks retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookList'
        '400':
          $ref: '#/components/responses/400ErrorResponse'
        '401':
          $ref: '#/components/responses/401ErrorResponse'
        '403':
          $ref: '#/components/responses/403ErrorResponse'
    post:
      summary: Create webhook
      description: Register a new webhook to receive event notifications
      operationId: createWebhook
      tags:
        - Webhooks
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateWebhookRequest'
      responses:
        '201':
          description: Webhook created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Webhook'
        '400':
          $ref: '#/components/responses/400ErrorResponse'
        '401':
          $ref: '#/components/responses/401ErrorResponse'
        '403':
          $ref: '#/components/responses/403ErrorResponse'
  /webhooks/{webhookId}:
    get:
      summary: Get webhook details
      description: Retrieve detailed information about a specific webhook
      operationId: getWebhook
      tags:
        - Webhooks
      parameters:
        - name: webhookId
          in: path
          required: true
          description: The webhook identifier
          schema:
            type: string
      responses:
        '200':
          description: Webhook details retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Webhook'
        '401':
          $ref: '#/components/responses/401ErrorResponse'
        '403':
          $ref: '#/components/responses/403ErrorResponse'
        '404':
          $ref: '#/components/responses/404ErrorResponse'
    put:
      summary: Update webhook
      description: Update webhook configuration and event subscriptions
      operationId: updateWebhook
      tags:
        - Webhooks
      parameters:
        - name: webhookId
          in: path
          required: true
          description: The webhook identifier
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateWebhookRequest'
      responses:
        '200':
          description: Webhook updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Webhook'
        '400':
          $ref: '#/components/responses/400ErrorResponse'
        '401':
          $ref: '#/components/responses/401ErrorResponse'
        '403':
          $ref: '#/components/responses/403ErrorResponse'
        '404':
          $ref: '#/components/responses/404ErrorResponse'
    delete:
      summary: Delete webhook
      description: Remove a webhook registration
      operationId: deleteWebhook
      tags:
        - Webhooks
      parameters:
        - name: webhookId
          in: path
          required: true
          description: The webhook identifier
          schema:
            type: string
      responses:
        '204':
          description: Webhook deleted successfully
        '401':
          $ref: '#/components/responses/401ErrorResponse'
        '403':
          $ref: '#/components/responses/403ErrorResponse'
        '404':
          $ref: '#/components/responses/404ErrorResponse'
  /webhooks/{webhookId}/test:
    post:
      summary: Test webhook
      description: Send a test event to verify webhook configuration
      operationId: testWebhook
      tags:
        - Webhooks
      parameters:
        - name: webhookId
          in: path
          required: true
          description: The webhook identifier
          schema:
            type: string
      responses:
        '200':
          description: Test event sent successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
        '401':
          $ref: '#/components/responses/401ErrorResponse'
        '403':
          $ref: '#/components/responses/403ErrorResponse'
        '404':
          $ref: '#/components/responses/404ErrorResponse'
  /webhooks/{webhookId}/deliveries:
    get:
      summary: List webhook deliveries
      description: Retrieve delivery history for a webhook
      operationId: listWebhookDeliveries
      tags:
        - Deliveries
      parameters:
        - name: webhookId
          in: path
          required: true
          description: The webhook identifier
          schema:
            type: string
        - $ref: '#/components/parameters/pageToken'
        - $ref: '#/components/parameters/limit'
        - in: query
          name: status
          description: Filter by delivery status
          required: false
          schema:
            type: string
            enum:
              - success
              - failed
              - pending
        - in: query
          name: startTime
          description: Filter by start time
          required: false
          schema:
            type: string
            format: date-time
        - in: query
          name: endTime
          description: Filter by end time
          required: false
          schema:
            type: string
            format: date-time
      responses:
        '200':
          description: Delivery history retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeliveryList'
        '401':
          $ref: '#/components/responses/401ErrorResponse'
        '403':
          $ref: '#/components/responses/403ErrorResponse'
        '404':
          $ref: '#/components/responses/404ErrorResponse'
  /webhooks/{webhookId}/deliveries/{deliveryId}/retry:
    post:
      summary: Retry webhook delivery
      description: Manually retry a failed webhook delivery
      operationId: retryDelivery
      tags:
        - Deliveries
      parameters:
        - name: webhookId
          in: path
          required: true
          description: The webhook identifier
          schema:
            type: string
        - name: deliveryId
          in: path
          required: true
          description: The delivery identifier
          schema:
            type: string
      responses:
        '200':
          description: Retry initiated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Delivery'
        '401':
          $ref: '#/components/responses/401ErrorResponse'
        '403':
          $ref: '#/components/responses/403ErrorResponse'
        '404':
          $ref: '#/components/responses/404ErrorResponse'
  /event-types:
    get:
      summary: List available event types
      description: Retrieve list of all available webhook event types
      operationId: listEventTypes
      tags:
        - Event Types
      parameters:
        - $ref: '#/components/parameters/pageToken'
        - $ref: '#/components/parameters/limit'
        - in: query
          name: category
          description: Filter by event category
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Event types retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventTypeList'
        '401':
          $ref: '#/components/responses/401ErrorResponse'
        '403':
          $ref: '#/components/responses/403ErrorResponse'
  /event-types/{eventTypeId}:
    get:
      summary: Get event type schema
      description: Retrieve schema and documentation for an event type
      operationId: getEventType
      tags:
        - Event Types
      parameters:
        - name: eventTypeId
          in: path
          required: true
          description: The event type identifier
          schema:
            type: string
      responses:
        '200':
          description: Event type schema retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventType'
        '401':
          $ref: '#/components/responses/401ErrorResponse'
        '403':
          $ref: '#/components/responses/403ErrorResponse'
        '404':
          $ref: '#/components/responses/404ErrorResponse'
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  parameters:
    pageToken:
      name: pageToken
      in: query
      description: Token for pagination
      required: false
      schema:
        type: string
    limit:
      name: limit
      in: query
      description: Number of results to return
      required: false
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 20
  schemas:
    Webhook:
      type: object
      required:
        - id
        - url
        - eventTypes
        - status
        - createdAt
      properties:
        id:
          type: string
          description: Webhook identifier
        url:
          type: string
          format: uri
          description: Target URL for webhook notifications
        description:
          type: string
          description: Webhook description
        eventTypes:
          type: array
          items:
            type: string
          description: Event types to subscribe to
        status:
          type: string
          enum:
            - active
            - inactive
            - failed
          description: Webhook status
        headers:
          type: object
          additionalProperties:
            type: string
          description: Custom HTTP headers to include in requests
        auth:
          type: object
          properties:
            type:
              type: string
              enum:
                - basic
                - bearer
                - custom
            credentials:
              type: object
          description: Authentication configuration
        retryPolicy:
          type: object
          properties:
            maxRetries:
              type: integer
              default: 5
            retryDelay:
              type: integer
              description: Delay in seconds
              default: 60
          description: Retry configuration
        createdAt:
          type: string
          format: date-time
          description: Creation timestamp
        updatedAt:
          type: string
          format: date-time
          description: Last update timestamp
        lastDeliveryAt:
          type: string
          format: date-time
          description: Timestamp of last delivery attempt
    WebhookList:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Webhook'
        pageToken:
          type: string
          description: Token for next page
        hasMore:
          type: boolean
    CreateWebhookRequest:
      type: object
      required:
        - url
        - eventTypes
      properties:
        url:
          type: string
          format: uri
          description: Target URL for webhooks
        description:
          type: string
          description: Webhook description
        eventTypes:
          type: array
          items:
            type: string
          description: Event types to subscribe to
        headers:
          type: object
          additionalProperties:
            type: string
          description: Custom HTTP headers
        auth:
          type: object
          properties:
            type:
              type: string
              enum:
                - basic
                - bearer
                - custom
            credentials:
              type: object
          description: Authentication configuration
        retryPolicy:
          type: object
          properties:
            maxRetries:
              type: integer
              default: 5
            retryDelay:
              type: integer
              default: 60
    UpdateWebhookRequest:
      type: object
      properties:
        url:
          type: string
          format: uri
        description:
          type: string
        eventTypes:
          type: array
          items:
            type: string
        headers:
          type: object
          additionalProperties:
            type: string
        auth:
          type: object
        retryPolicy:
          type: object
        status:
          type: string
          enum:
            - active
            - inactive
    Delivery:
      type: object
      required:
        - id
        - webhookId
        - eventType
        - status
        - timestamp
      properties:
        id:
          type: string
          description: Delivery identifier
        webhookId:
          type: string
          description: Associated webhook ID
        eventType:
          type: string
          description: Event type delivered
        status:
          type: string
          enum:
            - success
            - failed
            - pending
          description: Delivery status
        statusCode:
          type: integer
          description: HTTP status code from webhook endpoint
        responseTime:
          type: integer
          description: Response time in milliseconds
        timestamp:
          type: string
          format: date-time
          description: Delivery timestamp
        error:
          type: string
          description: Error message if delivery failed
        eventData:
          type: object
          description: Event payload delivered
        nextRetryAt:
          type: string
          format: date-time
          description: Next retry timestamp if applicable
    DeliveryList:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Delivery'
        pageToken:
          type: string
        hasMore:
          type: boolean
    EventType:
      type: object
      required:
        - id
        - name
        - description
      properties:
        id:
          type: string
          description: Event type identifier
        name:
          type: string
          description: Human-readable event name
        description:
          type: string
          description: Detailed description
        category:
          type: string
          description: Event category
        schema:
          type: object
          description: JSON Schema for event data
        examples:
          type: array
          items:
            type: object
          description: Example event payloads
    EventTypeList:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/EventType'
        pageToken:
          type: string
        hasMore:
          type: boolean
  responses:
    400ErrorResponse:
      description: Bad request
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: string
              message:
                type: string
    401ErrorResponse:
      description: Unauthorized
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: string
              message:
                type: string
    403ErrorResponse:
      description: Forbidden
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: string
              message:
                type: string
    404ErrorResponse:
      description: Not found
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: string
              message:
                type: string
