openapi: 3.0.3
info:
  title: Extreme Networks Common Infrastructure API
  description: >
    # Common Infrastructure REST API


    This comprehensive API provides access to the Common Infrastructure services
    for Extreme Networks' network management platform. 

    The API enables programmatic access to topology management, device
    management, service management, and network visualization capabilities.


    ## Key Features

    - **Topology Management**: Retrieve and manage network topologies (physical,
    fabric, service layers)

    - **Device Management**: Access device information, interfaces, neighbors,
    and fabric details

    - **Service Management**: Manage L2/L3 VSN, VLAN, and VRF services

    - **User Preferences**: Store and retrieve user-specific preferences

    - **Real-time Updates**: WebSocket notifications for topology and device
    changes

    - **Service Probing**: VLAN service probe utilities for network validation


    ## API Design

    This API follows RESTful principles and supports JSON payloads. Most
    operations use POST methods with detailed criteria objects

    to provide flexible filtering and querying capabilities suitable for complex
    network topologies.


    ## Authentication

    This API is designed to be integrated with MCP (Model Context Protocol)
    servers and other automation tools.

    Authentication and authorization should be handled at the infrastructure
    level.


    ## MCP Server Integration

    This API is optimized for MCP (Model Context Protocol) server integration
    with the following features:


    **AI-Friendly Design:**

    - Comprehensive endpoint descriptions with use cases and examples

    - Structured error responses for better error handling

    - Detailed parameter descriptions for automated API consumption

    - Response schemas optimized for AI interpretation


    **Automation Support:**

    - API Key authentication recommended for MCP servers

    - Asynchronous operations with proper status tracking

    - Bulk operations where applicable

    - Consistent data formats across endpoints


    **Rate Limiting Considerations:**

    - Recommended rate limit: 60 requests per minute

    - Burst allowance: 10 requests

    - Consider caching for topology and device data


    ## Rate Limiting

    API calls should be rate-limited appropriately to prevent system overload,
    especially for large topology queries.
  termsOfService: https://www.extremenetworks.com/legal/terms-of-use/
  contact:
    name: Extreme Networks API Support
    url: https://www.extremenetworks.com/support/
    email: api-support@extremenetworks.com
  license:
    name: Extreme Networks Software License
    url: https://www.extremenetworks.com/legal/software-license/
  version: 3.0.0
  x-api-id: common-infra-api
  x-audience: internal
  x-maturity: stable
  x-mcp-server:
    enabled: true
    description: Extreme Networks Common Infrastructure API optimized for MCP server
      integration
    capabilities:
      - network-topology-management
      - device-information-retrieval
      - service-management
      - network-monitoring
      - vlan-service-probing
    usage-patterns:
      - pattern: topology-discovery
        description: Retrieve and analyze network topology for AI-driven network insights
        endpoints:
          - /retrieve-topology
          - /retrieve-topology/device
          - /retrieve-topology/link
      - pattern: device-monitoring
        description: Monitor device health, interfaces, and performance metrics
        endpoints:
          - /device/physical
          - /device/fabric
          - /device/ports
          - /device/lldp-cdp-neighbors
      - pattern: service-analysis
        description: Analyze network services and their configurations
        endpoints:
          - /retrieve-services
          - /services/retrieve-vlans
          - /services/retrieve-vrfs
      - pattern: network-validation
        description: Perform network validation and troubleshooting operations
        endpoints:
          - /utilities/service-probe-vlan/start
          - /utilities/service-probe-vlan/probe-data
    automation-friendly: true
    rate-limiting:
      recommended-requests-per-minute: 60
      burst-limit: 10
servers:
  - url: https://cloudapi.extremecloudiq.com/nvo/v1
    description: Extreme Platform ONE REST API - Network Visualization
security:
  - BearerAuth: []
tags:
  - name: Topology Management
    description: >
      Operations for retrieving and managing network topologies across different
      layers (physical, fabric, service).

      Includes functionality for topology visualization, custom positioning, and
      group hierarchy management.
  - name: User Preferences
    description: >
      User-specific preference storage and retrieval for personalized experience
      across the network management interface.
  - name: Custom logging
    description: >
      Dynamic logging configuration management for debugging and monitoring
      purposes across different services.
  - name: Device Management
    description: >
      Comprehensive device information access including physical details, fabric
      information, interfaces, neighbors,

      and link details. Supports device synchronization and discovery status
      monitoring.
  - name: Service Management
    description: >
      Management of network services including L2/L3 VSN, VLAN, and VRF services
      with detailed endpoint information

      and service topology data.
  - name: Service Probe Vlan
    description: >
      VLAN service probing utilities for network validation and troubleshooting.
      Supports starting, stopping,

      and monitoring probe operations with detailed status reporting.
  - name: Schemas
    description: >
      Schema information and metadata for API features, particularly useful for
      dynamic form generation

      and validation in client applications.
  - name: General
    description: >
      General utility operations including search suggestions and
      auto-completion features.
  - name: Hide Node or Link Management
    description: >
      Operations to hide network nodes or links from topology views for cleaner
      visualization and focus.
  - name: Unhide Node or Link Management
    description: >
      Operations to restore visibility of previously hidden network nodes or
      links in topology views.
  - name: Tag Management
    description: |
      Deprecated tag management operations.
paths:
  /retrieve-topology:
    post:
      tags:
        - Topology Management
      summary: Retrieve Network Topology
      description: >
        Retrieves comprehensive network topology data including nodes, edges,
        and custom positioning information.


        This endpoint supports multiple topology types (physical, fabric,
        service) and view types (map, abstract, list).

        The response includes hierarchical node structures with detailed device
        and group information, interconnection

        data through edges, and user-customized positioning for visualization
        purposes.


        **Use Cases:**

        - Initial topology loading for network visualization

        - Refreshing topology data after network changes

        - Filtering topology by specific criteria (search, node states, etc.)

        - Supporting different visualization views (map-based, abstract
        diagrams)


        **Performance Considerations:**

        - Large topologies may require pagination or filtering

        - Consider using specific topology types to reduce response size

        - Custom positions are cached and updated incrementally
      operationId: RetrieveTopology
      x-mcp-operation:
        category: topology-management
        ai-description: Primary endpoint for retrieving network topology data. Essential
          for network discovery and visualization tasks.
        use-cases:
          - Generate network topology diagrams
          - Analyze network connectivity patterns
          - Identify network bottlenecks and optimization opportunities
          - Support network troubleshooting workflows
        response-size: large
        caching-recommended: true
        automation-priority: high
      requestBody:
        description: >
          Criteria for topology retrieval including topology type, view
          preferences, search filters, 

          and visualization options. All fields are optional, with defaults
          providing a complete topology view.
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TopologyCriteria"
            examples:
              basic_physical_topology:
                summary: Basic physical topology request
                description: Retrieve complete physical topology with default settings
                value:
                  generalCriteria:
                    type: physical
                    viewType: abstract
                    verboseType: Verbose
              filtered_fabric_topology:
                summary: Filtered fabric topology with search
                description: Retrieve fabric topology filtered by device search criteria
                value:
                  generalCriteria:
                    type: fabric
                    viewType: map
                    searchCriteria:
                      type: device
                      field: name
                      key: switch
              service_topology_by_group:
                summary: Service topology for specific group
                description: Retrieve service topology focused on a specific building or group
                value:
                  generalCriteria:
                    type: service
                    nodeID: 5b3da8f6-bfc8-4776-ae72-a388db060000
                    action: expand
      responses:
        "200":
          description: >
            Successfully retrieved topology data. The response contains nodes
            representing network devices and groups,

            edges representing connections between nodes, and custom positioning
            data for visualization.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/topology"
              examples:
                sample_topology_response:
                  summary: Sample topology with devices and links
                  description: Example response showing typical topology structure
                  value:
                    nodes:
                      - id: device-001
                        attributes:
                          text:
                            content: Core Switch 1
                        data:
                          type: Device
                          deviceAttribute:
                            name: core-sw-001
                            ipAddress: 192.168.1.10
                            deviceType: switch
                    edges:
                      - id: link-001
                        source: device-001
                        target: device-002
                        data:
                          type: physicalLink
                    customPositions:
                      device-001:
                        x: 100
                        y: 200
        "400":
          description: |
            Bad Request - Invalid criteria provided. This can occur when:
            - Invalid topology type specified
            - Conflicting view type and topology type combination
            - Invalid UUID format for nodeID
            - Malformed search criteria
            - Invalid JSON in request body
            - Missing required fields in criteria
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
              examples:
                invalid_topology_type:
                  summary: Invalid topology type error
                  value:
                    code: 400
                    message: "Invalid topology type 'invalid'. Supported types: physical, fabric,
                      service, accessLayer, physicalAndFabric"
                    timestamp: 2023-10-01T12:00:00Z
                    path: /retrieve-topology
                malformed_request:
                  summary: Malformed request body
                  value:
                    code: 400
                    message: Invalid JSON format in request body
                    timestamp: 2023-10-01T12:00:00Z
                    path: /retrieve-topology
                    details:
                      field: generalCriteria
                      issue: Expected object, received string
                invalid_uuid:
                  summary: Invalid UUID format
                  value:
                    code: 400
                    message: "Invalid UUID format for nodeID. Expected format:
                      xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"
                    timestamp: 2023-10-01T12:00:00Z
                    path: /retrieve-topology
                    details:
                      field: nodeID
                      provided: invalid-uuid-123
        "500":
          description: |
            Internal Server Error - Unexpected error during topology retrieval.
            This occurs when:
            - Database connectivity issues
            - Internal service failures
            - Topology calculation errors
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
              examples:
                internal_error:
                  summary: Internal server error
                  value:
                    code: 500
                    message: Internal server error occurred while retrieving topology data
                    timestamp: 2023-10-01T12:00:00Z
                    path: /retrieve-topology
                    correlationId: req-12345-67890
  /retrieve-topology/device:
    post:
      tags:
        - Topology Management
      summary: Retrieve Device Topology Data
      description: >
        Retrieves comprehensive device information within the topology context,
        providing detailed 

        device attributes, operational status, and relationships to other
        network elements.


        This endpoint focuses on device-specific data within the topology
        framework, including:

        - **Device Attributes**: Hardware specifications, software versions, and
        capabilities

        - **Operational Status**: Current device state, health metrics, and
        performance indicators

        - **Network Relationships**: Device roles, connections, and dependencies
        within the topology

        - **Management Information**: Device discovery details, monitoring
        status, and configuration state


        **Use Cases:**

        - Device inventory and asset management

        - Device health monitoring and status reporting

        - Topology-aware device troubleshooting

        - Integration with device management workflows

        - Network documentation and compliance reporting


        **Performance Considerations:**

        - Response size varies based on the number of devices and detail level
        requested

        - Consider filtering criteria to optimize response time and size

        - Device data is refreshed based on discovery intervals and real-time
        polling
      operationId: RetrieveTopologyDevices
      x-mcp-operation:
        category: topology-management
        ai-description: Retrieve specific device information within topology context for
          detailed device analysis.
        use-cases:
          - Get detailed device information for topology nodes
          - Analyze device roles and relationships in network topology
          - Support device-specific network troubleshooting
        data-sensitivity: operational
        automation-priority: medium
      requestBody:
        description: Request body for topology device data.
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TopologyDeviceCriteria"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/topologyDevice"
  /retrieve-topology/link:
    post:
      tags:
        - Topology Management
      summary: Retrieve Link Topology Data
      description: >
        Retrieves comprehensive link information within the topology context,
        providing detailed

        connectivity data, relationship mappings, and interconnection analytics
        between network elements.


        This endpoint specializes in link-specific topology data, including:

        - **Physical Connections**: Direct physical links between devices and
        ports

        - **Logical Associations**: VLAN trunks, LAG configurations, and virtual
        connections

        - **Link Properties**: Bandwidth, utilization, duplex settings, and
        operational parameters

        - **Relationship Context**: How links fit within the broader network
        topology structure

        - **Status Information**: Link state, health metrics, and performance
        indicators


        **Use Cases:**

        - Network connectivity analysis and path discovery

        - Link capacity planning and bandwidth management

        - Topology-aware network troubleshooting and fault isolation

        - Network documentation and relationship mapping

        - Integration with network monitoring and alerting systems


        **Performance Considerations:**

        - Response includes detailed link metadata which may result in larger
        payloads

        - Filter criteria can significantly reduce response time for large
        topologies

        - Link status information reflects real-time or near real-time device
        polling data
      operationId: RetrieveTopologyLinks
      x-mcp-operation:
        category: topology-management
        ai-description: Retrieve specific link information within topology context for
          network connectivity analysis.
        use-cases:
          - Analyze network connectivity and link relationships
          - Identify critical network paths and redundancy
          - Support link-specific network troubleshooting
          - Generate network connectivity reports
        data-sensitivity: operational
        automation-priority: medium
      requestBody:
        description: Request body for topology link data.
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TopologyLinkCriteria"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/topologyLink"
  /hide:
    post:
      tags:
        - Hide Node or Link Management
      summary: Hide Node or Link
      description: >
        Selectively hides specific nodes or links from topology visualizations
        to improve diagram clarity,

        reduce visual complexity, and create focused network views for specific
        analysis or presentation purposes.


        This operation provides granular control over topology visibility,
        supporting:

        - **Selective Hiding**: Hide individual nodes, links, or groups of
        network elements

        - **View Customization**: Create simplified views for different
        audiences or use cases

        - **Focus Management**: Reduce visual noise to highlight critical
        network paths or components

        - **Presentation Support**: Generate clean topology diagrams for
        documentation or presentations

        - **Troubleshooting Aid**: Hide non-relevant elements to focus on
        problem areas


        **Hide Operation Details:**

        - Hidden elements are removed from visual representation but remain in
        the data model

        - Hide state is maintained per user session or can be made persistent

        - Multiple elements can be hidden in a single operation

        - Hidden elements can be restored using the unhide operation


        **Use Cases:**

        - Creating simplified network diagrams for executive presentations

        - Focusing troubleshooting efforts on specific network segments

        - Generating role-specific topology views (access layer, core, etc.)

        - Reducing complexity for training and documentation purposes

        - Supporting network change management workflows


        **Operational Considerations:**

        - Hide operations are reversible and non-destructive

        - Hidden elements maintain their relationships and can affect path
        calculations

        - Consider impact on topology analytics when hiding critical network
        elements
      operationId: Hide
      x-mcp-operation:
        category: topology-visualization
        ai-description: Hide specific nodes or links from topology views to improve
          visualization clarity and focus.
        use-cases:
          - Simplify topology views by hiding non-essential elements
          - Create focused network diagrams for presentations
          - Reduce visual complexity for troubleshooting
          - Support custom topology visualization workflows
        data-sensitivity: configuration
        automation-priority: low
      requestBody:
        description: Request body for hide a node or link
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/HideUnhideParamInfo"
      responses:
        "200":
          description: Hide of node or links are successful.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HideUnhideResponse"
        "400":
          description: Bad Request - The request was invalid or cannot be otherwise served.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HideUnhideResponse"
        "404":
          description: Not Found - The specified resource could not be found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HideUnhideResponse"
        "500":
          description: Internal Server Error - An error occurred on the server.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HideUnhideResponse"
  /unhide:
    post:
      tags:
        - Unhide Node or Link Management
      summary: Unhide Node or Link
      description: >
        Restores visibility of previously hidden nodes or links in topology
        visualizations,

        returning network elements to their normal display state and re-enabling
        their 

        participation in visual analysis and interactive operations.


        This operation provides comprehensive visibility restoration
        capabilities:

        - **Selective Restoration**: Unhide specific nodes, links, or element
        groups

        - **Bulk Operations**: Restore multiple hidden elements in a single
        request

        - **State Management**: Manage visibility state across different
        topology views

        - **Recovery Support**: Restore accidentally hidden critical network
        elements

        - **View Completion**: Return to full topology visibility for
        comprehensive analysis


        **Unhide Operation Details:**

        - Restored elements immediately become visible in topology
        visualizations

        - All relationships and connections are re-established in the visual
        representation

        - Previously hidden elements retain their original positioning and
        properties

        - Unhide operations can be applied to elements hidden in current or
        previous sessions


        **Use Cases:**

        - Recovering from accidental hide operations

        - Transitioning from focused to comprehensive network views

        - Restoring full topology visibility after targeted analysis

        - Supporting dynamic visualization workflows

        - Enabling collaborative topology analysis with shared visibility states


        **Operational Considerations:**

        - Unhide operations are immediate and affect real-time topology displays

        - Consider performance impact when unhiding large numbers of elements

        - Restored elements may affect layout algorithms and positioning
      operationId: Unhide
      x-mcp-operation:
        category: topology-visualization
        ai-description: Restore visibility of previously hidden nodes or links in
          topology views.
        use-cases:
          - Restore hidden network elements to topology views
          - Undo previous hide operations for complete network visibility
          - Support dynamic topology visualization management
          - Enable comprehensive network analysis workflows
        data-sensitivity: configuration
        automation-priority: low
      requestBody:
        description: Request body to hide a node or link
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/HideUnhideParamInfo"
      responses:
        "200":
          description: Hide of node or links are successful.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HideUnhideResponse"
        "400":
          description: Bad Request - The request was invalid or cannot be otherwise served.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HideUnhideResponse"
        "404":
          description: Not Found - The specified resource could not be found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HideUnhideResponse"
        "500":
          description: Internal Server Error - An error occurred on the server.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HideUnhideResponse"
  /group:
    get:
      tags:
        - Topology Management
      summary: Get Group Hierarchy
      description: >
        Retrieves the complete organizational group hierarchy structure that
        defines how network

        devices and elements are logically organized within the management
        framework.


        This endpoint provides comprehensive group structure information
        including:

        - **Hierarchical Organization**: Multi-level group structures with
        parent-child relationships

        - **Group Membership**: Device assignments and group population details

        - **Organizational Context**: Business logic groupings such as
        locations, departments, or functions

        - **Management Scope**: Access control and administrative boundary
        definitions

        - **Metadata Information**: Group descriptions, properties, and custom
        attributes


        **Group Hierarchy Features:**

        - **Nested Structures**: Support for complex multi-level organizational
        hierarchies

        - **Dynamic Membership**: Groups can contain devices, sub-groups, or
        mixed memberships

        - **Role-Based Organization**: Groups aligned with network roles,
        locations, or business units

        - **Inheritance Properties**: Configuration and policy inheritance
        through hierarchy levels


        **Use Cases:**

        - Generating organizational network diagrams and documentation

        - Supporting role-based access control and administrative workflows

        - Enabling hierarchical network management and policy deployment

        - Facilitating network segmentation and logical organization

        - Integration with identity management and organizational directory
        systems


        **Performance Considerations:**

        - Response size scales with organizational complexity and group depth

        - Hierarchy data is typically cached and updated based on organizational
        changes

        - Consider the depth of hierarchy when processing for visualization or
        analysis
      operationId: GetGroupHierarchy
      x-mcp-operation:
        category: topology-management
        ai-description: Retrieve hierarchical group structure for organizational
          topology views and network segmentation.
        use-cases:
          - Understand network organizational structure
          - Generate hierarchical network diagrams
          - Support network segmentation analysis
          - Enable group-based network management workflows
        data-sensitivity: structural
        automation-priority: medium
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/group"
  /tags:
    get:
      tags:
        - Tag Management
      operationId: GetTags
      deprecated: true
      summary: Retrieve Tags
      description: Retrieve tags with filtering and pagination support
      parameters:
        - in: query
          name: page_number
          required: false
          schema:
            type: number
        - in: query
          name: filter
          required: false
          schema:
            type: string
        - in: query
          name: sort
          required: false
          schema:
            type: string
        - in: query
          name: page_size
          required: false
          schema:
            type: number
      responses:
        "200":
          description: Successfully retrieved tags
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/tagResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
    post:
      tags:
        - Tag Management
      operationId: CreateTag
      deprecated: true
      description: Create a new tag
      summary: Create a new tag
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/tagInfo"
      responses:
        "200":
          description: Successfully created tag
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/tagInfo"
    put:
      tags:
        - Tag Management
      operationId: UpdateTag
      deprecated: true
      description: Update a tag
      summary: Update a tag
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/tagInfo"
      responses:
        "200":
          description: Successfully updated tag
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/tagInfo"
    delete:
      tags:
        - Tag Management
      operationId: DeleteTags
      deprecated: true
      description: Delete a tag
      summary: Delete a tag
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UUIDList"
      responses:
        "200":
          description: Successfully deleted tag
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UUIDList"
        "204":
          description: Successfully deleted tag
  /tags/entities:
    post:
      tags:
        - Tag Management
      operationId: AssociateTagEntities
      deprecated: true
      description: Associate tags with entities
      summary: Associate tags with entities
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AssociateEntities"
      responses:
        "200":
          description: Tags associated with entities successfully.
        "400":
          description: Invalid request parameters or format.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
        "404":
          description: One or more entity/tags not found.
        "500":
          description: Error occurred while associating tags.
    delete:
      tags:
        - Tag Management
      operationId: DisAssociateTagEntities
      deprecated: true
      description: Disassociate tags from nodes
      summary: Disassociate tags from nodes
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AssociateEntities"
      responses:
        "200":
          description: Tags disassociated from entities successfully.
        "400":
          description: Invalid request parameters or format.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
        "404":
          description: One or more entity/tags not found.
        "500":
          description: Error occurred while disassociating tags.
  /user/preferences:
    get:
      tags:
        - User Preferences
      summary: getUserPreferences
      description: >
        Retrieves user-specific preferences and configuration settings that
        personalize the network

        management interface and customize the user experience across different
        application features.


        This endpoint provides access to comprehensive user preference data
        including:

        - **Interface Customization**: Dashboard layouts, widget configurations,
        and display preferences

        - **Behavioral Settings**: Default views, auto-refresh intervals, and
        interaction preferences

        - **Personalization Data**: Custom filters, saved searches, and bookmark
        configurations

        - **Accessibility Options**: Display scaling, color themes, and
        accessibility accommodations

        - **Feature Toggles**: User-specific feature enablement and experimental
        feature access


        **Preference Categories:**

        - **Visualization**: Topology view preferences, chart types, and display
        options

        - **Workflow**: Default actions, confirmation settings, and automation
        preferences

        - **Notifications**: Alert preferences, delivery methods, and escalation
        settings

        - **Security**: Session management, authentication preferences, and
        privacy settings


        **Use Cases:**

        - Loading personalized user interface configurations on login

        - Synchronizing user preferences across multiple sessions or devices

        - Supporting user experience customization and accessibility
        requirements

        - Enabling preference backup and restoration workflows

        - Integration with single sign-on and identity management systems


        **Data Management:**

        - Preferences are stored per user and isolated between different user
        accounts

        - Settings can be queried by specific keys or retrieved in bulk

        - Preference data supports versioning and rollback capabilities
      operationId: GetUserPreferences
      x-mcp-operation:
        category: user-management
        ai-description: Retrieve user-specific preferences for personalized network
          management interface configuration.
        use-cases:
          - Load user interface customizations
          - Restore user-specific settings and layouts
          - Support personalized dashboard configurations
          - Enable user preference synchronization
        data-sensitivity: personal
        automation-priority: low
      parameters:
        - name: key
          in: query
          description: key of preferences
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/UserPreferenceInfo"
    post:
      tags:
        - User Preferences
      summary: postUserPreferences
      description: >
        Creates or updates user-specific preferences and configuration settings
        to personalize

        the network management interface and maintain consistent user experience
        across sessions.


        This endpoint enables comprehensive preference management including:

        - **Preference Creation**: Establish new user-specific configuration
        settings

        - **Preference Updates**: Modify existing settings while preserving
        unrelated preferences

        - **Bulk Operations**: Create or update multiple preference items in a
        single request

        - **Validation**: Ensure preference values conform to expected formats
        and constraints

        - **Persistence**: Store preferences securely with appropriate user data
        protection


        **Supported Preference Types:**

        - **Interface Settings**: Layout configurations, theme selections, and
        display customizations

        - **Operational Defaults**: Default time ranges, refresh intervals, and
        view preferences

        - **Workflow Configurations**: Custom automation settings and process
        preferences

        - **Security Preferences**: Session timeout preferences and security
        feature settings

        - **Integration Settings**: Third-party tool integrations and API
        preferences


        **Operation Characteristics:**

        - **Atomic Updates**: All preferences in a request are updated together
        or none are updated

        - **Merge Behavior**: New preferences are merged with existing ones,
        preserving unspecified settings

        - **Validation**: Invalid preference values result in request rejection
        with detailed error information

        - **Audit Trail**: Preference changes are logged for security and
        troubleshooting purposes


        **Use Cases:**

        - Saving user interface customizations and personal workflow
        configurations

        - Implementing user onboarding and setup wizards

        - Supporting preference import/export and migration workflows

        - Enabling dynamic user experience optimization based on usage patterns

        - Integration with user training and help systems


        **Data Protection:**

        - All preference data is encrypted and stored securely

        - Preferences are isolated between users and protected by authentication

        - Sensitive preference data is handled according to privacy and
        compliance requirements
      operationId: CreateUserPreferences
      x-mcp-operation:
        category: user-management
        ai-description: Create or update user-specific preferences for personalized
          network management experience.
        use-cases:
          - Save user interface customizations
          - Store user-specific settings and layouts
          - Configure personalized dashboard preferences
          - Enable user preference management workflows
        data-sensitivity: personal
        automation-priority: low
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: "#/components/schemas/UserPreferenceInfo"
      responses:
        "200":
          description: Successfully created/updated user preference(s)
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/UserPreferenceInfo"
    delete:
      tags:
        - User Preferences
      summary: deleteUserPreferences
      description: >
        Deletes specific user preferences to reset customizations, clean up
        obsolete settings,

        or restore default application behavior for targeted preference
        categories.


        This endpoint provides granular preference removal capabilities
        including:

        - **Selective Deletion**: Remove specific preference keys while
        preserving others

        - **Category Cleanup**: Delete entire preference categories or groups

        - **Reset Functionality**: Restore specific settings to their default
        values

        - **Data Cleanup**: Remove deprecated or invalid preference entries

        - **Bulk Operations**: Delete multiple related preferences in a single
        operation


        **Deletion Behavior:**

        - **Targeted Removal**: Only preferences matching the specified key are
        deleted

        - **Cascading Effects**: Related preferences may be affected based on
        dependencies

        - **Default Restoration**: Deleted preferences revert to system or
        application defaults

        - **Audit Logging**: Deletion operations are logged for security and
        troubleshooting

        - **Validation**: Ensures critical system preferences cannot be
        accidentally deleted


        **Use Cases:**

        - Resetting user interface to default settings for troubleshooting

        - Cleaning up user accounts during offboarding or role changes

        - Removing obsolete preferences after application updates

        - Supporting user-initiated preference reset workflows

        - Enabling preference troubleshooting and support scenarios

        - Data privacy compliance and user data management


        **Safety Considerations:**

        - **Irreversible Operation**: Deleted preferences cannot be
        automatically recovered

        - **Backup Recommendation**: Consider backing up preferences before
        deletion

        - **Impact Assessment**: Deletion may affect user experience and require
        reconfiguration

        - **Dependency Validation**: System checks for preference dependencies
        before deletion


        **Data Protection:**

        - Deletion operations are authenticated and authorized per user

        - Audit trails maintain records of preference deletion for compliance

        - Secure deletion ensures preference data cannot be recovered
        inappropriately
      operationId: DeleteUserPreferences
      x-mcp-operation:
        category: user-management
        ai-description: Delete specific user preferences to reset customizations or
          clean up user data.
        use-cases:
          - Reset user interface to default settings
          - Clean up obsolete user preferences
          - Support user data management workflows
          - Enable preference troubleshooting and recovery
        data-sensitivity: personal
        automation-priority: low
      parameters:
        - name: key
          in: query
          required: true
          description: key of preferences
          schema:
            type: string
      responses:
        "200":
          description: Successfully deleted user preferences
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/UserPreferenceInfo"
        "204":
          description: Successfully deleted user preferences
  /custom-positions:
    post:
      tags:
        - Topology Management
      description: >
        Creates or updates custom positioning data for network elements in
        topology visualizations,

        enabling users to maintain consistent, personalized network diagram
        layouts that enhance

        understanding and presentation of network infrastructure.


        This endpoint provides comprehensive position management capabilities
        including:

        - **Element Positioning**: Define precise X,Y coordinates for nodes and
        network elements

        - **Layout Persistence**: Save custom arrangements that persist across
        sessions and users

        - **Multi-View Support**: Maintain different positioning schemes for
        various topology views

        - **Collaborative Layouts**: Share positioning schemes across teams or
        user groups

        - **Dynamic Updates**: Modify positions in real-time during interactive
        topology sessions


        **Positioning Features:**

        - **Coordinate Systems**: Support for various coordinate systems and
        scaling factors

        - **Element Relationships**: Maintain relative positioning and alignment
        between connected elements

        - **Layout Templates**: Create reusable positioning patterns for similar
        network structures

        - **Constraint Handling**: Respect positioning constraints and collision
        detection

        - **Version Control**: Track changes to positioning schemes over time


        **Use Cases:**

        - Creating standardized network documentation with consistent element
        placement

        - Maintaining logical network diagrams that reflect physical or
        functional relationships

        - Supporting collaborative network design and planning sessions

        - Enabling presentation-ready topology views for executive reporting

        - Facilitating network training and educational material development

        - Integration with network design tools and documentation systems


        **Performance Considerations:**

        - Position updates are processed efficiently for real-time interactive
        use

        - Bulk position updates are optimized for large topology modifications

        - Position data is cached for quick retrieval and rendering performance

        - Consider network complexity when updating large numbers of element
        positions


        **Data Management:**

        - Custom positions are associated with specific topology views and chart
        contexts

        - Position data includes metadata for validation and troubleshooting

        - Support for position inheritance and template-based positioning
      summary: Update the Custom Position
      operationId: UpdateCustomPosition
      x-mcp-operation:
        category: topology-visualization
        ai-description: Create or update custom positioning for network elements in
          topology visualizations.
        use-cases:
          - Save custom topology layouts and positions
          - Maintain consistent network diagram layouts
          - Support user-specific topology customizations
          - Enable collaborative topology design workflows
        data-sensitivity: configuration
        automation-priority: low
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties:
                $ref: "#/components/schemas/customPosition"
      responses:
        "200":
          description: Successfully updated custom positions
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  $ref: "#/components/schemas/customPosition"
    delete:
      tags:
        - Topology Management
      description: >
        Deletes custom positioning data for specific topology views, resetting
        network elements

        to their default algorithmic positions and cleaning up personalized
        layout configurations.


        This operation provides comprehensive position data cleanup including:

        - **View-Specific Deletion**: Remove custom positions for specific
        topology chart contexts

        - **Selective Reset**: Target specific topology views while preserving
        others

        - **Layout Cleanup**: Remove obsolete or corrupted positioning data

        - **Default Restoration**: Return elements to automatic layout algorithm
        positioning

        - **Data Maintenance**: Clean up positioning data during system
        maintenance or migration


        **Deletion Behavior:**

        - **Targeted Removal**: Only positions associated with the specified
        chart hash are deleted

        - **Automatic Fallback**: Elements immediately revert to default
        algorithmic positioning

        - **Cascading Effects**: Related positioning constraints and
        relationships are also removed

        - **Performance Optimization**: Deletion operation is optimized for
        minimal disruption

        - **Audit Trail**: Deletion operations are logged for troubleshooting
        and recovery


        **Use Cases:**

        - Resetting topology layouts to default algorithmic positioning

        - Cleaning up corrupted or invalid positioning data

        - Supporting topology view maintenance and optimization workflows

        - Enabling layout troubleshooting and problem resolution

        - Facilitating topology migration and system upgrades

        - Supporting user interface reset and recovery scenarios


        **Recovery Considerations:**

        - **Irreversible Operation**: Deleted position data cannot be
        automatically recovered

        - **Layout Recreation**: Users will need to manually recreate custom
        positioning if needed

        - **Impact Assessment**: Consider user workflow impact before deleting
        established layouts

        - **Alternative Approaches**: Consider exporting position data before
        deletion for backup


        **Performance Impact:**

        - Deletion operations are processed efficiently with minimal system
        impact

        - Topology views are automatically refreshed with default positioning

        - Related caching and rendering systems are updated to reflect position
        changes
      summary: Delete custom positions
      operationId: DeleteCustomPosition
      x-mcp-operation:
        category: topology-visualization
        ai-description: Delete custom positioning data to reset topology elements to
          default layouts.
        use-cases:
          - Reset topology elements to default positions
          - Clean up obsolete custom positioning data
          - Support topology layout management workflows
          - Enable position troubleshooting and recovery
        data-sensitivity: configuration
        automation-priority: low
      parameters:
        - name: chartHash
          in: query
          description: Chart hash for the topology
          required: true
          schema:
            type: string
            example: abstractFabricView
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                items:
                  $ref: "#/components/schemas/customPosition"
  /device/physical/link:
    get:
      tags:
        - Device Management
      summary: Get Physical Link Details
      description: >
        Retrieves comprehensive physical link information including port
        utilization statistics, 

        traffic counters, error statistics, and operational details for both
        ends of a network link.


        This endpoint provides detailed insights into:

        - **Utilization Metrics**: Current and maximum bandwidth utilization
        percentages

        - **Traffic Statistics**: Packet and byte counters for unicast,
        broadcast, and multicast traffic

        - **Error Statistics**: Various error counters including discards, CRC
        errors, collisions

        - **Port Details**: Administrative and operational states, speed,
        duplex, media type

        - **LAG Information**: For aggregated links, includes member port
        details and protocols


        **Use Cases:**

        - Network performance monitoring and troubleshooting

        - Capacity planning and bandwidth analysis

        - Link health assessment and error detection

        - Integration with network monitoring systems


        **Performance Impact:**

        - Statistics are collected in real-time from network devices

        - Response time depends on device responsiveness and network latency
      operationId: getDevicePhysicalLinkDetails
      x-mcp-operation:
        category: device-monitoring
        ai-description: Retrieve detailed physical link statistics and performance
          metrics for network monitoring and analysis.
        use-cases:
          - Monitor link utilization and performance
          - Detect network congestion and errors
          - Analyze traffic patterns for capacity planning
          - Troubleshoot connectivity issues
        data-sensitivity: operational
        real-time: true
        automation-priority: medium
      parameters:
        - name: linkID
          in: query
          description: >
            Unique identifier (UUID) of the physical link for which to retrieve
            detailed information.

            This corresponds to the edge ID in topology data.
          required: true
          schema:
            type: string
            example: 5b3da8f6-bfc8-4776-ae72-e388db060000
        - name: topologyType
          in: query
          description: >
            Type of topology context from which the link details are being
            queried. This affects

            which layer of information is emphasized in the response.


            - `physical`: Focus on physical layer details and statistics

            - `fabric`: Include fabric-aware information if applicable

            - `physicalAndFabric`: Combined view of both layers
          required: true
          schema:
            $ref: "#/components/schemas/TopologyType"
          example: physical
      responses:
        "200":
          description: >
            Successfully retrieved physical link details. The response includes
            comprehensive information

            about both ports connected by the link, traffic statistics, error
            counters, and configuration details.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DevicePhysicalLinkDetails"
              examples:
                ethernet_link_details:
                  summary: Typical Ethernet link with statistics
                  description: Example response for a standard Ethernet link between two switches
                  value:
                    link:
                      device1Name: core-sw-001
                      device2Name: access-sw-015
                      port1Name: 1/1/1
                      port2Name: 1/1/24
                      port1Description: Uplink to Core
                      port2Description: Link to Access Layer
                    linkInfo:
                      linkMediaType: Ethernet
                    port1State:
                      portUtilizationInfo:
                        utilizationRx: 15.5
                        utilizationTx: 23.2
                        utilizationMaxRx: 45.8
                        utilizationMaxTx: 67.1
                      portInOutStats:
                        inOctets: 1234567890
                        outOctets: 9876543210
                        inUcastPkts: 500000
                        outUcastPkts: 750000
                      portDetails:
                        portOperStatus: UP
                        portSpeed: 1G
                        transmissionMode: FULL
                lag_link_details:
                  summary: LAG link with member ports
                  description: Example response for a Link Aggregation Group (LAG) with multiple
                    member ports
                  value:
                    link:
                      device1Name: core-sw-001
                      device2Name: core-sw-002
                      port1Name: lag-1
                      port2Name: lag-1
                      port1LagLinkInfo:
                        lagMode: Trunk
                        lagProtocol: LACP
                        lagAlgorithm: L3L4
                    memberLinksState:
                      - link:
                          port1Name: 1/1/1
                          port2Name: 1/1/1
                        port1State:
                          portDetails:
                            portOperStatus: UP
        "400":
          description: |
            Bad Request - Invalid parameters provided:
            - Invalid UUID format for linkID
            - Invalid topologyType value
            - Missing required parameters
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
              examples:
                invalid_link_id:
                  summary: Invalid link ID format
                  value:
                    code: 400
                    message: "Invalid linkID format. Expected UUID format:
                      xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"
        "500":
          description: |
            Internal Server Error - Failed to retrieve link details:
            - Device communication failure
            - Database query error
            - Service unavailable
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
  /device/fabric/link:
    get:
      tags:
        - Device Management
      summary: Get device fabric link details
      description: >
        Retrieves comprehensive operational and configuration details for fabric
        network links,

        providing deep insights into fabric connectivity, authentication status,
        and performance

        characteristics essential for fabric network management and
        troubleshooting.


        This endpoint specializes in fabric-specific link information including:

        - **Fabric Authentication**: Authentication protocols, key management,
        and security status

        - **Operational State**: Link operational status, fabric role, and
        connectivity health

        - **Performance Metrics**: Fabric-specific performance indicators and
        quality metrics

        - **Configuration Details**: Fabric protocols, parameters, and
        administrative settings

        - **Relationship Context**: How fabric links integrate with the broader
        network architecture


        **Fabric Link Characteristics:**

        - **Security Integration**: Authentication mechanisms, encryption
        status, and trust relationships

        - **Protocol Analysis**: Fabric-specific protocol states, negotiations,
        and capabilities

        - **Health Monitoring**: Fabric link health, error rates, and
        performance degradation indicators

        - **Dynamic Configuration**: Runtime configuration changes and adaptive
        protocol behaviors

        - **Interoperability**: Multi-vendor fabric integration and
        compatibility information


        **Use Cases:**

        - Monitoring fabric network health and authentication status

        - Troubleshooting fabric connectivity and security issues

        - Analyzing fabric performance and optimization opportunities

        - Supporting fabric network design and planning workflows

        - Integration with fabric-aware network management and monitoring
        systems

        - Compliance verification and security audit workflows


        **Performance Considerations:**

        - Real-time data collection from fabric protocols and authentication
        systems

        - Response time depends on fabric device responsiveness and protocol
        complexity

        - Fabric authentication data may require elevated privileges for
        complete visibility

        - Consider security implications when accessing detailed fabric
        configuration data


        **Security Implications:**

        - Fabric authentication details may contain sensitive security
        information

        - Access to fabric link details should be controlled based on user
        authorization levels

        - Audit logging is recommended for fabric security monitoring and
        compliance
      operationId: getDeviceFabricLinkDetails
      x-mcp-operation:
        category: device-monitoring
        ai-description: Retrieve detailed fabric link configuration and operational
          state for fabric network monitoring.
        use-cases:
          - Monitor fabric link health and authentication
          - Analyze fabric connectivity and configuration
          - Troubleshoot fabric network issues
          - Support fabric network optimization workflows
        data-sensitivity: operational
        real-time: true
        automation-priority: medium
      parameters:
        - name: linkID
          in: query
          description: UUID of the link (edge)
          required: true
          schema:
            type: string
            example: 5b3da8f6-bfc8-4776-ae72-e388db060000
        - name: topologyType
          in: query
          description: Type of the topology from which link details are queried
          required: true
          schema:
            $ref: "#/components/schemas/TopologyType"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeviceFabricLinkDetails"
        "400":
          description: Bad Request - Invalid request parameters or format.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
        "500":
          description: Internal Server Error - Failed to retrieve fabric link details.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
  /device/ports:
    get:
      tags:
        - Device Management
      summary: Get device interface details
      description: >
        Retrieves comprehensive interface information for network devices,
        providing detailed

        visibility into both wired and wireless interfaces including
        configuration, status,

        performance metrics, and operational characteristics.


        This endpoint provides extensive interface data including:

        - **Interface Inventory**: Complete enumeration of all device interfaces
        (physical and logical)

        - **Configuration Details**: Administrative settings, protocol
        configurations, and feature enablement

        - **Operational Status**: Real-time interface states, link status, and
        health indicators

        - **Performance Metrics**: Traffic statistics, utilization rates, error
        counters, and quality metrics

        - **Capability Information**: Interface speeds, duplex modes, media
        types, and supported features


        **Interface Categories:**

        - **Physical Interfaces**: Ethernet ports, fiber connections, and copper
        interfaces

        - **Logical Interfaces**: VLANs, sub-interfaces, and protocol-specific
        virtual interfaces  

        - **Wireless Interfaces**: Radio interfaces, SSID configurations, and
        wireless client associations

        - **Management Interfaces**: Out-of-band management, console ports, and
        administrative interfaces

        - **Aggregate Interfaces**: Link aggregation groups (LAGs), port
        channels, and bonded interfaces


        **Data Richness:**

        - **Historical Context**: Interface change history and configuration
        evolution

        - **Dependency Mapping**: Interface relationships and service
        dependencies

        - **Troubleshooting Data**: Error patterns, performance anomalies, and
        diagnostic information

        - **Integration Points**: Service mappings, VLAN assignments, and
        protocol bindings


        **Use Cases:**

        - Comprehensive device interface inventory and capacity planning

        - Interface performance monitoring and troubleshooting workflows

        - Network documentation and topology discovery processes

        - Service impact analysis and dependency mapping

        - Integration with network monitoring and alerting systems

        - Supporting device migration and upgrade planning


        **Performance Considerations:**

        - Response size scales with device complexity and interface count

        - Real-time metrics collection may impact response time for devices with
        many interfaces

        - Consider filtering options to optimize response size and processing
        time

        - Interface statistics are collected based on device polling intervals
        and capabilities
      operationId: getDeviceInterfaceDetails
      x-mcp-operation:
        category: device-monitoring
        ai-description: Retrieve comprehensive device interface information including
          wired and wireless interfaces.
        use-cases:
          - Monitor device interface status and configuration
          - Analyze port utilization and performance
          - Support interface troubleshooting workflows
          - Generate device connectivity reports
        data-sensitivity: operational
        real-time: true
        automation-priority: high
      parameters:
        - name: deviceID
          in: query
          description: UUID of the device (node)
          required: true
          schema:
            type: string
            example: 5b3da8f6-bfc8-4776-ae72-e388db060000
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeviceInterfaceList"
        "400":
          description: Bad Request - Invalid request parameters or format.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
        "500":
          description: Internal Server Error - Failed to retrieve device interface details.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
  /device/lldp-cdp-neighbors:
    get:
      tags:
        - Device Management
      summary: Get LLDP neighbors
      description: >
        Retrieves comprehensive Link Layer Discovery Protocol (LLDP) and Cisco
        Discovery Protocol (CDP)

        neighbor information, providing essential network discovery data for
        topology mapping,

        connectivity validation, and network documentation workflows.


        This endpoint provides detailed neighbor discovery information
        including:

        - **Protocol Support**: Both LLDP (IEEE 802.1AB) and CDP neighbor
        discovery data

        - **Neighbor Identity**: Device names, system descriptions, and
        management addresses

        - **Connection Details**: Local and remote port information, interface
        mappings, and link characteristics

        - **Capability Information**: Discovered device capabilities, supported
        protocols, and system features

        - **Network Context**: VLAN information, network policies, and service
        advertisements


        **Discovery Protocol Features:**

        - **Multi-Protocol Support**: Unified view of LLDP and CDP discovery
        information

        - **Real-Time Data**: Current neighbor states with timestamp and aging
        information

        - **Detailed Attributes**: Extended device information including
        software versions and serial numbers

        - **Topology Correlation**: Neighbor data correlation with topology
        discovery and validation

        - **Change Detection**: Neighbor changes, additions, and removals with
        historical context


        **Neighbor Information Categories:**

        - **Device Identification**: System names, descriptions, chassis IDs,
        and management addresses

        - **Interface Mapping**: Local and remote port details, interface
        descriptions, and connection types

        - **Network Services**: Advertised VLANs, network policies, and service
        capabilities

        - **System Capabilities**: Router, switch, bridge, access point, and
        other device role information

        - **Protocol Details**: Discovery protocol versions, TLV extensions, and
        vendor-specific information


        **Use Cases:**

        - Network topology discovery and automated mapping workflows

        - Connectivity validation and link verification processes

        - Network documentation and cable management systems

        - Troubleshooting connectivity issues and layer 2 problems

        - Integration with network discovery tools and topology databases

        - Supporting network audit and compliance verification

        - Device replacement and migration planning


        **Data Accuracy Considerations:**

        - Neighbor data accuracy depends on device support for LLDP/CDP
        protocols

        - Discovery information reflects the most recent protocol exchanges

        - Some devices may have discovery protocols disabled for security
        reasons

        - Neighbor aging and timeout values affect data freshness and
        reliability
      operationId: getDeviceLLDPNeighbors
      x-mcp-operation:
        category: device-monitoring
        ai-description: Retrieve LLDP/CDP neighbor discovery information for device
          connectivity analysis.
        use-cases:
          - Discover device neighbors and connectivity
          - Validate network topology accuracy
          - Support network discovery and mapping workflows
          - Troubleshoot layer 2 connectivity issues
        data-sensitivity: operational
        real-time: true
        automation-priority: high
      parameters:
        - name: deviceID
          in: query
          description: UUID of the device (node)
          required: true
          schema:
            type: string
            example: 5b3da8f6-bfc8-4776-ae72-e388db060000
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NeighborList"
        "400":
          description: Bad Request - Invalid request parameters or format.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
        "500":
          description: Internal Server Error - Failed to retrieve LLDP/CDP neighbors.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
  /device/ssids:
    get:
      tags:
        - Device Management
      summary: Get Device SSIDs
      description: >
        Retrieves comprehensive Service Set Identifier (SSID) information for
        wireless network devices,

        providing detailed visibility into wireless network configurations,
        security settings,

        and operational characteristics essential for wireless network
        management.


        This endpoint provides extensive wireless SSID data including:

        - **SSID Configuration**: Network names, broadcasting settings, and
        availability status

        - **Security Settings**: Authentication methods, encryption protocols,
        and access control configurations

        - **Operational Metrics**: Connection statistics, client associations,
        and performance indicators

        - **Coverage Information**: Signal strength data, channel assignments,
        and coverage area details

        - **Service Features**: Quality of Service settings, bandwidth
        management, and advanced wireless features


        **SSID Categories:**

        - **Guest Networks**: Public access SSIDs with captive portal and
        isolation configurations

        - **Corporate Networks**: Enterprise SSIDs with 802.1X authentication
        and policy enforcement

        - **IoT Networks**: Dedicated SSIDs for Internet of Things devices with
        specialized security

        - **Management Networks**: Administrative SSIDs for device management
        and maintenance access

        - **Service Networks**: Specialized SSIDs for specific applications or
        user groups


        **Wireless Network Details:**

        - **Security Protocols**: WPA3, WPA2, WEP, and enterprise authentication
        configurations

        - **Access Control**: MAC filtering, time-based restrictions, and user
        group assignments

        - **Performance Management**: Bandwidth limits, QoS policies, and
        traffic prioritization

        - **Client Management**: Association limits, session timeouts, and
        client isolation settings

        - **Integration Features**: VLAN assignments, captive portal
        configurations, and external authentication


        **Use Cases:**

        - Wireless network inventory and security audit workflows

        - SSID performance monitoring and optimization analysis

        - Wireless security compliance verification and reporting

        - Guest network management and access control validation

        - Integration with wireless network planning and design tools

        - Supporting wireless troubleshooting and client connectivity issues

        - Capacity planning and coverage analysis for wireless infrastructure


        **Security Considerations:**

        - SSID configuration data may contain sensitive security information

        - Access to detailed wireless settings should be controlled based on
        user privileges

        - Security audit trails are recommended for wireless configuration
        access

        - Consider data sensitivity when exposing wireless network details


        **Performance Implications:**

        - Response includes real-time wireless operational data

        - Collection time may vary based on wireless controller responsiveness

        - Large numbers of SSIDs may result in substantial response payloads
      operationId: getDeviceSSIDs
      x-mcp-operation:
        category: device-monitoring
        ai-description: Retrieve wireless SSID information for wireless network
          monitoring and configuration analysis.
        use-cases:
          - Monitor wireless network SSIDs and configuration
          - Analyze wireless network coverage and capacity
          - Support wireless network troubleshooting
          - Generate wireless network inventory reports
        data-sensitivity: operational
        real-time: true
        automation-priority: medium
      parameters:
        - name: deviceID
          in: query
          description: UUID of the device (node)
          required: true
          schema:
            type: string
            example: 5b3da8f6-bfc8-4776-ae72-e388db060000
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SSIDList"
        "400":
          description: Bad Request - Invalid request parameters or format.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
        "500":
          description: Internal Server Error - Failed to retrieve device SSIDs.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
  /device/physical:
    get:
      tags:
        - Device Management
      summary: Get device physical details
      description: >
        Retrieves comprehensive physical device information including hardware
        specifications,

        component details, environmental status, and operational characteristics
        essential for

        device lifecycle management, capacity planning, and infrastructure
        operations.


        This endpoint provides extensive physical device data including:

        - **Hardware Specifications**: CPU, memory, storage capacity, and
        processing capabilities

        - **Component Inventory**: Modules, line cards, power supplies, and
        field-replaceable units

        - **Environmental Monitoring**: Temperature sensors, fan status, power
        consumption, and cooling metrics

        - **Asset Information**: Serial numbers, model identifiers,
        manufacturing details, and warranty status

        - **Operational Status**: Device health indicators, uptime statistics,
        and performance metrics


        **Physical Infrastructure Details:**

        - **Chassis Information**: Form factor, slot configurations, and
        expansion capabilities

        - **Power Systems**: Power supply status, redundancy configuration, and
        energy efficiency metrics

        - **Cooling Systems**: Fan operation, thermal management, and
        environmental threshold monitoring

        - **Interface Hardware**: Port counts, interface types, transceivers,
        and physical connectivity options

        - **Storage Systems**: Flash memory, configuration storage, and logging
        capacity information


        **Asset Management Features:**

        - **Lifecycle Tracking**: Installation dates, firmware versions, and
        update history

        - **Inventory Management**: Component part numbers, replacement
        schedules, and maintenance records

        - **Compliance Information**: Regulatory certifications, environmental
        ratings, and safety standards

        - **Support Integration**: Warranty status, support contract details,
        and vendor relationship data

        - **Change Management**: Hardware modification history and configuration
        change tracking


        **Use Cases:**

        - Comprehensive device inventory and asset management workflows

        - Capacity planning and hardware upgrade decision support

        - Environmental monitoring and data center infrastructure management

        - Maintenance scheduling and predictive failure analysis

        - Compliance reporting and regulatory audit support

        - Integration with enterprise asset management systems

        - Supporting device procurement and lifecycle planning

        - Hardware troubleshooting and diagnostic workflows


        **Data Accuracy Considerations:**

        - Hardware information is collected directly from device management
        interfaces

        - Environmental data reflects real-time sensor readings and may
        fluctuate

        - Asset information accuracy depends on device support for hardware
        inventory protocols

        - Some legacy devices may provide limited physical detail information


        **Performance Impact:**

        - Hardware inventory collection is optimized for minimal device impact

        - Environmental monitoring data provides real-time operational insights

        - Response time may vary based on device complexity and management
        interface responsiveness
      operationId: getDevicePhysicalDetails
      x-mcp-operation:
        category: device-monitoring
        ai-description: Retrieve comprehensive physical device information including
          hardware details and operational status.
        use-cases:
          - Monitor device hardware status and capabilities
          - Generate device inventory and asset reports
          - Support hardware troubleshooting workflows
          - Analyze device capacity and utilization
        data-sensitivity: operational
        automation-priority: high
      parameters:
        - name: deviceID
          in: query
          description: UUID of the device (node)
          required: true
          schema:
            type: string
            example: 5b3da8f6-bfc8-4776-ae72-e388db060000
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/deviceAttribute"
        "400":
          description: Bad Request - Invalid request parameters or format.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
        "500":
          description: Internal Server Error - Failed to retrieve device physical details.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
  /device/fabric:
    get:
      tags:
        - Device Management
      summary: Get device fabric details
      description: >
        Retrieves comprehensive fabric-specific device configuration and
        operational state information,

        providing deep insights into fabric network participation, roles,
        capabilities, and performance

        characteristics essential for fabric network management and
        optimization.


        This endpoint provides extensive fabric device data including:

        - **Fabric Role Information**: Device function within fabric topology
        (spine, leaf, border, etc.)

        - **Protocol Configuration**: Fabric routing protocols, authentication
        settings, and service parameters

        - **Operational State**: Fabric connectivity status, peer relationships,
        and health indicators

        - **Performance Metrics**: Fabric-specific traffic statistics,
        convergence times, and efficiency measures

        - **Service Integration**: Overlay services, tenant configurations, and
        multi-tenancy support


        **Fabric Architecture Details:**

        - **Topology Participation**: Device position and role within fabric
        hierarchy and design patterns

        - **Protocol Support**: BGP EVPN, VXLAN, and other fabric protocol
        configurations and states

        - **Authentication Systems**: Fabric security mechanisms, key
        management, and trust relationships

        - **Load Balancing**: Traffic distribution, path selection, and fabric
        optimization configurations

        - **Redundancy Features**: High availability configurations, failover
        mechanisms, and resilience features


        **Service Capabilities:**

        - **Overlay Networks**: VXLAN tunnels, service VNIs, and
        overlay-to-underlay mappings

        - **Multi-Tenancy**: Tenant isolation, VRF configurations, and service
        segmentation

        - **Quality of Service**: Fabric QoS policies, traffic engineering, and
        performance optimization

        - **Integration Features**: External connectivity, border gateway
        configurations, and inter-fabric communication

        - **Automation Support**: Zero-touch provisioning, configuration
        templates, and orchestration integration


        **Use Cases:**

        - Fabric network health monitoring and performance analysis

        - Fabric device role verification and topology validation

        - Troubleshooting fabric connectivity and service delivery issues

        - Fabric network optimization and capacity planning workflows

        - Integration with fabric orchestration and automation systems

        - Supporting fabric network design and architecture validation

        - Compliance verification for fabric security and segmentation policies

        - Fabric migration planning and upgrade coordination


        **Operational Considerations:**

        - Fabric data collection includes real-time protocol state and
        performance metrics

        - Response complexity scales with fabric size and service configuration
        density

        - Fabric authentication details may require elevated access privileges

        - Consider security implications when accessing detailed fabric
        configuration data


        **Performance Implications:**

        - Fabric protocol data reflects current convergence state and may change
        dynamically

        - Collection efficiency is optimized for fabric-scale deployments

        - Real-time metrics provide immediate fabric health and performance
        visibility
      operationId: getDeviceFabricDetails
      x-mcp-operation:
        category: device-monitoring
        ai-description: Retrieve fabric-specific device configuration and operational
          state for fabric network management.
        use-cases:
          - Monitor fabric device configuration and status
          - Analyze fabric network topology and roles
          - Support fabric network troubleshooting
          - Generate fabric network reports and documentation
        data-sensitivity: operational
        automation-priority: high
      parameters:
        - name: deviceID
          in: query
          description: UUID of the device (node)
          required: true
          schema:
            type: string
            example: 5b3da8f6-bfc8-4776-ae72-e388db060000
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/deviceFabricAttribute"
        "400":
          description: Bad Request - Invalid request parameters or format.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
        "500":
          description: Internal Server Error - Failed to retrieve device fabric details.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
  /device/sync:
    post:
      tags:
        - Device Management
      summary: Sync the managed devices to clear the device inconsistencies
      description: >
        Performs comprehensive device inventory synchronization between the
        management system

        and cloud-based device registry to identify and resolve inconsistencies,
        ensuring accurate

        device records and eliminating orphaned or stale device entries.


        This operation provides robust device consistency management including:

        - **Inventory Reconciliation**: Compare local device records with
        authoritative cloud inventory

        - **Inconsistency Detection**: Identify orphaned devices, duplicate
        entries, and stale records

        - **Automated Cleanup**: Remove devices that no longer exist in the
        authoritative source

        - **Data Validation**: Verify device attributes, status information, and
        relationship integrity

        - **Audit Trail Generation**: Document all synchronization actions for
        compliance and troubleshooting


        **Synchronization Process:**

        - **Discovery Phase**: Enumerate all managed devices in local inventory

        - **Validation Phase**: Cross-reference with cloud device registry and
        authoritative sources

        - **Analysis Phase**: Identify inconsistencies, conflicts, and
        resolution requirements

        - **Reconciliation Phase**: Apply corrections, removals, and updates
        based on policy

        - **Verification Phase**: Confirm synchronization success and generate
        completion reports


        **Inconsistency Resolution:**

        - **Orphaned Devices**: Remove local devices that no longer exist in
        cloud inventory

        - **Stale Records**: Update device information that has changed in
        authoritative sources

        - **Duplicate Entries**: Consolidate multiple records for the same
        physical device

        - **Status Mismatches**: Reconcile operational status and management
        state differences

        - **Relationship Cleanup**: Repair broken device relationships and
        topology associations


        **Use Cases:**

        - Regular maintenance to ensure device inventory accuracy and
        consistency

        - Post-migration cleanup after device management system changes

        - Resolving device inventory issues identified through monitoring or
        auditing

        - Supporting device lifecycle management and decommissioning workflows

        - Integration with cloud-based device management and orchestration
        systems

        - Compliance maintenance for asset management and audit requirements

        - Troubleshooting device discovery and management connectivity issues


        **Operational Safeguards:**

        - **Dry Run Capability**: Preview synchronization actions before
        applying changes

        - **Rollback Support**: Ability to reverse synchronization actions if
        needed

        - **Selective Sync**: Target specific device groups or categories for
        focused cleanup

        - **Impact Assessment**: Analyze potential effects before performing
        bulk operations

        - **Backup Integration**: Coordinate with backup systems to preserve
        critical device data


        **Performance Considerations:**

        - Synchronization time scales with device inventory size and complexity

        - Cloud connectivity requirements for accessing authoritative device
        registry

        - Potential temporary service impact during large-scale device cleanup
        operations

        - Resource utilization optimization for minimal operational disruption
      operationId: clearDeviceInconsistencies
      x-mcp-operation:
        category: device-management
        ai-description: Synchronize managed devices with cloud inventory to resolve
          inconsistencies and maintain accurate device records.
        use-cases:
          - Clean up orphaned device records
          - Synchronize device inventory with cloud systems
          - Resolve device management inconsistencies
          - Support device lifecycle management workflows
        data-sensitivity: administrative
        automation-priority: medium
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/deviceSyncAttribute"
      responses:
        "200":
          description: OK
        "400":
          description: Bad Request - Invalid request parameters or format.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
        "500":
          description: Internal Server Error - Failed to sync devices.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
  /retrieve-services:
    post:
      tags:
        - Service Management
      summary: Retrieve brief/details of L2 Vsn,L3 Vsn, Vlan and Vrf services
      description: >
        Retrieves comprehensive network service information across multiple
        service types including

        Layer 2 Virtual Service Networks (VSNs), Layer 3 VSNs, VLANs, and VRF
        services, providing

        unified visibility into network service configurations, dependencies,
        and operational status.


        This endpoint provides extensive multi-service data including:

        - **Service Inventory**: Complete enumeration of all configured network
        services

        - **Configuration Details**: Service parameters, policies, and
        administrative settings

        - **Operational Status**: Real-time service health, connectivity, and
        performance indicators

        - **Dependency Mapping**: Inter-service relationships, prerequisites,
        and impact analysis

        - **Resource Utilization**: Bandwidth consumption, endpoint counts, and
        capacity metrics


        **Service Categories Supported:**

        - **Layer 2 VSN Services**: Ethernet VPN services, bridge domains, and
        switching services

        - **Layer 3 VSN Services**: IP VPN services, routing domains, and
        inter-subnet connectivity

        - **VLAN Services**: Virtual LAN configurations, trunking, and access
        control

        - **VRF Services**: Virtual Routing and Forwarding instances, route
        tables, and isolation

        - **Hybrid Services**: Multi-layer services combining L2 and L3
        functionality


        **Service Information Depth:**

        - **Brief Mode**: Summary information optimized for overview and listing
        scenarios

        - **Detailed Mode**: Comprehensive configuration and operational data
        for analysis

        - **Relationship Data**: Service interdependencies, shared resources,
        and impact relationships

        - **Historical Context**: Service change history, performance trends,
        and lifecycle information

        - **Integration Points**: Device mappings, interface assignments, and
        infrastructure utilization


        **Use Cases:**

        - Comprehensive network service inventory and documentation workflows

        - Service impact analysis and dependency mapping for change management

        - Network service optimization and performance monitoring

        - Service lifecycle management and capacity planning

        - Integration with service orchestration and automation platforms

        - Supporting network troubleshooting and service restoration workflows

        - Compliance reporting and service-level agreement monitoring

        - Multi-vendor service integration and interoperability analysis


        **Query Optimization:**

        - **Filtering Capabilities**: Target specific service types, states, or
        characteristics

        - **Pagination Support**: Efficient handling of large service
        inventories

        - **Detail Level Control**: Balance between information depth and
        response performance

        - **Caching Optimization**: Leverage caching for frequently accessed
        service data


        **Performance Considerations:**

        - Response size and complexity scale with service inventory size and
        detail level

        - Real-time service status collection may impact response time

        - Consider filtering and pagination for large service deployments

        - Service dependency resolution may require additional processing time
      operationId: RetrieveServices
      x-mcp-operation:
        category: service-management
        ai-description: Retrieve comprehensive network service information including
          L2/L3 VSN, VLAN, and VRF services.
        use-cases:
          - Analyze service configurations and dependencies
          - Generate service inventory reports
          - Identify service optimization opportunities
          - Support service lifecycle management
        response-size: large
        automation-priority: high
      requestBody:
        description: Request body for services.
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ServicesCriteria"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServiceListResponse"
  /services/retrieve-vlans:
    post:
      tags:
        - Service Management
      summary: Retrieve brief/details of Vlan Services
      description: >
        Retrieves comprehensive Virtual LAN (VLAN) service information providing
        detailed visibility

        into VLAN configurations, assignments, traffic patterns, and operational
        characteristics

        essential for Layer 2 network service management and optimization.


        This endpoint provides extensive VLAN service data including:

        - **VLAN Configuration**: VLAN IDs, names, descriptions, and
        administrative settings

        - **Port Assignments**: Interface mappings, tagging configurations, and
        access/trunk modes

        - **Traffic Analysis**: VLAN traffic patterns, utilization statistics,
        and performance metrics

        - **Spanning Tree Integration**: STP/RSTP/MSTP configurations and
        operational states

        - **Security Policies**: VLAN isolation, access control, and security
        feature configurations


        **VLAN Service Categories:**

        - **Access VLANs**: End-user access network segments with host
        connectivity

        - **Trunk VLANs**: Inter-switch communication and network infrastructure
        VLANs

        - **Management VLANs**: Administrative and management traffic isolation

        - **Guest VLANs**: Visitor and temporary access network segments

        - **Service VLANs**: Dedicated VLANs for specific applications or
        services


        **Configuration and Status Details:**

        - **Port Membership**: Complete interface assignment and participation
        details

        - **VLAN Databases**: VLAN table entries, learning states, and MAC
        address management

        - **Quality of Service**: VLAN-based QoS policies, traffic
        prioritization, and bandwidth management

        - **Interoperability**: Multi-vendor VLAN compatibility and protocol
        standard compliance

        - **Dynamic Features**: Dynamic VLAN assignment, GVRP/MVRP protocols,
        and automated provisioning


        **Use Cases:**

        - VLAN inventory management and documentation workflows

        - Layer 2 network troubleshooting and connectivity analysis

        - VLAN optimization and performance monitoring

        - Network segmentation planning and security policy validation

        - Integration with network access control and identity management
        systems

        - Supporting VLAN migration and network restructuring projects

        - Compliance verification for network segmentation requirements

        - Capacity planning and VLAN utilization analysis


        **Analysis Capabilities:**

        - **Traffic Patterns**: VLAN-specific traffic flow analysis and
        utilization trends

        - **Performance Metrics**: Latency, throughput, and error rate analysis
        per VLAN

        - **Security Assessment**: VLAN isolation verification and access
        control validation

        - **Change Impact**: Assessment of VLAN configuration changes on network
        operations


        **Data Accuracy Considerations:**

        - VLAN information reflects current device configurations and real-time
        operational states

        - Traffic statistics accuracy depends on device capabilities and
        collection intervals

        - Large VLAN deployments may require pagination and filtering for
        optimal performance

        - Consider security implications when exposing detailed VLAN
        configuration data
      operationId: RetrieveVlanServices
      x-mcp-operation:
        category: service-management
        ai-description: Retrieve comprehensive VLAN service information for network
          service analysis and management.
        use-cases:
[...]
