openapi: 3.0.3
info:
  title: ExtremeCloud SD-WAN API
  description: ExtremeCloud SD-WAN API allows customers and partners to configure
    solutions for the management, monitoring, and provisioning of their SD-WAN
    environment.
  termsOfService: https://www.extremenetworks.com/company/legal/terms-of-use/
  contact:
    name: Extreme Networks Support
    url: https://www.extremenetworks.com/support
    email: support@extremenetworks.com
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  version: 26.1.0.0
  x-logo:
    url: assets/extreme.png
    backgroundColor: "#FFFFFF"
    altText: Extreme Networks
servers:
  - url: https://cloudapi.extremecloudiq.com/sdwan
    description: ExtremeCloud SD-WAN REST API
tags:
  - name: Authentication
    description: Login to XiQ server for authentication
  - name: Sites
    description: The sites APIs from common location service
  - name: Policy Configuration
    description: SD-WAN Policy configuration
  - name: Security Configuration
    description: Security Policy configuration
  - name: Templates
    description: Appliance templates
  - name: Overlay Configuration
    description: Overlays
  - name: Application Performance
    description: Application Performance configuration
  - name: Onboarding
    description: Appliance onboarding
  - name: Appliance Configuration
    description: Appliance configuration
  - name: Appliance 360
    description: Appliance overview
  - name: Site 360
    description: Site overview
  - name: Application 360
    description: Application overview
  - name: WAN 360
    description: WAN overview
  - name: Topology
    description: Topology overview
  - name: Alarms
    description: Alarms overview
  - name: Alarm Notification Rules
    description: Alarm Notification Rules
  - name: Troubleshooting
    description: Advanced troubleshooting
  - name: Scripts
    description: Run Scripts
  - name: Dashboard Domain Analysis
    description: Dashboard domain analysis
  - name: Audit
    description: Audit Records
  - name: RVC Configuration
    description: RVC Configuration
  - name: SaaS Configuration
    description: SaaS Configuration
  - name: RTG
    description: Real Time Graph
  - name: Flows
    description: Flows
  - name: Reports
    description: Reporting
paths:
  /login:
    servers:
      - url: ""
        description: ExtremeCloud SD-WAN REST API Server
    post:
      tags:
        - Authentication
      summary: User login with username and password
      security:
        - BearerAuth: []
      description: >-
        Get access token via username and password authentication.

        The client must present Bearer token to access the protected API
        endpoints.The Bearer token should be present in the "Authorization"
        request header field and use the "Bearer" HTTP authentication scheme to
        transmit the access token.
      operationId: login
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_login
      requestBody:
        description: Login request body
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/XiqLoginRequest"
            examples:
              Normal_login:
                summary: Login with username and password
                description: User login with username/email and password
                value:
                  username: username@company.com
                  password: ChangeMe
        required: true
      responses:
        "200":
          description: Successfully login
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/XiqLoginResponse"
              examples:
                Login_successful:
                  summary: Login successful
                  description: Login successful response example.
                  value:
                    access_token: eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJhZG1pbkBjdXN0MDAxLmNvbSIsInVzZXJfaWQiOjEsInJvbGUiOiJBZG1pbmlzdHJhdG9yIiwiY3VzdG9tZXJfaWQiOjEsImN1c3RvbWVyX21vZGUiOjAsImhpcV9lbmFibGVkIjpmYWxzZSwib3duZXJfaWQiOjEwMiwib3JnX2lkIjowLCJkYXRhX2NlbnRlciI6IlVTX1dlc3QiLCJxdW90YSI6Ijc1MDA7dz0zNjAwIiwianRpIjoiMTcyZTExMWMwNDMzNDBkODkyYmViYTkyNmZlOTM0NmYiLCJpc3MiOiJleHRyZW1lY2xvdWRpcS5jb20iLCJpYXQiOjE2NDQ4NzcwNDgsImV4cCI6MTY0NDk2MzQ0OH0.kFRSUXLhg9800gSU2BQ4Gf7l_8eEhgpd0D90Ia6w0kw
                    token_type: Bearer
                    expires_in: 86400
  /logout:
    servers:
      - url: ""
        description: ExtremeCloud SD-WAN REST API Server
    post:
      tags:
        - Authentication
      summary: User logout (Revoke the current access token)
      description: User logout, the current access token will be revoked and the
        following access with the same token will be immediately denied.
      operationId: logout
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_logout
      responses:
        "200":
          description: OK
        default:
          $ref: "#/components/responses/ErrorResponse"
      security:
        - BearerAuth: []
  /locations/site:
    servers:
      - url: ""
        description: ExtremeCloud SD-WAN REST API Server
    get:
      tags:
        - Sites
      summary: List sites
      description: List pages of sites by filter.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_list_sites
      operationId: clsGetSites
      parameters:
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/limit"
        - name: name
          in: query
          description: List sites by name (case insensitive)
          required: false
          schema:
            type: string
        - name: ids
          in: query
          description: List sites by IDs
          required: false
          schema:
            type: array
            items:
              type: integer
              format: int64
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ClsSite"
        default:
          $ref: "#/components/responses/ErrorResponse"
      security:
        - BearerAuth: []
    post:
      tags:
        - Sites
      summary: Create site
      description: Create a new site under the GENERIC folder.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_create_site
      operationId: clsCreateSite
      requestBody:
        description: Create site request body
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ClsCreateSiteRequest"
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClsSite"
        default:
          $ref: "#/components/responses/ErrorResponse"
      security:
        - BearerAuth: []
  /locations/site/{id}:
    servers:
      - url: ""
        description: ExtremeCloud SD-WAN REST API Server
    get:
      tags:
        - Sites
      summary: Get site by ID
      description: Get the site for the specified ID.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_get_site
      operationId: xiqLocationGetSiteById
      parameters:
        - $ref: "#/components/parameters/ParameterId"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClsSite"
        default:
          $ref: "#/components/responses/ErrorResponse"
      security:
        - BearerAuth: []
    put:
      tags:
        - Sites
      summary: Update site by ID
      description: Update the site information with the site ID.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_update_site
      operationId: updateSite
      parameters:
        - $ref: "#/components/parameters/ParameterId"
      requestBody:
        description: Update site request body
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ClsUpdateSiteRequest"
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClsSite"
        default:
          $ref: "#/components/responses/ErrorResponse"
      security:
        - BearerAuth: []
    delete:
      tags:
        - Sites
      summary: Delete site by ID
      description: Delete the site for the specified ID.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_delete_site
      operationId: deleteSite
      parameters:
        - $ref: "#/components/parameters/ParameterId"
        - name: force_delete
          in: query
          description: Force deletion of this site and its descendants recursively
          required: false
          schema:
            type: boolean
            default: false
      responses:
        "200":
          description: OK
        default:
          $ref: "#/components/responses/ErrorResponse"
      security:
        - BearerAuth: []
  /countries:
    servers:
      - url: ""
        description: ExtremeCloud SD-WAN REST API Server
    get:
      tags:
        - Sites
      summary: Get country list
      description: Get list of countries and country codes.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_get_country_list
      operationId: getCountryList
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/XiqCountry"
        default:
          $ref: "#/components/responses/ErrorResponse"
      security:
        - BearerAuth: []
  /alarms/v1/alarms:
    get:
      tags:
        - Alarms
      summary: Get alarms with their configuration status
      x-internal: true
      description: Returns manageable SD-WAN alarms.
      operationId: getSdwanAlarms
      security:
        - BearerAuth: []
      parameters:
        - in: query
          name: page
          schema:
            type: integer
            format: int32
            example: 5
          description: next page number for navigation for Sites Overview UI page used for
            pagination.<br>Default value is 1 (used if set value is not an
            integer > 0).
          required: false
        - in: query
          name: size
          schema:
            type: integer
            format: int32
            example: 10
          description: current page size for Sites Overview UI page used for
            pagination.<br>Default value is 20 (used if set value is not an
            integer > 0).
          required: false
        - in: query
          name: state
          schema:
            type: string
            enum:
              - active
              - cleared
            example: active
          description: The parameter is used to specify the state to be active. If no
            value is provided or an invalid value is provided then error message
            will be thrown.
          required: true
        - in: query
          name: sort
          schema:
            type: string
            enum:
              - raised_date_time
              - desc
            example: raised_date_time
          description: The sort field. Sorting can applied on specfied column. Sorting can
            be applied only on one column at a time. Specified column followed
            by the sorting direction (ie asc or desc)  with the comma
            separation. Allowed columns are site, utillization, capacity,
            throughput, eqs, application_group_eqs. For site, utillization,
            capacity, throughput, eqs we need to specify sorting parameters like
            column_name,direction, for example site,asc. For sorting on
            application group eqs it has to be application_group_{id},asc.
          required: false
        - in: query
          name: start_time
          schema:
            type: integer
            format: int64
            example: 1652607240
          description: start_time is epoch time in seconds. It represents the start of the
            time range (start_time - end_time) for which the metrics data for
            sites will be fetched. Only a single value is allowed.
          required: false
        - in: query
          name: end_time
          schema:
            type: integer
            format: int64
            example: 1652607260
          description: end_time is epoch time in seconds. It represents the end of the
            time range (start_time - end_time) for which the metrics data for
            sites will be fetched. Only a single value is allowed.
          required: false
        - in: query
          name: severity
          schema:
            type: string
            example: critical
          description: Severity of the alarm.<br>Supported values are critical, major and
            minor .
          required: false
        - in: query
          name: layer
          schema:
            type: string
            example: underlay
          description: category.<br>Supported values are overlay, underlay, management,
            services, resources, eqs
          required: false
        - in: query
          name: alarm_name
          schema:
            type: string
            example: tunnel-failure
          description: unique alarm name.<br>Supported alarms are -
            appliance-disk-failure, appliance-disk-full, appliance-reboot,
            bad-nw-interface-config-fullduplex,
            bad-nw-interface-config-halfduplex, cloudmesh-failure,
            configuration-mismatch, connection-to-syslog-server-lost,
            connectivity-with-orchestrator-impaired, control-down,
            disconnected-from-overlay, dti-traffic-overload, edgesentry-failure,
            end-to-end-connectivity-lost, eqs-high-apps-dropped-below-5,
            eqs-top-apps-dropped-below-5, external-tunnel-failure,
            ha-configuration-mismatch, ha-peer-unreachable,
            lan-bgp-peering-failure, network-interface-down, no-default-gateway,
            no-ip-address, synchronization-lost, traffic-overload,
            tunnel-failure, visibility-down, wan-optimization-down,
            cloud-connection-failure, cloud-connection-cannot-be-created,
            cloud-connection-cannot-be-modified,
            cloud-connection-cannot-be-deleted, invalid-credentials,
            edge-sentry-authentication-failure,
            edge-sentry-configuration-failure, harmony-connect-failure
          required: false
        - in: query
          name: local_site_id
          schema:
            type: integer
            format: int64
            example: 3
          description: local site id.
          required: false
        - in: query
          name: remote_site_id
          schema:
            type: integer
            format: int64
            example: 4
          description: remote site id.
          required: false
        - in: query
          name: local_appliance_id
          schema:
            type: integer
            format: int64
            example: 123456789
          description: local appliance id
          required: false
        - in: query
          name: remote_appliance_id
          schema:
            type: integer
            format: int64
            example: 123456789
          description: remote appliance id
          required: false
        - in: query
          name: local_appliance_serial_number
          schema:
            type: string
            example: A0214J0172
          description: local appliance serial number.<br>Filter can be applied on multiple
            values by passing comma-separated values.<br>For example,
            <br><i>"?local_appliance_serial_number=A0214J0172,N0815K0319A0,A0518X0005A0"</i><br>will
            search for all the three appliances.<br> Multiple value filter is
            supported for layer, severity, local_appliance_serial_number,
            remote_appliance_serial_number, local_appliance_id,
            remote_appliance_id, alarm_name, local_site_id, remote_site_id.
          required: false
        - in: query
          name: remote_appliance_serial_number
          schema:
            type: string
            example: N0815K0319A0
          description: remote appliance serial number
          required: false
        - in: query
          name: keyword
          schema:
            type: string
            example: ebx
          description: keyword for case-insensitive search across columns having string
            values.<br>Applicable on columns - alarm_description, details,
            local_appliance_name, remote_appliance_name, remote_site_name,
            local_site_name
          required: false
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ViewAlarmsResponsePaged"
        "400":
          $ref: "#/components/responses/400BadRequestError"
        "401":
          $ref: "#/components/responses/401UnauthorizedError"
        "403":
          $ref: "#/components/responses/403ForbiddenError"
        "404":
          $ref: "#/components/responses/404NotFoundError"
        "405":
          $ref: "#/components/responses/405MethodNotAllowedError"
        "500":
          $ref: "#/components/responses/500InternalServerError"
  /alarms/v1/alarms/active-counts:
    get:
      tags:
        - Alarms
      summary: Get active alarms count per severity
      x-internal: true
      description: This REST-API can be used to fetch the count of currently active
        alarms grouped by a specific column.<br>(as of now supported only for
        severity column) .
      operationId: getSdwanAlarmsActiveCounts
      security:
        - BearerAuth: []
      parameters:
        - in: query
          name: by
          schema:
            type: string
            example: severity
          description: column on which the count of alarms has to be grouped by (as of now
            supported only for severity column).
          required: true
        - in: query
          name: start_time
          schema:
            type: integer
            format: int64
            example: 1652607240
          description: start_time is epoch time in seconds.<br>It represents the start of
            the time range (start_time - end_time) in which the alarm was raised
            (inclusive). Both start_time and end_time parameters should be
            provided together.
          required: false
        - in: query
          name: end_time
          schema:
            type: integer
            format: int64
            example: 1652607260
          description: end_time is epoch time in seconds.<br>It represents the end of the
            time range (start_time - end_time) in which the alarm was raised
            (exclusive). Both start_time and end_time parameters should be
            provided together.
          required: false
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AlarmSeverityCountResponse"
        "400":
          $ref: "#/components/responses/400BadRequestError"
        "401":
          $ref: "#/components/responses/401UnauthorizedError"
        "403":
          $ref: "#/components/responses/403ForbiddenError"
        "404":
          $ref: "#/components/responses/404NotFoundError"
        "405":
          $ref: "#/components/responses/405MethodNotAllowedError"
        "500":
          $ref: "#/components/responses/500InternalServerError"
  /alarms/v1/alarms/notification-rules:
    get:
      tags:
        - Alarm Notification Rules
      summary: Get alarm notification rules
      x-internal: true
      description: This api provides a list of alarm notification rules.
      operationId: getNotificationRules
      parameters:
        - in: query
          name: page
          schema:
            type: integer
            format: int32
            example: 5
          description: next page number for navigation for alarms notifications page used
            for pagination.<br>Default value is 1 (used if set value is not an
            integer > 0).
          required: false
        - in: query
          name: size
          schema:
            type: integer
            format: int32
            example: 10
          description: current page size for alarms notifications page used for
            pagination.<br>Default value is 20 (used if set value is not an
            integer > 0).
          required: false
        - in: query
          name: sort
          schema:
            type: string
            example: name,asc
          description: column on which the sort is required and the sort order (ASC,
            DESC).<br>Sorting can be applied on only name column.
          required: false
      security:
        - BearerAuth: []
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotificationRulesGetResponse"
        "400":
          $ref: "#/components/responses/400BadRequestError"
        "401":
          $ref: "#/components/responses/401UnauthorizedError"
        "403":
          $ref: "#/components/responses/403ForbiddenError"
        "404":
          $ref: "#/components/responses/404NotFoundError"
        "405":
          $ref: "#/components/responses/405MethodNotAllowedError"
        "500":
          $ref: "#/components/responses/500InternalServerError"
    post:
      tags:
        - Alarm Notification Rules
      summary: Create alarm notification rule
      x-internal: true
      description: This api allows user to create an alarm notification rule.
      operationId: createNotificationRules
      security:
        - BearerAuth: []
      requestBody:
        description: Payload to create a new alarm notification rule
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RulesPostPayload"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotificationRulesPostResponse"
        "400":
          $ref: "#/components/responses/400BadRequestError"
        "401":
          $ref: "#/components/responses/401UnauthorizedError"
        "403":
          $ref: "#/components/responses/403ForbiddenError"
        "404":
          $ref: "#/components/responses/404NotFoundError"
        "405":
          $ref: "#/components/responses/405MethodNotAllowedError"
        "500":
          $ref: "#/components/responses/500InternalServerError"
  /alarms/v1/alarms/notification-rules/{id}:
    put:
      tags:
        - Alarm Notification Rules
      summary: Update alarm notification rule
      x-internal: true
      description: This api allows user to update an alarm notification rule.
      operationId: updateNotificationRules
      parameters:
        - name: id
          in: path
          description: id of the notification rule
          schema:
            type: string
          required: true
      security:
        - BearerAuth: []
      requestBody:
        description: Payload to update a new alarm notification rule
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RulesPutPayload"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotificationRulesPutResponse"
        "400":
          $ref: "#/components/responses/400BadRequestError"
        "401":
          $ref: "#/components/responses/401UnauthorizedError"
        "403":
          $ref: "#/components/responses/403ForbiddenError"
        "404":
          $ref: "#/components/responses/404NotFoundError"
        "405":
          $ref: "#/components/responses/405MethodNotAllowedError"
        "500":
          $ref: "#/components/responses/500InternalServerError"
    delete:
      tags:
        - Alarm Notification Rules
      summary: Delete alarm notification rule
      x-internal: true
      description: This api allows user to delete an alarm notification rule.
      operationId: deleteNotificationRules
      parameters:
        - name: id
          in: path
          description: id of the notification rule
          schema:
            type: string
          required: true
      security:
        - BearerAuth: []
      responses:
        "204":
          description: No Content
        "400":
          $ref: "#/components/responses/400BadRequestError"
        "401":
          $ref: "#/components/responses/401UnauthorizedError"
        "403":
          $ref: "#/components/responses/403ForbiddenError"
        "404":
          $ref: "#/components/responses/404NotFoundError"
        "405":
          $ref: "#/components/responses/405MethodNotAllowedError"
        "500":
          $ref: "#/components/responses/500InternalServerError"
  /alarms/v1/alarms/sites:
    get:
      tags:
        - Alarms
      summary: Sites Summary
      x-internal: true
      description: This API provides a list of sites with number of active alarms per
        severity.
      operationId: getSdwanAlarmsSites
      parameters:
        - in: query
          name: id
          schema:
            type: string
            example: "1"
          description: Site id. Multiple values are allowed with comma (,) separation
          required: false
        - in: query
          name: is_paginated
          schema:
            type: boolean
            example: false
          description: This indicates whether paginated response is required or not. The
            default value is true. When it is set to false then, the page and
            size parameter is ignored.
          required: false
        - in: query
          name: page
          schema:
            type: integer
            format: int32
            example: 5
          description: Next page number for navigation for alarms notifications page used
            for pagination.<br>Default value is 1 (used if set value is not an
            integer > 0).
          required: false
        - in: query
          name: size
          schema:
            type: integer
            format: int32
            example: 10
          description: Current page size for alarms notifications page used for
            pagination.<br>Default value is 20 (used if set value is not an
            integer > 0).
          required: false
        - in: query
          name: sort
          schema:
            type: string
            example: name,asc
          description: Column on which the sort is required and the sort order (ASC,
            DESC).<br>Sorting can be applied on only name and id column.
          required: false
      security:
        - BearerAuth: []
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SitesResponsePaged"
        "400":
          $ref: "#/components/responses/400BadRequestError"
        "401":
          $ref: "#/components/responses/401UnauthorizedError"
        "403":
          $ref: "#/components/responses/403ForbiddenError"
        "404":
          $ref: "#/components/responses/404NotFoundError"
        "405":
          $ref: "#/components/responses/405MethodNotAllowedError"
        "500":
          $ref: "#/components/responses/500InternalServerError"
  /alarms/v1/alarms/filters:
    get:
      tags:
        - Alarms
      summary: Get alarm filter values
      x-internal: true
      description: This api provides multiple lists of unique values to populate the
        filter dropdowns.<br>(This is a private/internal api).
      operationId: getAlarmsFilters
      parameters:
        - in: query
          name: state
          schema:
            type: string
            example: cleared
          description: state=active for alarms that are currently active and state=cleared
            for alarms that are currently cleared.<br>Only 2 values, active or
            cleared are supported for this query parameter.
          required: true
      security:
        - BearerAuth: []
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AlarmsFilterValuesResponse"
        "400":
          $ref: "#/components/responses/400BadRequestError"
        "401":
          $ref: "#/components/responses/401UnauthorizedError"
        "403":
          $ref: "#/components/responses/403ForbiddenError"
        "404":
          $ref: "#/components/responses/404NotFoundError"
        "405":
          $ref: "#/components/responses/405MethodNotAllowedError"
        "500":
          $ref: "#/components/responses/500InternalServerError"
  /alarms/v1/alarms/timeline:
    get:
      tags:
        - Alarms
      summary: Get alarms timeline chart data
      x-internal: true
      description: This REST-API can be used to get the count of the alarms based on
        their status (active, raised, cleared) within the time interval
        (start-end).<br><ul><il>active_count - count of alarms that were raised
        before the end time and were active at the end
        time.</il><br><il>raised_count - count of alarms raised within the time
        interval (start-end)</il><br><il>cleared_count - count of alarms cleared
        within the time interval (start-end)</il></ul>.
      operationId: getAlarmsTimeline
      parameters:
        - in: query
          name: start_time
          schema:
            type: integer
            format: int64
            example: 1652607240
          description: start_time is epoch time in seconds. It represents the start of the
            time range (start_time - end_time) in which the alarm was raised
            (inclusive). Both start_time and end_time parameters should be
            provided together.
          required: true
        - in: query
          name: end_time
          schema:
            type: integer
            format: int64
            example: 1652607260
          description: end_time is epoch time in seconds. It represents the end of the
            time range (start_time - end_time) in which the alarm was raised
            (exclusive). Both start_time and end_time parameters should be
            provided together.
          required: true
      security:
        - BearerAuth: []
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TimelineResponse"
        "400":
          $ref: "#/components/responses/400BadRequestError"
        "401":
          $ref: "#/components/responses/401UnauthorizedError"
        "403":
          $ref: "#/components/responses/403ForbiddenError"
        "404":
          $ref: "#/components/responses/404NotFoundError"
        "405":
          $ref: "#/components/responses/405MethodNotAllowedError"
        "500":
          $ref: "#/components/responses/500InternalServerError"
  /alarms/v1/alarms/notification-rules/filters:
    get:
      tags:
        - Alarm Notification Rules
      summary: Get alarm notification rules filters
      x-internal: true
      description: This api provides a list of alarm notification rules filters.
      operationId: getAlarmsNotificationRulesFilters
      security:
        - BearerAuth: []
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotificationRulesFiltersResponse"
        "400":
          $ref: "#/components/responses/400BadRequestError"
        "401":
          $ref: "#/components/responses/401UnauthorizedError"
        "403":
          $ref: "#/components/responses/403ForbiddenError"
        "404":
          $ref: "#/components/responses/404NotFoundError"
        "405":
          $ref: "#/components/responses/405MethodNotAllowedError"
        "500":
          $ref: "#/components/responses/500InternalServerError"
  /monitoring/v1/dashboard/sites-summary:
    get:
      tags:
        - Topology
      summary: Get Sites Summary
      x-internal: true
      description: Get sites summary returns summarised data of all sites.
      operationId: getSdwanSitesSummary
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SitesSummaryResponse"
        "400":
          $ref: "#/components/responses/400BadRequestError"
        "401":
          $ref: "#/components/responses/401UnauthorizedError"
        "403":
          $ref: "#/components/responses/403ForbiddenError"
        "404":
          $ref: "#/components/responses/404NotFoundError"
        "405":
          $ref: "#/components/responses/405MethodNotAllowedError"
        "500":
          $ref: "#/components/responses/500InternalServerError"
  /monitoring/v1/dashboard/appliances-summary:
    get:
      tags:
        - Topology
      summary: Get Appliance Summary Information
      x-internal: true
      description: Get appliances summary returns summarised data of all the
        appliances of dashboard.
      operationId: getSdwanApplianceSummary
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ViewAppliancesSummaryResponse"
        "400":
          $ref: "#/components/responses/400BadRequestError"
        "401":
          $ref: "#/components/responses/401UnauthorizedError"
        "403":
          $ref: "#/components/responses/403ForbiddenError"
        "404":
          $ref: "#/components/responses/404NotFoundError"
        "405":
          $ref: "#/components/responses/405MethodNotAllowedError"
        "500":
          $ref: "#/components/responses/500InternalServerError"
  /monitoring/v1/dashboard/wans-summary:
    get:
      tags:
        - Topology
      summary: Get WANs Summary
      x-internal: true
      description: Get wans summary returns summarised data of all the wan services.
      operationId: getSdwanWansSummary
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ViewWansSummaryResponse"
        "400":
          $ref: "#/components/responses/400BadRequestError"
        "401":
          $ref: "#/components/responses/401UnauthorizedError"
        "403":
          $ref: "#/components/responses/403ForbiddenError"
        "404":
          $ref: "#/components/responses/404NotFoundError"
        "405":
          $ref: "#/components/responses/405MethodNotAllowedError"
        "500":
          $ref: "#/components/responses/500InternalServerError"
  /monitoring/v1/dashboard/applications-summary:
    get:
      tags:
        - Topology
      summary: Get Applications Summary
      x-internal: true
      description: Get applications summary returns summarised data of all the applications.
      operationId: applicationsSummary
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApplicationsSummaryResponse"
        "400":
          $ref: "#/components/responses/400BadRequestError"
        "401":
          $ref: "#/components/responses/401UnauthorizedError"
        "403":
          $ref: "#/components/responses/403ForbiddenError"
        "404":
          $ref: "#/components/responses/404NotFoundError"
        "405":
          $ref: "#/components/responses/405MethodNotAllowedError"
        "500":
          $ref: "#/components/responses/500InternalServerError"
  /monitoring/v1/dashboard/site/status:
    get:
      tags:
        - Topology
      summary: Get Site Alarms and Appliances status
      x-internal: true
      description: Get site alarms and Appliances status returns alarms count grouped
        by severity and appliance status.
      operationId: sitesAlarms
      parameters:
        - in: query
          name: site_id
          schema:
            type: integer
            format: int64
            example: 5556765
          description: Site Id of the site for which the details will be fetched. Only a
            single value is allowed.
          required: true
      security:
        - BearerAuth: []
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SitesAlarmResponse"
        "400":
          $ref: "#/components/responses/400BadRequestError"
        "401":
          $ref: "#/components/responses/401UnauthorizedError"
        "403":
          $ref: "#/components/responses/403ForbiddenError"
        "404":
          $ref: "#/components/responses/404NotFoundError"
        "405":
          $ref: "#/components/responses/405MethodNotAllowedError"
        "500":
          $ref: "#/components/responses/500InternalServerError"
  /monitoring/v1/dashboard/site/metrics:
    get:
      tags:
        - Topology
      summary: Get Site Eqs and Throughput
      x-internal: true
      description: Get Site Eqs and Throughput API returns eqs grouped by criticality
        and throughput.
      operationId: dashboardSitesEqs
      parameters:
        - in: query
          name: site_id
          schema:
            type: integer
            format: int64
            example: 5556765
          description: Site Id of the site for which the details will be fetched. Only a
            single value is allowed.
          required: true
      security:
        - BearerAuth: []
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DashboardSitesEqsResponse"
        "400":
          $ref: "#/components/responses/400BadRequestError"
        "401":
          $ref: "#/components/responses/401UnauthorizedError"
        "403":
          $ref: "#/components/responses/403ForbiddenError"
        "404":
          $ref: "#/components/responses/404NotFoundError"
        "405":
          $ref: "#/components/responses/405MethodNotAllowedError"
        "500":
          $ref: "#/components/responses/500InternalServerError"
  /monitoring/v1/connections:
    get:
      tags:
        - Topology
      summary: Get Connection Details
      x-internal: true
      description: Get connection details API will return information related to all
        connections.
      operationId: getSdwanConnections
      security:
        - BearerAuth: []
      parameters:
        - in: query
          name: initiator_appliance_id
          schema:
            type: integer
            format: int64
            example: 5420248827680
          description: The initiator appliance ID.
          required: false
        - in: query
          name: responder_appliance_id
          schema:
            type: integer
            format: int64
            example: 5420248827681
          description: The responder appliance ID.
          required: false
        - in: query
          name: initiator_site_id
          schema:
            type: integer
            example: 5420248827780
            format: int64
          description: The initiator site ID.
          required: false
        - in: query
          name: responder_site_id
          schema:
            type: integer
            example: 5420248827781
            format: int64
          description: The responder site ID.
          required: false
        - in: query
          name: initiator_interface
          schema:
            type: string
            enum:
              - wan1
              - wan2
              - wan3
            example: wan1
          description: The initiator interface.
          required: false
        - in: query
          name: responder_interface
          schema:
            type: string
            enum:
              - wan1
              - wan2
              - wan3
            example: wan2
          description: The responder interface.
          required: false
        - in: query
          name: overlay_id
          schema:
            type: integer
            format: int64
            example: 20
          description: The overlay ID.
          required: false
        - in: query
          name: status
          schema:
            type: string
            enum:
              - up
              - down
              - unknown
            example: up
          description: The connection status.
          required: false
        - in: query
          name: type
          schema:
            $ref: "#/components/schemas/RequestParamEnum"
          example: vti
          description: The connection type.
          required: false
        - in: query
          name: keyword
          schema:
            type: string
            example: site
          description: The keyword search uses case-insensitive search across fields
            having string values.
          required: false
        - in: query
          name: is_paginated
          schema:
            type: boolean
            example: false
          description: The boolean flag for pagination. Default value will be false, which
            means no pagination.
          required: false
        - in: query
          name: page
          schema:
            type: integer
            example: 5
            format: int32
          description: The page field for the pagination.<br>Default value is 1 (used if
            set value is not an integer > 0).
          required: false
        - in: query
          name: size
          schema:
            type: integer
            example: 10
            format: int32
          description: The size field for the pagination.<br>Default value is 20 (used if
            set value is not an integer > 0).
          required: false
        - in: query
          name: sort
          schema:
            type: string
            example: connection,asc
          description: Sorting can applied on specified column, followed by the sorting
            direction (ie asc or desc) with the comma separation.
          required: false
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ViewConnectionsResponsePaged"
        "400":
          $ref: "#/components/responses/400BadRequestError"
        "401":
          $ref: "#/components/responses/401UnauthorizedError"
        "403":
          $ref: "#/components/responses/403ForbiddenError"
        "404":
          $ref: "#/components/responses/404NotFoundError"
        "405":
          $ref: "#/components/responses/405MethodNotAllowedError"
        "500":
          $ref: "#/components/responses/500InternalServerError"
  /monitoring/v1/connections/sites:
    get:
      tags:
        - Topology
      summary: Get Connection Sites
      x-internal: true
      description: Get connection sites will return the site details corresponding to
        connection endpoints.
      operationId: getSdwanConnectionsSites
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TunnelSiteResponse"
        "400":
          $ref: "#/components/responses/400BadRequestError"
        "401":
          $ref: "#/components/responses/401UnauthorizedError"
        "403":
          $ref: "#/components/responses/403ForbiddenError"
        "404":
          $ref: "#/components/responses/404NotFoundError"
        "405":
          $ref: "#/components/responses/405MethodNotAllowedError"
        "500":
          $ref: "#/components/responses/500InternalServerError"
  /monitoring/v1/connections/appliances/{id}:
    get:
      tags:
        - Topology
      summary: Get Appliance Connection Details
      x-internal: true
      description: Get connection appliance details API will return all connections
        with the provided appliance ID as either the initiator or the responder.
      operationId: connectionApplianceInfo
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          description: ID of the Appliance
          required: true
          schema:
            type: integer
            format: int64
        - in: query
          name: initiator_appliance_id
          schema:
            type: integer
            format: int64
            example: 5420248827680
          description: The initiator appliance ID.
          required: false
        - in: query
          name: responder_appliance_id
          schema:
            type: integer
            format: int64
            example: 5420248827681
          description: The responder appliance ID.
          required: false
        - in: query
          name: initiator_site_id
          schema:
            type: integer
            example: 5420248827780
            format: int64
          description: The initiator site ID.
          required: false
        - in: query
          name: responder_site_id
          schema:
            type: integer
            example: 5420248827781
            format: int64
          description: The responder site ID.
          required: false
        - in: query
          name: initiator_interface
          schema:
            type: string
            example: wan1
          description: The initiator interface.
          required: false
        - in: query
          name: responder_interface
          schema:
            type: string
            example: wan2
          description: The responder interface.
          required: false
        - in: query
          name: overlay_id
          schema:
            type: integer
            format: int64
            example: 20
          description: The overlay ID.
          required: false
        - in: query
          name: status
          schema:
            type: string
            enum:
              - up
              - down
              - all
            example: up
          description: The connection status.
          required: false
        - in: query
          name: type
          schema:
            $ref: "#/components/schemas/RequestParamEnum"
          example: vti
          description: The connection type.
          required: false
        - in: query
          name: is_paginated
          schema:
            type: boolean
            example: false
          description: The boolean flag for pagination. Default value will be false, which
            means no pagination.
          required: false
        - in: query
          name: page
          schema:
            $ref: "#/components/schemas/QuerryPage"
          description: The page field for the pagination.<br>Default value is 1 (used if
            set value is not an integer > 0).
          required: false
        - in: query
          name: size
          schema:
            $ref: "#/components/schemas/QuerryPageSize"
          description: The size field for the pagination.<br>Default value is 20 (used if
            set value is not an integer > 0).
          required: false
        - in: query
          name: keyword
          schema:
            type: string
            example: site
          description: The keyword search uses case-insensitive search across fields
            having string values.
          required: false
        - in: query
          name: sort
          schema:
            type: string
            example: connection,asc
          description: Sorting can applied on specified column, followed by the sorting
            direction (ie asc or desc) with the comma separation.
          required: false
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TunnelInfoResponse"
        "400":
          $ref: "#/components/responses/400BadRequestError"
        "401":
          $ref: "#/components/responses/401UnauthorizedError"
        "403":
          $ref: "#/components/responses/403ForbiddenError"
        "404":
          $ref: "#/components/responses/404NotFoundError"
        "405":
          $ref: "#/components/responses/405MethodNotAllowedError"
        "500":
          $ref: "#/components/responses/500InternalServerError"
  /monitoring/v1/connections/underlays:
    get:
      tags:
        - Topology
      summary: Get Underlay Connection
      x-internal: true
      description: Get underlay connection returns underlay connectivity of WAN.
      operationId: getUnderlayConnection
      security:
        - BearerAuth: []
      parameters:
        - in: query
          name: appliance_id
          schema:
            type: integer
            format: int64
            example: 5420248827680
          description: Appliance ID.
          required: false
        - in: query
          name: site_id
          schema:
            type: integer
            example: 5420248827780
            format: int64
          description: Site ID.
          required: false
        - in: query
          name: interface_name
          schema:
            type: string
            enum:
              - wan1
              - wan2
              - wan3
            example: wan1
          description: Interface name.
          required: false
        - in: query
          name: wan_service_id
          schema:
            type: integer
            format: int64
            example: 6420248827780
          description: WAN service ID.
          required: false
        - in: query
          name: status
          schema:
            type: string
            enum:
              - up
              - down
              - unknown
            example: up
          description: Underlay connection status
          required: false
        - in: query
          name: type
          schema:
            type: string
            enum:
              - l2
              - l3
            example: l2
          description: Underlay connection type
          required: false
        - in: query
          name: keyword
          schema:
            type: string
            example: site
          description: The keyword search uses case-insensitive search across all fields
            having string values except 'type' & 'status'.
          required: false
        - in: query
          name: is_paginated
          schema:
            type: boolean
            example: false
          description: This indicates whether paginated response is required. Default
            value is true. When it is set to false then, the page and size
            parameter is ignored.
          required: false
        - in: query
          name: page
          schema:
            type: integer
            example: 5
            format: int32
          description: Page field for the pagination.<br>Default value is 1 (used if set
            value is not an integer > 0).
          required: false
        - in: query
          name: size
          schema:
            type: integer
            example: 10
            format: int32
          description: Size field for the pagination.<br>Default value is 20 (used if set
            value is not an integer > 0).
          required: false
        - in: query
          name: sort
          schema:
            type: string
            example: site_id,asc
          description: Above example is sorting on Site ID in asc order. Sorting can
            applied on specified column. Specified column can be site_id,
            site_name, appliance_id, appliance_name, interface_name,
            wan_service_id, wan_service_name, lan_to_wan_throughput,
            wan_to_lan_throughput, type, status. Specified column followed by
            the sorting direction (ie asc or desc) with the comma separation.
          required: false
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TunnelUnderlayResponsePaged"
        "400":
          $ref: "#/components/responses/400BadRequestError"
        "401":
          $ref: "#/components/responses/401UnauthorizedError"
        "403":
          $ref: "#/components/responses/403ForbiddenError"
        "404":
          $ref: "#/components/responses/404NotFoundError"
        "405":
          $ref: "#/components/responses/405MethodNotAllowedError"
        "500":
          $ref: "#/components/responses/500InternalServerError"
  /monitoring/v1/connections/filters:
    get:
      tags:
        - Topology
      summary: Get Connection Filters
      x-internal: true
      description: Get connection filters API will returns the list of all connections
        fields required for performing filtering actions in the UI.
      operationId: getConnectionsFilters
      security:
        - BearerAuth: []
      responses:
        "200":
          description: OK
          headers:
            X-Rate-Limit:
              description: calls per hour allowed by the user
              schema:
                type: integer
                format: int32
            X-Expires-After:
              $ref: "#/components/headers/ExpiresAfter"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TunnelFiltersResponse"
        "400":
          $ref: "#/components/responses/400BadRequestError"
        "401":
          $ref: "#/components/responses/401UnauthorizedError"
        "403":
          $ref: "#/components/responses/403ForbiddenError"
        "404":
          $ref: "#/components/responses/404NotFoundError"
        "405":
          $ref: "#/components/responses/405MethodNotAllowedError"
        "500":
          $ref: "#/components/responses/500InternalServerError"
  /monitoring/v1/applications/metrics/summary:
    get:
      tags:
        - Application 360
      summary: Get application overview Summary API
      x-internal: true
      parameters:
        - in: query
          name: start_time
          description: (required)start time is epoch time in seconds. It represents the
            start of the time range (start - end) from which the application
            summary will be fetched.
          schema:
            type: integer
            format: int64
            example: 1656315000
          required: true
        - in: query
          name: end_time
          description: (required)end time is epoch time in seconds. It represents the end
            of the time range (start - end) upto which the flow data for
            application summary will be fetched.
          schema:
            type: integer
            format: int64
            example: 1656322200
          required: true
        - in: query
          name: group_by
          description: (required) Filter the result of Eqs group by applicationGroup,
            application or criticality.
          schema:
            type: string
            example: criticality
            enum:
              - application
              - application_group
              - criticality
          required: true
        - in: query
          name: criticality_id
          description: Filter the data with criticality. Multiple values are allowed with
            comma (,) separation.
          schema:
            type: integer
            format: int32
            example: 1
          required: false
        - in: query
          name: application_id
          description: Filter the data with Application. Multiple values are allowed with
            comma (,) separation.
          schema:
            type: integer
            format: int64
            example: 4818953406177
          required: false
        - in: query
          name: application_group_id
          description: Filter the data with application group. Multiple values are allowed
            with comma (,) separation.
          schema:
            type: integer
            format: int64
            example: 4818953406226
          required: false
        - in: query
          name: src_site_id
          description: Filter the application overview summary by source site Id. Multiple
            values are allowed with comma (,) separation.
          schema:
            type: integer
            example: 12234
            format: int64
          required: false
        - in: query
          name: dst_site_id
          description: Filter the application overview summary by destination site Id.
            Multiple values are allowed with comma (,) separation.
          schema:
            type: integer
            example: 12234
            format: int64
          required: false
        - in: query
          name: src_network_id
          description: Filter the application overview summary by source network Id.
            Multiple values are allowed with comma (,) separation.
          schema:
            type: integer
            example: 12234
            format: int64
          required: false
        - in: query
          name: dst_network_id
          description: Filter the application overview summary by destination network Id.
            Multiple values are allowed with comma (,) separation.
          schema:
            type: integer
            example: 12234
            format: int64
          required: false
        - in: query
          name: src_appliance_id
          schema:
            type: integer
            example: 12234
            format: int64
          description: Filter the data with Local Appliance Id. Multiples values are
            allowed with comma (,) separation.
          required: false
        - in: query
          name: dst_appliance_id
          schema:
            type: integer
            example: 12234
            format: int64
          description: Filter the data with Remote Appliance Id. Multiples values are
            allowed with comma (,) separation.
          required: false
        - in: query
          name: eqs_gt
          schema:
            type: number
            format: double
            example: 7.8
          description: Filter for EQS greater than the specified value.
          required: false
        - in: query
          name: eqs_lt
          schema:
            type: number
            format: double
            example: 8.7
          description: Filter for EQS less than the specified value.
          required: false
        - in: query
          name: eqs_eq
          schema:
            type: number
            format: double
            example: 7.5
          description: Filter for EQS equals the specified value.
          required: false
        - in: query
          name: eqs_gteq
          schema:
            type: number
            format: double
            example: 7.23
          description: Filter for EQS greater than or equal to the specified value.
          required: false
        - in: query
          name: eqs_lteq
          schema:
            type: number
            format: double
            example: 8.5
          description: Filter for EQS less than or equal to the specified value.
          required: false
        - in: query
          name: keyword
          schema:
            type: string
            example: ebx
          description: keyword for case-insensitive search across columns having string
            values. Applicable on columns - application and application group.
          required: false
        - in: query
          name: page
          description: Next page number for navigation for Application Overview summary UI
            page used for pagination.<br>Default value is 1 (used if set value
            is not an integer > 0).
          schema:
            $ref: "#/components/schemas/QuerryPage"
          required: false
        - in: query
          name: size
          description: Current page size for Application Overview summary UI page used for
            pagination.<br>Default value is 20 (used if set value is not an
            integer > 0).
          schema:
            $ref: "#/components/schemas/QuerryPageSize"
          required: false
        - in: query
          name: sort
          description: The sort field. Sorting can applied on specified column. Sorting
            can be applied only on one column at a time. Specified column
            followed by the sorting direction (ie asc or desc)  with the comma
            separation. Allowed columns are application, application_group,
            criticality, throughput, eqs, volume.for example eqs,asc.
          schema:
            type: string
            example: throughput,asc
          required: false
      description: Get Application overview Summary will return Application overview
        summary data group by application, application group or criticality.
      operationId: getSdwanApplianceMetricsSummary
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApplicationsMetricsSummaryPaginatedResponse"
        "400":
          $ref: "#/components/responses/400BadRequestError"
        "401":
          $ref: "#/components/responses/401UnauthorizedError"
        "403":
          $ref: "#/components/responses/403ForbiddenError"
        "404":
          $ref: "#/components/responses/404NotFoundError"
        "405":
          $ref: "#/components/responses/405MethodNotAllowedError"
        "500":
          $ref: "#/components/responses/500InternalServerError"
  /monitoring/v1/applications/eqs/timeseries:
    get:
      tags:
        - Application 360
      summary: Get Eqs Evolution API
      x-internal: true
      parameters:
        - in: query
          name: start_time
          schema:
            type: integer
            format: int64
            example: 1656315000
          description: (required)start time is epoch time in seconds. It represents the
            start of the time range (start - end) from which the flow data for
            Eqs will be fetched.
          required: true
        - in: query
          name: end_time
          schema:
            type: integer
            format: int64
            example: 1656322200
          description: (required)end time is epoch time in seconds. It represents the end
            of the time range (start - end) upto which the flow data for Eqs
            will be fetched.
          required: true
        - in: query
          name: group_by
          schema:
            type: string
            example: application_group
            enum:
              - application_group
              - criticality
          description: (required) Filter the result of Eqs group by applicationGroup or
            criticality.
          required: true
        - in: query
          name: criticality_id
          schema:
            type: integer
            format: int32
            example: 1
          description: Filter the data with criticality.Multiples values are allowed with
            comma (,) separation.
          required: false
        - in: query
          name: application_id
          schema:
            type: integer
            format: int64
            example: 4818953406177
          description: Filter the data with Application.Multiples values are allowed with
            comma (,) separation.
          required: false
        - in: query
          name: application_group_id
          schema:
            type: integer
            format: int64
            example: 4818953406226
          description: Filter the data with application group.Multiples values are allowed
            with comma (,) separation.
          required: false
        - in: query
          name: src_site_id
          schema:
            type: integer
            example: 12234
            format: int64
          description: Filter data with Local Site Id.Multiples values are allowed with
            comma (,) separation.
          required: false
        - in: query
          name: dst_site_id
          schema:
            type: integer
            example: 12234
            format: int64
          description: Filter data with Remote Site Id.Multiples values are allowed with
            comma (,) separation.
          required: false
        - in: query
          name: src_network_id
          schema:
            type: integer
            example: 12234
            format: int64
          description: Filter data with Local Network Id..Multiples values are allowed
            with comma (,) separation.
          required: false
        - in: query
          name: dst_network_id
          schema:
            type: integer
            example: 12234
            format: int64
          description: Filter data with Remote Network Id.Multiples values are allowed
            with comma (,) separation.
          required: false
        - in: query
          name: src_appliance_id
          schema:
            type: integer
            example: 12234
            format: int64
          description: Filter the data with Local Appliance Id. Multiples values are
            allowed with comma (,) separation.
          required: false
        - in: query
          name: dst_appliance_id
          schema:
            type: integer
            example: 12234
            format: int64
          description: Filter the data with Remote Appliance Id. Multiples values are
            allowed with comma (,) separation.
          required: false
      description: Get Eqs Evolution API will returns Eqs evolution data grouped by
        Criticality or Application Group .
      operationId: eqsInfo
      security:
        - BearerAuth: []
      responses:
        "200":
          description: OK
          headers:
            X-Rate-Limit:
              description: calls per hour allowed by the user
              schema:
                type: integer
                format: int32
            X-Expires-After:
              $ref: "#/components/headers/ExpiresAfter"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EqsEvolutionResponse"
        "400":
          $ref: "#/components/responses/400BadRequestError"
        "401":
          $ref: "#/components/responses/401UnauthorizedError"
        "403":
          $ref: "#/components/responses/403ForbiddenError"
        "404":
          $ref: "#/components/responses/404NotFoundError"
        "405":
          $ref: "#/components/responses/405MethodNotAllowedError"
        "500":
          $ref: "#/components/responses/500InternalServerError"
  /monitoring/v1/applications/volume/top:
    get:
      tags:
        - Application 360
      summary: Get Top 10 Volume API
      x-internal: true
      parameters:
        - in: query
          name: start_time
          schema:
            type: integer
            format: int64
            example: 1656315000
          description: (required)start time is epoch time in seconds. It represents the
            start of the time range (start - end) from which the flow data for
            Volume will be fetched.
          required: true
        - in: query
          name: end_time
          schema:
            type: integer
            format: int64
            example: 1656322200
          description: (required)end time is epoch time in seconds. It represents the end
            of the time range (start - end) upto which the flow data for Volume
            will be fetched.
          required: true
        - in: query
          name: group_by
          schema:
            type: string
            example: application
            enum:
              - application
              - application_group
          description: (required) Filter the result of Volume group by applicationGroup or
            application .
          required: true
        - in: query
          name: criticality_id
          schema:
            type: integer
            format: int32
            example: 1
          description: Filter the data with criticality.Multiples values are allowed with
            comma (,) separation.
          required: false
        - in: query
          name: application_id
          schema:
            type: integer
            format: int64
            example: 4818953406177
          description: Filter the data with Application.Multiples values are allowed with
            comma (,) separation.
          required: false
        - in: query
          name: application_group_id
          schema:
            type: integer
            format: int64
            example: 4818953406226
          description: Filter the data with application group.Multiples values are allowed
            with comma (,) separation.
          required: false
        - in: query
          name: src_site_id
          schema:
            type: integer
            example: 12234
            format: int64
          description: Filter the data with Local Site Id.Multiples values are allowed
            with comma (,) separation.
          required: false
        - in: query
          name: dst_site_id
          schema:
            type: integer
            example: 12234
            format: int64
          description: Filter the data with Remote Site Id.Multiples values are allowed
            with comma (,) separation.
          required: false
        - in: query
          name: src_network_id
          schema:
            type: integer
            example: 12234
            format: int64
          description: Filter the data with Local Network Id.Multiples values are allowed
            with comma (,) separation.
          required: false
        - in: query
          name: dst_network_id
          schema:
            type: integer
            example: 12234
            format: int64
          description: Filter the data with Remoe Network Id.Multiples values are allowed
            with comma (,) separation.
          required: false
        - in: query
          name: src_appliance_id
          schema:
            type: integer
            example: 12234
            format: int64
          description: Filter the data with Local Appliance Id. Multiples values are
            allowed with comma (,) separation.
          required: false
        - in: query
          name: dst_appliance_id
          schema:
            type: integer
            example: 12234
            format: int64
          description: Filter the data with Remote Appliance Id. Multiples values are
            allowed with comma (,) separation.
          required: false
      description: Get Top 10 Volume api will return Volume data for top 10 Volume
        group by application or application group.
      operationId: volumeInfo
      security:
        - BearerAuth: []
      responses:
        "200":
          description: OK
          headers:
            X-Rate-Limit:
              description: calls per hour allowed by the user
              schema:
                type: integer
                format: int32
            X-Expires-After:
              $ref: "#/components/headers/ExpiresAfter"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TopThroughputResponse"
        "400":
          $ref: "#/components/responses/400BadRequestError"
        "401":
          $ref: "#/components/responses/401UnauthorizedError"
        "403":
          $ref: "#/components/responses/403ForbiddenError"
        "404":
          $ref: "#/components/responses/404NotFoundError"
        "405":
          $ref: "#/components/responses/405MethodNotAllowedError"
        "500":
          $ref: "#/components/responses/500InternalServerError"
  /monitoring/v1/applications/eqs/worst:
    get:
      tags:
        - Application 360
      summary: Get worst 10 Eqs API
      x-internal: true
      parameters:
        - in: query
          name: start_time
          schema:
            type: integer
            format: int64
            example: 1656315000
          description: (required)start time is epoch time in seconds. It represents the
            start of the time range (start - end) from which the flow data for
            Eqs will be fetched.
          required: true
        - in: query
          name: end_time
          schema:
            type: integer
            format: int64
            example: 1656322200
          description: (required)end time is epoch time in seconds. It represents the end
            of the time range (start - end) upto which the flow data for Eqs
            will be fetched.
          required: true
        - in: query
          name: group_by
          schema:
            type: string
            example: application
            enum:
              - application
              - application_group
          description: (required) Filter the result of Eqs group by applicationGroup or
            application .
          required: true
        - in: query
          name: criticality_id
          schema:
            type: integer
            format: int32
            example: 1
          description: Filter the data with criticality.Multiples values are allowed with
            comma (,) separation.
          required: false
        - in: query
          name: application_id
          schema:
            type: integer
            format: int64
            example: 4818953406177
          description: Filter the data with Application.Multiples values are allowed with
            comma (,) separation.
          required: false
        - in: query
          name: application_group_id
          schema:
            type: integer
            format: int64
            example: 4818953406226
          description: Filter the data with application group.Multiples values are allowed
            with comma (,) separation.
          required: false
        - in: query
          name: src_site_id
          schema:
            type: integer
            example: 12234
            format: int64
          description: Filter the data with Local Site Id.Multiples values are allowed
            with comma (,) separation.
          required: false
        - in: query
          name: dst_site_id
          schema:
            type: integer
            example: 12234
            format: int64
          description: Filter the data with Remote Site Id.Multiples values are allowed
            with comma (,) separation.
          required: false
        - in: query
          name: src_network_id
          schema:
            type: integer
            example: 12234
            format: int64
          description: Filter the data with Local Network Id.Multiples values are allowed
            with comma (,) separation.
          required: false
        - in: query
          name: dst_network_id
          schema:
            type: integer
            example: 12234
            format: int64
          description: Filter the data with Remote Network Id.Multiples values are allowed
            with comma (,) separation.
          required: false
        - in: query
          name: src_appliance_id
          schema:
            type: integer
            example: 12234
            format: int64
          description: Filter the data with Local Appliance Id. Multiples values are
            allowed with comma (,) separation.
          required: false
        - in: query
          name: dst_appliance_id
          schema:
            type: integer
            example: 12234
            format: int64
          description: Filter the data with Remote Appliance Id. Multiples values are
            allowed with comma (,) separation.
          required: false
      description: Get worst 10 Eqs api will return Eqs data for worst 10 Eqs group by
        application or application group.
      operationId: worstEqsInfo
      security:
        - BearerAuth: []
      responses:
        "200":
          description: OK
          headers:
            X-Rate-Limit:
              description: calls per hour allowed by the user
              schema:
                type: integer
                format: int32
            X-Expires-After:
              $ref: "#/components/headers/ExpiresAfter"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WorstEqsResponse"
        "400":
          $ref: "#/components/responses/400BadRequestError"
        "401":
          $ref: "#/components/responses/401UnauthorizedError"
        "403":
          $ref: "#/components/responses/403ForbiddenError"
        "404":
          $ref: "#/components/responses/404NotFoundError"
        "405":
          $ref: "#/components/responses/405MethodNotAllowedError"
        "500":
          $ref: "#/components/responses/500InternalServerError"
  /monitoring/v1/applications/throughput/timeseries:
    get:
      tags:
        - Application 360
      summary: Get Throughput Evolution API
      x-internal: true
      parameters:
        - in: query
          name: start_time
          schema:
            type: integer
            format: int64
            example: 1656315000
          description: (required)start time is epoch time in seconds. It represents the
            start of the time range (start - end) from which the flow data for
            throughput will be fetched.
          required: true
        - in: query
          name: end_time
          schema:
            type: integer
            format: int64
            example: 1656322200
          description: (required)end time is epoch time in seconds. It represents the end
            of the time range (start - end) upto which the flow data for
            throughput will be fetched.
          required: true
        - in: query
          name: group_by
          schema:
            type: string
            example: application_group
            enum:
              - application_group
              - criticality
          description: (required) Filter the result of throughput group by
            applicationGroup or criticality.
          required: true
        - in: query
          name: criticality_id
          schema:
            type: integer
            format: int32
            example: 1
          description: Filter the data with criticality.Multiples values are allowed with
            comma (,) separation.
          required: false
        - in: query
          name: application_id
          schema:
            type: integer
            format: int64
            example: 4818953406177
          description: Filter the data with Application.Multiples values are allowed with
            comma (,) separation.
          required: false
        - in: query
          name: application_group_id
          schema:
            type: integer
            format: int64
            example: 4818953406226
          description: Filter the data with application group.Multiples values are allowed
            with comma (,) separation.
          required: false
        - in: query
          name: src_site_id
          schema:
            type: integer
            example: 12234
            format: int64
          description: Filter the data with Local Site Id.Multiples values are allowed
            with comma (,) separation.
          required: false
        - in: query
          name: dst_site_id
          schema:
            type: integer
            example: 12234
            format: int64
          description: Filter the data with Remote Site Id.Multiples values are allowed
            with comma (,) separation.
          required: false
        - in: query
          name: src_network_id
          schema:
            type: integer
            example: 12234
            format: int64
          description: Filter the data with Local Network Id.Multiples values are allowed
            with comma (,) separation.
          required: false
        - in: query
          name: dst_network_id
          schema:
            type: integer
            example: 12234
            format: int64
          description: Filter the data with Remote Network Id.Multiples values are allowed
            with comma (,) separation.
          required: false
        - in: query
          name: src_appliance_id
          schema:
            type: integer
            example: 12234
            format: int64
          description: Filter the data with Local Appliance Id. Multiples values are
            allowed with comma (,) separation.
          required: false
        - in: query
          name: dst_appliance_id
          schema:
            type: integer
            example: 12234
            format: int64
          description: Filter the data with Remote Appliance Id. Multiples values are
            allowed with comma (,) separation.
          required: false
      description: Get Throughput Evolution API will returns throughput evolution data
        grouped by Application Group or Criticality.
      operationId: throughputInfo
      security:
        - BearerAuth: []
      responses:
        "200":
          description: OK
          headers:
            X-Rate-Limit:
              description: calls per hour allowed by the user
              schema:
                type: integer
                format: int32
            X-Expires-After:
              $ref: "#/components/headers/ExpiresAfter"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ThroughPutEvolutionResponse"
        "400":
          $ref: "#/components/responses/400BadRequestError"
        "401":
          $ref: "#/components/responses/401UnauthorizedError"
        "403":
          $ref: "#/components/responses/403ForbiddenError"
        "404":
          $ref: "#/components/responses/404NotFoundError"
        "405":
          $ref: "#/components/responses/405MethodNotAllowedError"
        "500":
          $ref: "#/components/responses/500InternalServerError"
  /monitoring/v1/saasapplications:
    get:
      tags:
        - Application 360
      summary: Get Active SaaS Applications API
      x-internal: true
      parameters:
        - in: query
          name: start_time
          schema:
            type: integer
            format: int64
            example: 1670254899
          description: (required) start is epoch time in seconds. It represents the start
            of the selected time range (start - end).
          required: true
        - in: query
          name: end_time
          schema:
            type: integer
            format: int64
            example: 1670341299
          description: (required) end is epoch time in seconds. It represents the end of
            the selected time range (start - end).
          required: true
        - in: query
          name: at
          schema:
            type: integer
            format: int64
            example: 1656320000
          description: epoch time in seconds. It represents the actual timestamp for which
            we want the values (in the time range start to end).
          required: false
        - in: query
          name: site_id
          schema:
            type: integer
            format: int64
            example: 4436701316906
          description: Site ID.
          required: false
        - in: query
          name: keyword
          schema:
            type: string
            example: ebx
          description: keyword for case-insensitive search across columns having string
            values. Applicable on columns - application and category.
          required: false
        - in: query
          name: is_paginated
          schema:
            type: boolean
            example: false
          description: This indicates whether paginated response is required or not. The
            default value is true. When it is set to false then, the page and
            size parameter is ignored.
          required: false
        - in: query
          name: page
          schema:
            type: integer
            example: 5
            format: int32
          description: The page field for the pagination.<br>Default value is 1 (used if
            set value is not an integer > 0).
          required: false
        - in: query
          name: size
          schema:
            type: integer
            example: 10
            format: int32
          description: The size field for the pagination.<br>Default value is 20 (used if
            set value is not an integer > 0).
          required: false
        - in: query
          name: sort
          schema:
            type: string
            example: volume,asc
          description: Sorting can applied on specified column, followed by the sorting
            direction (ie asc or desc) with the comma separation.
          required: false
      description: Get Saas Applications seen on a customer network in a given time range.
      operationId: saasApplicationsList
      security:
        - BearerAuth: []
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SaasApplicationsPaginatedResponseMonitoring"
        "400":
          $ref: "#/components/responses/400BadRequestError"
        "401":
          $ref: "#/components/responses/401UnauthorizedError"
        "403":
          $ref: "#/components/responses/403ForbiddenError"
        "404":
          $ref: "#/components/responses/404NotFoundError"
        "405":
          $ref: "#/components/responses/405MethodNotAllowedError"
        "500":
          $ref: "#/components/responses/500InternalServerError"
  /monitoring/v1/saasapplications/filters:
    get:
      tags:
        - Application 360
      summary: Get Active SaaS Applications API filters
      x-internal: true
      description: Get Active SaaS Applications API filters.
      operationId: saasApplicationsFilters
      security:
        - BearerAuth: []
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SaasApplicationsFiltersResponse"
        "400":
          $ref: "#/components/responses/400BadRequestError"
        "401":
          $ref: "#/components/responses/401UnauthorizedError"
        "403":
          $ref: "#/components/responses/403ForbiddenError"
        "404":
          $ref: "#/components/responses/404NotFoundError"
        "405":
          $ref: "#/components/responses/405MethodNotAllowedError"
        "500":
          $ref: "#/components/responses/500InternalServerError"
  /monitoring/v1/dpiapplications:
    get:
      tags:
        - Application 360
      summary: Get Discovered DPI Applications API
      x-internal: true
      description: Get both configured and discovered DPI Applications seen on a
        customer network for a given time range.
      operationId: dpiApplicationsList
      parameters:
        - in: query
          name: start_time
          schema:
            type: integer
            format: int64
            example: 1670254899
          description: It is epoch time in seconds. It represents the start of the
            selected time range.
          required: true
        - in: query
          name: end_time
          schema:
            type: integer
            format: int64
            example: 1670341299
          description: It is epoch time in seconds. It represents the end of the selected
            time range.
          required: true
        - in: query
          name: at
          schema:
            type: integer
            format: int64
            example: 1670300899
          description: It is epoch time in seconds. It represents the exact timestamp.
          required: false
        - in: query
          name: site_id
          schema:
            type: integer
            format: int64
            example: 4436701316906
          description: Site ID.
          required: false
        - in: query
          name: keyword
          schema:
            type: string
            example: ebx
          description: keyword for case-insensitive search across columns having string
            values. Applicable on columns - application, category and protocol.
          required: false
        - in: query
          name: is_paginated
          schema:
            type: boolean
            example: false
          description: This indicates whether paginated response is required. Default
            value is true. When it is set to false then, the page and size
            parameter is ignored.
          required: false
        - in: query
          name: page
          schema:
            type: integer
            example: 5
            format: int32
          description: The page field for the pagination.<br>Default value is 1 (used if
            set value is not an integer > 0).
          required: false
        - in: query
          name: size
          schema:
            type: integer
            example: 10
            format: int32
          description: The size field for the pagination.<br>Default value is 20 (used if
            set value is not an integer > 0).
          required: false
        - in: query
          name: sort
          schema:
            type: string
            example: volume,asc
          description: Sorting is allowed on a specific column only. Sorting order can be
            given column name followed by the direction (e.g. asc or desc) with
            a comma separator. Supported columns are id, name, description,
            protocol_id, protocol_name, protocol_family, is_provisioned,
            number_of_sessions, volume and number_of_sites.
          required: false
      security:
        - BearerAuth: []
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DpiApplicationsPaginatedResponse"
        "400":
          $ref: "#/components/responses/400BadRequestError"
        "401":
          $ref: "#/components/responses/401UnauthorizedError"
        "403":
          $ref: "#/components/responses/403ForbiddenError"
        "404":
          $ref: "#/components/responses/404NotFoundError"
        "405":
          $ref: "#/components/responses/405MethodNotAllowedError"
        "500":
          $ref: "#/components/responses/500InternalServerError"
  /monitoring/v1/dpiapplications/filters:
    get:
      tags:
        - Application 360
      summary: Get DPI Applications filters
      x-internal: true
      description: Get filter list for DPI application API.
      operationId: dpiApplicationsFilters
      security:
        - BearerAuth: []
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DpiApplicationsFilters"
        "400":
          $ref: "#/components/responses/400BadRequestError"
        "401":
          $ref: "#/components/responses/401UnauthorizedError"
        "403":
          $ref: "#/components/responses/403ForbiddenError"
        "404":
          $ref: "#/components/responses/404NotFoundError"
        "405":
          $ref: "#/components/responses/405MethodNotAllowedError"
        "500":
          $ref: "#/components/responses/500InternalServerError"
  /monitoring/v1/compression-metrics/stats/applications:
    get:
      tags:
        - Application 360
      summary: Get Compression Metrics Per Application
      x-internal: true
      description: Get Compression Metrics Per Application.
      operationId: compressionStatsByApplication
      parameters:
        - in: query
          name: start_time
          schema:
            type: integer
            format: int64
            example: 1652607240
          description: start_time is epoch time in seconds. It represents the start of the
            time range for which the metrics data for sites will be fetched.
            Only a single value is allowed.
          required: true
        - in: query
          name: end_time
          schema:
            type: integer
            format: int64
            example: 1652607260
          description: end_time is epoch time in seconds. It represents the end of the
            time range for which the metrics data for sites will be fetched.
            Only a single value is allowed.
          required: true
        - in: query
          name: criticality_id
          schema:
            type: integer
            format: int32
            example: 1
          description: Filter the data with criticality. Multiple values are allowed with
            comma (,) separation.
          required: false
        - in: query
          name: application_id
          schema:
            type: integer
            format: int64
            example: 4818953406177
          description: Filter the data with application. Multiple values are allowed with
            comma (,) separation.
          required: false
        - in: query
          name: application_group_id
          schema:
            type: integer
            format: int64
            example: 4818953406226
          description: Filter the data with application group. Multiple values are allowed
            with comma (,) separation.
          required: false
        - in: query
          name: src_site_id
          schema:
            type: integer
            example: 12234
            format: int64
          description: Filter the data with source site. Multiple values are allowed with
            comma (,) separation.
          required: false
        - in: query
          name: dst_site_id
          schema:
            type: integer
            example: 12234
            format: int64
          description: Filter the data with destination site. Multiple values are allowed
            with comma (,) separation.
          required: false
        - in: query
          name: src_wan_service_id
          schema:
            type: integer
            example: 234
            format: int64
          description: Filter the data with source WAN service. Multiple values are
            allowed with comma (,) separation.
          required: false
        - in: query
          name: dst_wan_service_id
          schema:
            type: integer
            example: 234
            format: int64
          description: Filter the data with destination WAN service. Multiple values are
            allowed with comma (,) separation.
          required: false
        - in: query
          name: keyword
          schema:
            type: string
            example: abc
          description: The string value of keyword is used to case-insensitive search on
            application_name field.
          required: false
        - in: query
          name: is_paginated
          schema:
            type: boolean
            example: false
          description: This indicates whether paginated response is required. Default
            value is true. When it is set to false then, the page and size
            parameter is ignored.
          required: false
        - in: query
          name: page
          schema:
            type: integer
            format: int32
            example: 5
          description: The page field for next page number to fetch data.<br>Default value
            is 1 (used if set value is not an integer > 0).
          required: false
        - in: query
          name: size
          schema:
            type: integer
            format: int32
            example: 10
          description: The number of items in each page.<br>Default value is 20 (used if
            set value is not an integer > 0).
          required: false
        - in: query
          name: sort
          schema:
            type: string
            example: application_name,asc
          description: Sorting is allowed on a specific column only. Sorting order can be
            given column name followed by the direction (e.g. asc or desc) with
            a comma separator. Supported columns are application_id,
            application_name, compressible, compressed, and percentage.
          required: false
      security:
        - BearerAuth: []
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CompressionStatsByApplicationPaginatedResponse"
        "400":
          $ref: "#/components/responses/400BadRequestError"
        "401":
          $ref: "#/components/responses/401UnauthorizedError"
        "403":
          $ref: "#/components/responses/403ForbiddenError"
        "404":
          $ref: "#/components/responses/404NotFoundError"
        "405":
          $ref: "#/components/responses/405MethodNotAllowedError"
        "500":
          $ref: "#/components/responses/500InternalServerError"
  /monitoring/v1/compression-metrics/stats/sites:
    get:
      tags:
        - Application 360
      summary: Get Compression Metrics Per Site
      x-internal: true
      description: Get Compression Metrics Per Site.
      operationId: compressionStatsBySite
      parameters:
        - in: query
          name: start_time
          schema:
            type: integer
            format: int64
            example: 1652607240
          description: start_time is epoch time in seconds. It represents the start of the
            time range for which the metrics data for sites will be fetched.
            Only a single value is allowed.
          required: true
        - in: query
          name: end_time
          schema:
            type: integer
            format: int64
            example: 1652607260
          description: end_time is epoch time in seconds. It represents the end of the
[...]
