openapi: 3.0.1
info:
  title: ExtremeCloud IQ API
  description: ExtremeCloud IQ RESTful API for external and internal applications.
  contact:
    name: Extreme Networks Support
    url: https://www.extremenetworks.com/support
    email: support@extremenetworks.com
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  version: 25.11.1-3
externalDocs:
  description: API Reference
  url: https://extremecloudiq.com/api-docs/api-reference.html
servers:
  - url: https://cloudapi.extremecloudiq.com/xiq/v1
    description: ExtremeCloud IQ REST API Server
tags:
  - name: Authentication
    description: User login & logout
  - name: Authorization
    description: API token and permissions
  - name: Operation
    description: Long-Running Operations (LRO) management for asynchronous APIs
  - name: Account
    description: ExtremeCloud IQ Account
  - name: User
    description: Local and external user management in ExtremeCloud IQ account
  - name: Use Folder Preferences
    description: User folder preferences
  - name: HIQ
    description: Hierarchical ExtremeCloud IQ
  - name: Location
    description: Hierarchical locations and floor plan
  - name: Device
    description: "Supported device platforms: Cloud Engine, IQ Engine, WiNG, VOSS, EXOS ..."
  - name: Network Policy
    description: Unified configuration management for wireless and wired network devices
  - name: Client
    description: The clients associate to the devices of ExtremeCloud IQ
  - name: Client - Details
    description: The details of client associate to the devices of ExtremeCloud IQ
  - name: Switch Inspector Panel
    description: Get the switch inspector panel
  - name: D360
    description: D360 API Endpoint
  - name: Dashboard
    description: Dashboard
  - name: Dashboard Wired Usage and Capacity
    description: Get the dashboard for usage and capacity
  - name: Dashboard Wired Client Health
    description: Get the dashboard for client health
  - name: Dashboard Wired Device Health
    description: Get the dashboard for wired device health
  - name: Dashboard Wireless Usage and Capacity
    description: Get the dashboard for usage and capacity health
  - name: Dashboard Wireless Client Health
    description: Get the dashboard for client health
  - name: Dashboard Wireless Device Health
    description: Get the dashboard for device health
  - name: Geo View
    description: Geo View API Endpoint
  - name: Application
    description: Application management and application metrics
  - name: Alert
    description: ExtremeCloud IQ generated alerts and events
  - name: Log
    description: Access all kinds of logs in ExtremeCloud IQ
  - name: Notification
    description: Push events/logs to users via Webhook, Email, SMS, etc.
  - name: Administration
    description: API Token Management, 3rd Party API Connections, Credential
      Distribution Groups
  - name: NOS
    description: Get device info by NOS
  - name: Configuration - Deployment
    description: Push configuration to devices
  - name: Configuration - Basic
    description: VLAN Profile/DHCP Server/...
  - name: Configuration - User Management
    description: User Group/End User/PCG/PPSK Classification
  - name: Configuration - Policy
    description: SSID/User Profile/Classification Rule/CCG/Radio Profile/...
  - name: Configuration - Network
    description: ExtremeCloud Tunnel Concentrator/...
  - name: Configuration - Authentication
    description: AD/LDAP/RADIUS/CWP/...
  - name: Configuration - Certificate
    description: Certificate
  - name: Copilot - Connectivity Experience
    description: ExtremeCloud IQ Copilot
  - name: Copilot - Anomalies
    description: ExtremeCloud IQ Copilot
  - name: Packet Capture
    description: The packet capture sessions in ExtremeCloud IQ
  - name: Network Scorecard
    description: The scorecard containing device, client, network, wifi and services
      health of the selected location.
  - name: Essentials - ExtremeLocation
    description: The ExtremeLocation and Analytics API
  - name: Misc
    description: Metadata - Country/...
  - name: Thread
    description: The thread mesh network topology
  - name: NG Reports (Ondemand)
    description: Supports following metrics
  - name: NG Reports (Scheduled)
    description: NG Scheduled Reports & Recipients API Endpoint
  - name: Universal Compute Platform
    description: Universal Compute Platform
paths:
  /v1/account/viq/default-device-password:
    put:
      tags:
        - Account
      summary: Update the default device password in the account (with validation)
      description: Update the default device password in the global setting for
        accessing the console/shell of the devices.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_update_default_device_password_with_validation
      operationId: updateDefaultDevicePasswordWithValidation
      requestBody:
        description: The new default device password
        content:
          application/json:
            schema:
              type: string
        required: true
      responses:
        "200":
          description: OK
      security:
        - BearerAuth: []
  /usergroups/{id}:
    put:
      tags:
        - Configuration - User Management
      summary: Update user group
      description: Update existing user group information.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_update_user_group
      operationId: updateUserGroup
      parameters:
        - name: id
          in: path
          description: The user group ID.
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        description: Update user-group request body
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/XiqUpdateUserGroupRequest"
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/XiqUserGroup"
      security:
        - BearerAuth: []
    delete:
      tags:
        - Configuration - User Management
      summary: Delete user group by ID
      description: Delete the user-group for the specified ID.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_delete_user_group
      operationId: deleteUserGroup
      parameters:
        - name: id
          in: path
          description: The user group ID
          required: true
          schema:
            type: integer
            format: int64
      responses:
        "200":
          description: OK
      security:
        - BearerAuth: []
  /user-profiles/{id}:
    get:
      tags:
        - Configuration - Policy
      summary: Get user profile by ID
      description: Get user profile details for the specified ID.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_get_user_profile_by_id
      operationId: getUserProfile
      parameters:
        - name: id
          in: path
          description: The user profile ID
          required: true
          schema:
            type: integer
            format: int64
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/XiqUserProfile"
      security:
        - BearerAuth: []
    put:
      tags:
        - Configuration - Policy
      summary: Update user profile
      description: Update an existing user profile.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_update_user_profile_configuration
      operationId: updateCoUserProfile
      parameters:
        - name: id
          in: path
          description: The user profile ID.
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        description: The payload of user profile.
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/XiqUpdateUserProfileRequest"
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/XiqUserProfile"
      security:
        - BearerAuth: []
    delete:
      tags:
        - Configuration - Policy
      summary: Delete an user profile by ID
      description: Delete an existing user profile by ID.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_delete_user_profile_configuration
      operationId: deleteCoUserProfile
      parameters:
        - name: id
          in: path
          description: The user profile ID
          required: true
          schema:
            type: integer
            format: int64
      responses:
        "200":
          description: OK
      security:
        - BearerAuth: []
  /tunnel-concentrators/{id}:
    get:
      tags:
        - Configuration - Network
      summary: Get Tunnel Concentrator by ID
      description: Get Tunnel Concentrator  details for the specified ID.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_get_tunnel_concentrator
      operationId: getTunnelConcentrator
      parameters:
        - name: id
          in: path
          description: The Tunnel Concentrator ID
          required: true
          schema:
            type: integer
            format: int64
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/XiqTunnelConcentrator"
      security:
        - BearerAuth: []
    put:
      tags:
        - Configuration - Network
      summary: Update TunnelConcentrator by ID
      description: Update the existing Tunnel Concentrator by ID.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_update_tunnel_concentrator
      operationId: updateTunnelConcentrator
      parameters:
        - name: id
          in: path
          description: The Tunnel Concentrator ID.
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        description: The payload of the update Tunnel Concentrator request.
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/XiqTunnelConcentratorRequest"
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/XiqTunnelConcentrator"
      security:
        - BearerAuth: []
    delete:
      tags:
        - Configuration - Network
      summary: Delete TunnelConcentrator by ID
      description: Delete the existing TunnelConcentrator by the profile ID.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_delete_tunnel_concentrator
      operationId: deleteTunnelConcentrator
      parameters:
        - name: id
          in: path
          description: The TunnelConcentrator ID
          required: true
          schema:
            type: integer
            format: int64
      responses:
        "200":
          description: OK
      security:
        - BearerAuth: []
  /third-party-api-connection:
    get:
      tags:
        - Administration
      summary: List third party api connections
      description: List a page of third party api connections.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_list_third_party_api_connection
      operationId: listThirdPartyApiConnections
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/XiqThirdPartyApiConnection"
      security:
        - BearerAuth: []
    put:
      tags:
        - Administration
      summary: Update a third party api connection
      description: The payload to update 3rd party API connection.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_update_third_party_api_connection
      operationId: updateThirdPartyApiConnection
      requestBody:
        description: The payload to update 3rd party API connection.
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/XiqUpdateThirdPartyApiConnectionRequest"
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/XiqThirdPartyApiConnection"
      security:
        - BearerAuth: []
    delete:
      tags:
        - Administration
      summary: Delete a third party api connection
      description: Delete 3rd party API connection.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_delete_third_party_api_connection
      operationId: deleteThirdPartyApiConnection
      responses:
        "200":
          description: OK
      security:
        - BearerAuth: []
  /subscriptions/webhook/{id}:
    put:
      tags:
        - Notification
      summary: Update webhook subscription
      description: Update webhook subscription by ID.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_update_webhook_subscription
      operationId: updateWebhookSubscription
      parameters:
        - name: id
          in: path
          description: The webhook subscription ID
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        description: The body of update webhook subscription API
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/XiqUpdateWebhookSubscriptionRequest"
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/XiqWebhookSubscription"
      security:
        - BearerAuth: []
  /ssids/{id}/psk/password:
    put:
      tags:
        - Configuration - Policy
      summary: Change the SSID PSK password
      description: Change the SSID PSK password.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_change_the_ssid_psk_password
      operationId: changePskPassword
      parameters:
        - name: id
          in: path
          description: The SSID ID
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        description: The new SSID PSK password
        content:
          application/json:
            schema:
              type: string
        required: true
      responses:
        "200":
          description: OK
      security:
        - BearerAuth: []
  /ssids/{id}/mode/wep:
    put:
      tags:
        - Configuration - Policy
      summary: Change the SSID mode to WEP
      description: Change the SSID mode to WEP.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_set_ssid_mode_to_wep
      operationId: setSsidModeWep
      parameters:
        - name: id
          in: path
          description: The SSID ID
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        description: The payload to change the SSID mode to WEP
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/XiqSetSsidModeWepRequest"
        required: true
      responses:
        "200":
          description: OK
      security:
        - BearerAuth: []
  /ssids/{id}/mode/psk:
    put:
      tags:
        - Configuration - Policy
      summary: Change the SSID mode to PSK
      description: Change the SSID mode to PSK.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_set_ssid_mode_to_psk
      operationId: setSsidModePsk
      parameters:
        - name: id
          in: path
          description: The SSID ID
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        description: The payload to change the SSID mode to PSK
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/XiqSetSsidModePskRequest"
        required: true
      responses:
        "200":
          description: OK
      security:
        - BearerAuth: []
  /ssids/{id}/mode/ppsk:
    put:
      tags:
        - Configuration - Policy
      summary: Change the SSID mode to PPSK
      description: Change the SSID mode to PPSK.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_set_ssid_mode_to_ppsk
      operationId: setSsidModePpsk
      parameters:
        - name: id
          in: path
          description: The SSID ID
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        description: The payload to change the SSID mode to PPSK
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/XiqSetSsidModePpskRequest"
        required: true
      responses:
        "200":
          description: OK
      security:
        - BearerAuth: []
  /ssids/{id}/mode/open:
    put:
      tags:
        - Configuration - Policy
      summary: Change the SSID mode to open access
      description: Change the SSID mode to open access.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_set_ssid_mode_to_open_access
      operationId: setSsidModeOpen
      parameters:
        - name: id
          in: path
          description: The SSID ID
          required: true
          schema:
            type: integer
            format: int64
      responses:
        "200":
          description: OK
      security:
        - BearerAuth: []
  /ssids/{id}/mode/dot1x:
    put:
      tags:
        - Configuration - Policy
      summary: Change the SSID mode to 802.1x
      description: Change the SSID mode to 802.1x.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_set_ssid_mode_to_dot1x
      operationId: setSsidModeDot1x
      parameters:
        - name: id
          in: path
          description: The SSID ID
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        description: The payload to change the SSID mode to 802.1x
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/XiqSetSsidModeDot1xRequest"
        required: true
      responses:
        "200":
          description: OK
      security:
        - BearerAuth: []
  /ssids/advanced-settings/{id}:
    get:
      tags:
        - Configuration - Policy
      summary: Get SSID advanced settings
      description: Get the advanced settings belonging to the SSID.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_get_ssid_advanced_settings_by_id
      operationId: getSsidAdvancedSettings
      parameters:
        - name: id
          in: path
          description: The SSID's advanced settings ID
          required: true
          schema:
            type: integer
            format: int64
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/XiqSsidAdvancedSettings"
      security:
        - BearerAuth: []
    put:
      tags:
        - Configuration - Policy
      summary: Update SSID advanced settings
      description: Update the advanced settings belonging to the SSID.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_update_ssid_advanced_settings_by_id
      operationId: updateSsidAdvancedSettings
      parameters:
        - name: id
          in: path
          description: The SSID advanced settings ID.
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        description: The payload of the update advanced settings request.
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/XiqUpdateSsidAdvancedSettingsRequest"
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/XiqSsidAdvancedSettings"
      security:
        - BearerAuth: []
  /site/afc/schedule:
    get:
      tags:
        - afc-endpoint
      operationId: getSiteAfcSchedule
      parameters:
        - name: ownerId
          in: query
          description: Owner Id
          required: true
          schema:
            type: integer
            format: int64
        - name: folderId
          in: query
          description: Folder Id
          required: true
          schema:
            type: integer
            format: int64
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/XiqSiteAfcSchedule"
      security:
        - BearerAuth: []
    put:
      tags:
        - afc-endpoint
      operationId: updateSiteAfcSchedule
      requestBody:
        description: AFC site schedule request body
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/XiqSiteAfcSchedule"
        required: true
      responses:
        "200":
          description: OK
      security:
        - BearerAuth: []
    post:
      tags:
        - afc-endpoint
      operationId: createSiteAfcSchedule
      requestBody:
        description: AFC site schedule request body
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/XiqSiteAfcSchedule"
        required: true
      responses:
        "200":
          description: OK
      security:
        - BearerAuth: []
  /radsec-proxies/{id}:
    get:
      tags:
        - Configuration - Authentication
      summary: Get the RADSEC proxy configuration
      description: Get an existing RADSEC proxy configuration by ID.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_get_the_radsec_proxy_configuration_by_id
      operationId: getRadsecProxy
      parameters:
        - name: id
          in: path
          description: The RADSEC proxy ID
          required: true
          schema:
            type: integer
            format: int64
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/XiqRadsecProxy"
      security:
        - BearerAuth: []
    put:
      tags:
        - Configuration - Authentication
      summary: Update RADSEC proxy configuration
      description: Update RADSEC proxy configuration by ID.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_update_radsec_proxy_configuration
      operationId: updateRadsecProxy
      parameters:
        - name: id
          in: path
          description: The RADSEC proxy ID
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        description: The body of update RADSEC proxy API
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/XiqUpdateRadsecProxyRequest"
            examples:
              Update an existing RADSEC proxy:
                summary: Update an existing RADSEC proxy
                description: The payload to update an existing RADSEC proxy
                value:
                  name: radsec-proxy-1
                  description: Radsec Proxy 1
                  format_type: NAI
                  enable_inject_operator_name_attribute: true
                  realms:
                    - id: 1
                    - id: 2
                    - name: test-realm
                      enable_strip_realm_name: false
                      external_radius_server_object_ids:
                        - 3000
                        - 3001
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/XiqRadsecProxy"
      security:
        - BearerAuth: []
    delete:
      tags:
        - Configuration - Authentication
      summary: Delete the RADSEC proxy configuration
      description: Delete an existing RADSEC proxy configuration by ID.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_delete_radsec_proxy_configuration
      operationId: deleteRadsecProxy
      parameters:
        - name: id
          in: path
          description: The RADSEC proxy ID
          required: true
          schema:
            type: integer
            format: int64
      responses:
        "200":
          description: OK
      security:
        - BearerAuth: []
  /radius-servers/internal/{id}:
    get:
      tags:
        - Configuration - Authentication
      summary: Get internal RADIUS server by ID
      description: Get detailed configuration for internal RADIUS server by ID.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_list_the_internal_radius_server_by_id
      operationId: getInternalRadiusServer
      parameters:
        - name: id
          in: path
          description: The ID for internal RADIUS server
          required: true
          schema:
            type: integer
            format: int64
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/XiqInternalRadiusServer"
      security:
        - BearerAuth: []
    put:
      tags:
        - Configuration - Authentication
      summary: Update internal RADIUS server configuration
      description: Update internal RADIUS server configuration by ID.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_update_internal_radius_server_configuration
      operationId: updateInternalRadiusServer
      parameters:
        - name: id
          in: path
          description: The internal RADIUS server ID
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        description: The payload to update the internal RADIUS server
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/XiqUpdateInternalRadiusServerRequest"
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/XiqInternalRadiusServer"
      security:
        - BearerAuth: []
    delete:
      tags:
        - Configuration - Authentication
      summary: Delete internal RADIUS server configuration
      description: Delete an existing internal RADIUS server configuration by ID.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_delete_internal_radius_server_configuration
      operationId: deleteInternalRadiusServer
      parameters:
        - name: id
          in: path
          description: The internal RADIUS server ID
          required: true
          schema:
            type: integer
            format: int64
      responses:
        "200":
          description: OK
      security:
        - BearerAuth: []
  /radius-servers/external/{id}:
    get:
      tags:
        - Configuration - Authentication
      summary: Get external RADIUS server by ID
      description: Get detailed configuration for a specific external RADIUS server.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_list_the_external_radius_server_by_id
      operationId: getExternalRadiusServer
      parameters:
        - name: id
          in: path
          description: The ID for external RADIUS server
          required: true
          schema:
            type: integer
            format: int64
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/XiqExternalRadiusServer"
      security:
        - BearerAuth: []
    put:
      tags:
        - Configuration - Authentication
      summary: Update external RADIUS server configuration
      description: Update external RADIUS server configuration by ID.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_update_external_radius_server_configuration
      operationId: updateExternalRadiusServer
      parameters:
        - name: id
          in: path
          description: The external RADIUS server ID.
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        description: The payload to update the external RADIUS server
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/XiqUpdateExternalRadiusServerRequest"
        required: true
      responses:
        "200":
          description: OK
      security:
        - BearerAuth: []
    delete:
      tags:
        - Configuration - Authentication
      summary: Delete external RADIUS server configuration
      description: Delete an existing external RADIUS server configuration by ID.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_delete_external_radius_server_configuration
      operationId: deleteExternalRadiusServer
      parameters:
        - name: id
          in: path
          description: The external RADIUS server ID
          required: true
          schema:
            type: integer
            format: int64
      responses:
        "200":
          description: OK
      security:
        - BearerAuth: []
  /radius-proxies/{id}:
    get:
      tags:
        - Configuration - Authentication
      summary: Get the RADIUS proxy configuration
      description: Get an existing RADIUS proxy configuration by ID.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_get_the_radius_proxy_configuration_by_id
      operationId: getRadiusProxy
      parameters:
        - name: id
          in: path
          description: The RADIUS proxy ID
          required: true
          schema:
            type: integer
            format: int64
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/XiqRadiusProxy"
      security:
        - BearerAuth: []
    put:
      tags:
        - Configuration - Authentication
      summary: Update RADIUS proxy configuration
      description: Update RADIUS proxy configuration by ID.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_update_radius_proxy_configuration
      operationId: updateRadiusProxy
      parameters:
        - name: id
          in: path
          description: The RADIUS proxy ID
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        description: The body of update RADIUS proxy API
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/XiqUpdateRadiusProxyRequest"
            examples:
              Update an existing RADIUS proxy:
                summary: Update an existing RADIUS proxy
                description: The payload to update an existing RADIUS proxy
                value:
                  name: radius-proxy-1
                  description: Radius Proxy 1
                  format_type: NAI
                  retry_count: 3
                  retry_delay: 5
                  dead_time: 300
                  enable_inject_operator_name_attribute: false
                  clients:
                    - id: 1
                    - shared_secret: "123456"
                      description: ""
                      l3_address_profile_id: 1000
                  realms:
                    - id: 1
                    - id: 2
                    - name: test-realm
                      enable_strip_realm_name: false
                      radius_client_object_id: 3000
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/XiqRadiusProxy"
      security:
        - BearerAuth: []
    delete:
      tags:
        - Configuration - Authentication
      summary: Delete the RADIUS proxy configuration
      description: Delete an existing RADIUS proxy configuration by ID.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_delete_radius_proxy_configuration
      operationId: deleteRadiusProxy
      parameters:
        - name: id
          in: path
          description: The RADIUS proxy ID
          required: true
          schema:
            type: integer
            format: int64
      responses:
        "200":
          description: OK
      security:
        - BearerAuth: []
  /radius-client-objects/{id}:
    get:
      tags:
        - Configuration - Authentication
      summary: Get RADIUS client object by ID
      description: Get detailed configuration for a specific RADIUS client object.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_list_the_radius_client_object_configuration_by_id
      operationId: getRadiusClientObject
      parameters:
        - name: id
          in: path
          description: The ID of RADIUS client object
          required: true
          schema:
            type: integer
            format: int64
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/XiqRadiusClientObject"
      security:
        - BearerAuth: []
    put:
      tags:
        - Configuration - Authentication
      summary: Update RADIUS client object configuration
      description: Update RADIUS client object configuration by ID.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_update_radius_client_object_configuration
      operationId: updateRadiusClientObject
      parameters:
        - name: id
          in: path
          description: The RADIUS client object ID.
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        description: The payload to update the RADIUS client object
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/XiqUpdateRadiusClientObjectRequest"
        required: true
      responses:
        "200":
          description: OK
      security:
        - BearerAuth: []
    delete:
      tags:
        - Configuration - Authentication
      summary: Delete a RADIUS client object configuration
      description: Delete an existing RADIUS client object configuration by ID.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_delete_radius_client_object_configuration
      operationId: deleteRadiusClientObject
      parameters:
        - name: id
          in: path
          description: The RADIUS client object ID
          required: true
          schema:
            type: integer
            format: int64
      responses:
        "200":
          description: OK
      security:
        - BearerAuth: []
  /radio-profiles/{id}:
    get:
      tags:
        - Configuration - Policy
      summary: Get radio profile by ID
      description: Get radio profile details for the specified ID.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_get_radio_profile_by_id
      operationId: getRadioProfile
      parameters:
        - name: id
          in: path
          description: The radio profile ID
          required: true
          schema:
            type: integer
            format: int64
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/XiqRadioProfile"
      security:
        - BearerAuth: []
    put:
      tags:
        - Configuration - Policy
      summary: Update radio profile by ID
      description: Update the existing radio profile by the profile ID.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_update_radio_profile_configuration
      operationId: updateRadioProfile
      parameters:
        - name: id
          in: path
          description: The radio profile ID.
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        description: The payload of the update radio profile request.
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/XiqUpdateRadioProfileRequest"
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/XiqRadioProfile"
      security:
        - BearerAuth: []
    delete:
      tags:
        - Configuration - Policy
      summary: Delete radio profile by ID
      description: Delete the existing radio profile by the profile ID.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_delete_radio_profile_configuration
      operationId: deleteRadioProfile
      parameters:
        - name: id
          in: path
          description: The radio profile ID
          required: true
          schema:
            type: integer
            format: int64
      responses:
        "200":
          description: OK
      security:
        - BearerAuth: []
  /radio-profiles/wmm-qos/{id}:
    get:
      tags:
        - Configuration - Policy
      summary: Get Wmm QoS settings
      description: Get the Wi-Fi Multimedia (WMM) QoS settings belonging to a radio profile.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_get_wmm_qos_settings_by_id
      operationId: getRpWmmQosSettings
      parameters:
        - name: id
          in: path
          description: The radio QoS settings ID
          required: true
          schema:
            type: integer
            format: int64
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/XiqRpWmmQosSettings"
      security:
        - BearerAuth: []
    put:
      tags:
        - Configuration - Policy
      summary: Update Wmm QoS settings
      description: Update the Wi-Fi Multimedia (WMM) QoS settings belonging to a radio
        profile.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_update_wmm_qos_settings_by_id
      operationId: updateRpWmmQosSettings
      parameters:
        - name: id
          in: path
          description: The Wmm QoS settings ID.
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        description: The payload of the update Wmm QoS settings request.
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/XiqUpdateRpWmmQosSettingsRequest"
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/XiqRpWmmQosSettings"
      security:
        - BearerAuth: []
  /radio-profiles/sensor-scan/{id}:
    get:
      tags:
        - Configuration - Policy
      summary: Get sensor scan settings
      description: Get the sensor scan settings belonging to a radio profile.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_get_sensor_scan_settings_by_id
      operationId: getRpSensorScanSettings
      parameters:
        - name: id
          in: path
          description: The sensor scan settings ID
          required: true
          schema:
            type: integer
            format: int64
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/XiqRpSensorScanSettings"
      security:
        - BearerAuth: []
    put:
      tags:
        - Configuration - Policy
      summary: Update sensor scan settings
      description: Update the sensor scan settings belonging to a radio profile.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_update_sensor_scan_settings_by_id
      operationId: updateRpSensorScanSettings
      parameters:
        - name: id
          in: path
          description: The sensor scan settings ID.
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        description: The payload of the update sensor scan settings request.
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/XiqUpdateRpSensorScanSettingsRequest"
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/XiqRpSensorScanSettings"
      security:
        - BearerAuth: []
  /radio-profiles/radio-usage-opt/{id}:
    get:
      tags:
        - Configuration - Policy
      summary: Get radio usage optimization settings
      description: Get the radio usage optimization settings belonging to a radio profile.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_get_radio_usage_optimization_by_id
      operationId: getRpRadioUsageOptimization
      parameters:
        - name: id
          in: path
          description: The radio usage optimization settings ID
          required: true
          schema:
            type: integer
            format: int64
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/XiqRpRadioUsageOptimization"
      security:
        - BearerAuth: []
    put:
      tags:
        - Configuration - Policy
      summary: Update radio usage optimization settings
      description: Update the radio usage optimization settings belonging to a radio
        profile.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_update_radio_usage_optimization_by_id
      operationId: updateRpRadioUsageOptimization
      parameters:
        - name: id
          in: path
          description: The radio usage optimization settings ID.
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        description: The payload of the update radio usage optimization settings request.
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/XiqUpdateRpRadioUsageOptimizationRequest"
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/XiqRpRadioUsageOptimization"
      security:
        - BearerAuth: []
  /radio-profiles/neighborhood-analysis/{id}:
    get:
      tags:
        - Configuration - Policy
      summary: Get neighborhood analysis settings
      description: Get the neighborhood analysis settings belonging to a radio profile.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_get_radio_profile_neighborhood_analysis_by_id
      operationId: getNeighborhoodAnalysis
      parameters:
        - name: id
          in: path
          description: The neighborhood analysis settings ID
          required: true
          schema:
            type: integer
            format: int64
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/XiqRpNeighborhoodAnalysis"
      security:
        - BearerAuth: []
    put:
      tags:
        - Configuration - Policy
      summary: Update neighborhood analysis settings
      description: Update the neighborhood analysis settings belonging to a radio profile.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_update_radio_profile_neighborhood_analysis_by_id
      operationId: updateNeighborhoodAnalysis
      parameters:
        - name: id
          in: path
          description: The neighborhood analysis settings ID.
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        description: The payload of the update neighborhood analysis settings request.
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/XiqUpdateRpNeighborhoodAnalysisRequest"
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/XiqRpNeighborhoodAnalysis"
      security:
        - BearerAuth: []
  /radio-profiles/miscellaneous/{id}:
    get:
      tags:
        - Configuration - Policy
      summary: Get radio miscellaneous settings
      description: Get the radio miscellaneous settings belonging to a radio profile.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_get_radio_miscellaneous_settings_by_id
      operationId: getRpMiscellaneousSettings
      parameters:
        - name: id
          in: path
          description: The radio miscellaneous settings ID
          required: true
          schema:
            type: integer
            format: int64
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/XiqRpMiscellaneousSettings"
      security:
        - BearerAuth: []
    put:
      tags:
        - Configuration - Policy
      summary: Update radio miscellaneous settings
      description: Update the radio miscellaneous settings belonging to a radio profile.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_update_radio_miscellaneous_settings_by_id
      operationId: updateRpMiscellaneousSettings
      parameters:
        - name: id
          in: path
          description: The radio miscellaneous settings ID.
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        description: The payload of the update radio miscellaneous settings request.
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/XiqUpdateRpMiscellaneousSettingsRequest"
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/XiqRpMiscellaneousSettings"
      security:
        - BearerAuth: []
  /radio-profiles/mac-ouis/{id}:
    get:
      tags:
        - Configuration - Policy
      summary: Get MAC OUI profile
      description: Get the MAC OUI profile belonging the radio optimization settings.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_get_mac_oui_profile_by_id
      operationId: getRpMacOuiProfile
      parameters:
        - name: id
          in: path
          description: The MAC OUI profile ID
          required: true
          schema:
            type: integer
            format: int64
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/XiqRpMacOuiProfile"
      security:
        - BearerAuth: []
    put:
      tags:
        - Configuration - Policy
      summary: Update MAC OUI profile
      description: Update the existing MAC OUI profile for radio usage optimization.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_update_mac_oui_profile_by_id
      operationId: updateRpMacOuiProfile
      parameters:
        - name: id
          in: path
          description: The MAC OUI profile ID.
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        description: The payload of the update MAC OUI profile request.
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/XiqUpdateRpMacOuiProfileRequest"
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/XiqRpMacOuiProfile"
      security:
        - BearerAuth: []
    delete:
      tags:
        - Configuration - Policy
      summary: Delete MAC OUI profile
      description: Delete the existing MAC OUI profile for radio usage optimization.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_delete_mac_oui_profile_by_id
      operationId: deleteRpMacOuiProfile
      parameters:
        - name: id
          in: path
          description: The MAC OUI profile ID
          required: true
          schema:
            type: integer
            format: int64
      responses:
        "200":
          description: OK
      security:
        - BearerAuth: []
  /radio-profiles/channel-selection/{id}:
    get:
      tags:
        - Configuration - Policy
      summary: Get channel selection settings
      description: Get the channel selection settings belonging to a radio profile.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_get_radio_profile_channel_selection_by_id
      operationId: getRpChannelSelection
      parameters:
        - name: id
          in: path
          description: The channel selection settings ID
          required: true
          schema:
            type: integer
            format: int64
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/XiqRpChannelSelection"
      security:
        - BearerAuth: []
    put:
      tags:
        - Configuration - Policy
      summary: Update channel selection settings
      description: Update the channel selection settings belonging to a radio profile.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_update_radio_profile_channel_selection_by_id
      operationId: updateRpChannelSelection
      parameters:
        - name: id
          in: path
          description: The channel selection settings ID.
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        description: The payload of the update channel selection settings request.
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/XiqUpdateRpChannelSelectionRequest"
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/XiqRpChannelSelection"
      security:
        - BearerAuth: []
  /pcgs/key-based/network-policy-{policyId}/users:
    get:
      tags:
        - Configuration - User Management
      summary: Get users for a PCG-enabled network policy
      description: Get users for a specific PCG-enabled network policy.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_get_key_based_pcg_users_from_given_network_policy_id
      operationId: getKeyBasedPcgUsers
      parameters:
        - name: policyId
          in: path
          description: The network policy ID
          required: true
          schema:
            type: integer
            format: int64
        - name: page
          in: query
          description: Page number
          required: false
          schema:
            minimum: 1
            type: integer
            format: int32
            default: 1
        - name: limit
          in: query
          description: Page Size
          required: false
          schema:
            maximum: 100
            minimum: 1
            type: integer
            format: int32
            default: 10
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PagedXiqKeyBasedPcgUser"
      security:
        - BearerAuth: []
    put:
      tags:
        - Configuration - User Management
      summary: Replace all users in a PCG-enabled network policy
      description: Replace all users in a specific PCG-enabled network policy.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_replace_all_key_based_pcg_users
      operationId: updateKeyBasedPcgUsers
      parameters:
        - name: policyId
          in: path
          description: The network policy ID
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        description: The payload of update Key-based PCG users request
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/XiqUpdateKeyBasedPcgUsersRequest"
        required: true
      responses:
        "202":
          description: Accepted
      security:
        - BearerAuth: []
    post:
      tags:
        - Configuration - User Management
      summary: "[LRO] Add users to a PCG-enabled network policy"
      description: Add users to a PCG-enabled network policy.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_add_key_based_pcg_users_to_an_exists_key_based_pcg
      operationId: addKeyBasedPcgUsers
      parameters:
        - name: policyId
          in: path
          description: The network policy ID
          required: true
          schema:
            type: integer
            format: int64
        - name: async
          in: query
          description: Whether to enable async mode
          required: false
          schema:
            type: boolean
            default: false
      requestBody:
        description: The payload of add users to PCG-enabled network policy
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/XiqCreateKeyBasedPcgUsersRequest"
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/XiqCreateKeyBasedPcgUsersResponse"
      security:
        - BearerAuth: []
    delete:
      tags:
        - Configuration - User Management
      summary: Delete users from a PCG-enabled network policy
      description: Delete users from a PCG-enabled network policy.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_delete_key_based_pcg_users
      operationId: deleteKeyBasedPcgUsers
      parameters:
        - name: policyId
          in: path
          description: The network policy ID
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        description: The payload of delete Key-based PCG users request
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/XiqDeleteKeyBasedPcgUsersRequest"
        required: true
      responses:
        "202":
          description: Accepted
      security:
        - BearerAuth: []
  /ng-reports/scheduled/{reportId}/recipients:
    get:
      tags:
        - NG Reports (Scheduled)
      summary: Get Recipients for Report
      description: Retrieves all recipients for a given report.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_get_recipients_for_report
      operationId: getRecipientsForReport
      parameters:
        - name: reportId
          in: path
          description: The report ID
          required: true
          schema:
            type: integer
            format: int64
        - name: keyword
          in: query
          description: The keyword to search
          required: false
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/XiqRecipientsForReportSchedule"
      security:
        - BearerAuth: []
    put:
      tags:
        - NG Reports (Scheduled)
      summary: Add Recipients to Report
      description: Adds a list of recipient emails to the specified report.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_add_recipients_to_report
      operationId: addRecipientsToReport
      parameters:
        - name: reportId
          in: path
          description: The report ID
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: "#/components/schemas/XiqRecipientCnsInfo"
        required: true
      responses:
        "200":
          description: OK
      security:
        - BearerAuth: []
    post:
      tags:
        - NG Reports (Scheduled)
      summary: Delete Recipients from Report
      description: Deletes a list of recipient emails from the specified report.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_delete_recipients_from_report
      operationId: deleteRecipientsFromReport
      parameters:
        - name: reportId
          in: path
          description: The report ID
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/XiqRecipientIdsRequest"
        required: true
      responses:
        "200":
          description: OK
      security:
        - BearerAuth: []
  /ng-reports/scheduled/custom/{reportId}:
    get:
      tags:
        - NG Reports (Scheduled)
      summary: Get a custom report schedule
      description: Fetch details of a scheduled custom report by its ID.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_get_custom_report_by_id
      operationId: getCustomReportSchedule
      parameters:
        - name: reportId
          in: path
          description: The report ID
          required: true
          schema:
            type: integer
            format: int64
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/XiqCustomReportResponse"
      security:
        - BearerAuth: []
    put:
      tags:
        - NG Reports (Scheduled)
      summary: Update a scheduled custom report
      description: Update an existing scheduled custom report identified by
        reportScheduleId.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_update_scheduled_custom_report
      operationId: updateScheduledCustomReport
      parameters:
        - name: reportId
          in: path
          description: The report ID
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/XiqUpdateCustomReportRequest"
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/XiqCustomReportResponse"
      security:
        - BearerAuth: []
  /network-policies/{id}:
    get:
      tags:
        - Network Policy
      summary: Get the network policy
      description: Get an existing network policy by ID.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_get_network_policy
      operationId: getNetworkPolicy
      parameters:
        - name: id
          in: path
          description: The network policy ID
          required: true
          schema:
            type: integer
            format: int64
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/XiqNetworkPolicy"
      security:
        - BearerAuth: []
    put:
      tags:
        - Network Policy
      summary: Update the network policy
      description: Update network policy by ID.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_update_network_policy
      operationId: updateNetworkPolicy
      parameters:
        - name: id
          in: path
          description: The network policy ID
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        description: The body of update network policy API
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/XiqUpdateNetworkPolicyRequest"
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/XiqNetworkPolicy"
      security:
        - BearerAuth: []
    delete:
      tags:
        - Network Policy
      summary: Delete the network policy
      description: Delete an existing network policy by ID.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_delete_network_policy
      operationId: deleteNetworkPolicy
      parameters:
        - name: id
          in: path
          description: The network policy ID
          required: true
          schema:
            type: integer
            format: int64
      responses:
        "200":
          description: OK
      security:
        - BearerAuth: []
  /mac-object-profiles/{id}:
    get:
      tags:
        - Configuration - Policy
      summary: Get MAC Object by ID
      description: Get an existing MAC object by the specified ID.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_get_mac_object_by_id
      operationId: getMacObject
      parameters:
        - name: id
          in: path
          description: The MAC Object ID
          required: true
          schema:
            type: integer
            format: int64
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/XiqMacObject"
      security:
        - BearerAuth: []
    put:
      tags:
        - Configuration - Policy
      summary: Update MAC Object by ID
      description: Update an existing MAC object by the specified ID.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_update_mac_object_by_id
      operationId: updateMacObject
      parameters:
        - name: id
          in: path
          description: The MAC Object ID.
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        description: The payload of the update MAC Object request.
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/XiqUpdateMacObjectRequest"
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/XiqMacObject"
      security:
        - BearerAuth: []
    delete:
      tags:
        - Configuration - Policy
      summary: Delete a MAC object by ID
      description: Delete an existing MAC object by the specified ID.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_delete_mac_object_by_id
      operationId: deleteMacObjectProfiles
      parameters:
        - name: id
          in: path
          description: The Mac object ID
          required: true
          schema:
            type: integer
            format: int64
      responses:
        "200":
          description: OK
      security:
        - BearerAuth: []
  /mac-firewall-policies/{id}:
    get:
      tags:
        - Configuration - Policy
      summary: Get MAC Firewall Policy by ID
      description: Get an existing MAC Firewall policy by the specified ID.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_get_mac_firewall_policy_by_id
      operationId: getMacFirewallPolicy
      parameters:
        - name: id
          in: path
          description: The MAC firewall policy ID
          required: true
          schema:
            type: integer
            format: int64
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/XiqMacFirewall"
      security:
        - BearerAuth: []
    put:
      tags:
        - Configuration - Policy
      summary: Update MAC Firewall policy by ID
      description: Update an existing MAC Firewall policy by the specified ID.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_update_mac_firewall_policy_by_id
      operationId: updateMacFirewallPolicy
      parameters:
        - name: id
          in: path
          description: The MAC Firewall Policy ID.
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        description: The payload of the update MAC Firewall policy request.
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/XiqMacFirewallPolicyRequest"
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/XiqMacFirewall"
      security:
        - BearerAuth: []
    delete:
      tags:
        - Configuration - Policy
      summary: Delete MAC Firewall policy by ID
      description: Delete an existing MAC Firewall policy by the specified ID.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_delete_mac_firewall_policy_by_id
      operationId: deleteMacFirewallPolicy
      parameters:
        - name: id
          in: path
          description: The MAC Firewall Policy ID
          required: true
          schema:
            type: integer
            format: int64
      responses:
        "200":
          description: OK
      security:
        - BearerAuth: []
  /locations/{id}:
    put:
      tags:
        - Location
      summary: Update a location
      description: Update a location information with the specified location ID.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_update_location
      operationId: updateLocation
      parameters:
        - name: id
          in: path
          description: The location ID
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        description: Update location request body
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/XiqUpdateLocationRequest"
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/XiqLocation"
      security:
        - BearerAuth: []
    delete:
      tags:
        - Location
      summary: Delete a location by ID
      description: Delete a location for the specified ID.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_delete_location
      operationId: deleteLocation
      parameters:
        - name: id
          in: path
          description: The location ID
          required: true
          schema:
            type: integer
            format: int64
        - name: force_delete
          in: query
          description: Force deletion of this location and its descendants recursively
          required: false
          schema:
            type: boolean
            default: false
      responses:
        "200":
          description: OK
      security:
        - BearerAuth: []
  /locations/wall/type/{id}:
    put:
      tags:
        - Location
      summary: Update a wall type
      description: Update the custom wall type with the specified ID.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_update_wall_type
      operationId: updateWallType
      parameters:
        - name: id
          in: path
          description: The Wall Type ID
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        description: Update wall type request body
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/XiqUpdateTypeRequest"
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/XiqWallType"
      security:
        - BearerAuth: []
    delete:
      tags:
        - Location
      summary: Delete a wall type
      description: Delete a wall type for the specified ID.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_delete_wall_type
      operationId: deleteWallType
      parameters:
        - name: id
          in: path
          description: The Wall Type ID
          required: true
          schema:
            type: integer
            format: int64
      responses:
        "204":
          description: No Content
      security:
        - BearerAuth: []
  /locations/site/{id}:
    get:
      tags:
        - Location
      summary: Get a site by ID
      description: Get a site for the specified ID.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_get_site
      operationId: getSite
      parameters:
        - name: id
          in: path
          description: The site ID
          required: true
          schema:
            type: integer
            format: int64
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/XiqSite"
      security:
        - BearerAuth: []
    put:
      tags:
        - Location
      summary: Update a site by ID
      description: Update a site for the specified ID.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_update_site
      operationId: updateSite
      parameters:
        - name: id
          in: path
          description: The site ID
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        description: Update site request body
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/XiqUpdateSiteRequest"
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/XiqSite"
      security:
        - BearerAuth: []
    delete:
      tags:
        - Location
      summary: Delete a site by ID
      description: Delete a site for the specified ID.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_delete_site
      operationId: deleteSite
      parameters:
        - name: id
          in: path
          description: The site ID
          required: true
          schema:
            type: integer
            format: int64
        - name: force_delete
          in: query
          description: Force deletion of this site and its descendants recursively
          required: false
          schema:
            type: boolean
            default: false
      responses:
        "200":
          description: OK
      security:
        - BearerAuth: []
  /locations/folder/zones:
    put:
      tags:
        - Location
      summary: Update zones in folder
      description: Update zones for the specified folder ID.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_update_zones
      operationId: updateZones
      requestBody:
        description: Update zones request body
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/XiqUpdateZonesRequest"
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/XiqZone"
      security:
        - BearerAuth: []
    post:
      tags:
        - Location
      summary: Create a zone
      description: Create a zone.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_create_zone
      operationId: createZone
      requestBody:
        description: Create zone
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/XiqCreateZoneRequest"
        required: true
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/XiqZone"
      security:
        - BearerAuth: []
  /locations/floor/{id}:
    get:
      tags:
        - Location
      summary: Get a floor by ID
      description: Get the floor for the specified ID.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_get_floor
      operationId: getFloor
      parameters:
        - name: id
          in: path
          description: The floor ID
          required: true
          schema:
            type: integer
            format: int64
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/XiqFloor"
      security:
        - BearerAuth: []
    put:
      tags:
        - Location
      summary: Update a floor
      description: Update a floor information with the floor ID.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_update_floor
      operationId: updateFloor
      parameters:
        - name: id
          in: path
          description: The floor ID.
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        description: Update floor request body
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/XiqUpdateFloorRequest"
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/XiqFloor"
      security:
        - BearerAuth: []
    delete:
      tags:
        - Location
      summary: Delete a floor by ID
      description: Delete a floor for the specified ID.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_delete_floor
      operationId: deleteFloor
      parameters:
        - name: id
          in: path
          description: The floor ID
          required: true
          schema:
            type: integer
            format: int64
      responses:
        "200":
          description: OK
      security:
        - BearerAuth: []
  /locations/floor/{floorId}/label:
    get:
      tags:
        - Location
      summary: Find all floor map labels referencing the floor
      description: Finds all labels referencing the floor given by its id.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_find_all_labels
      operationId: getFloorMapLabels
      parameters:
        - name: floorId
          in: path
          description: The Floor ID
          required: true
          schema:
            type: integer
            format: int64
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/XiqFloorMapLabel"
      security:
        - BearerAuth: []
    put:
      tags:
        - Location
      summary: Updates one floor map label.
      description: Updates one floor map label which references the floor given by its id.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_update_one_label
      operationId: updateFloorMapLabel
      parameters:
        - name: floorId
          in: path
          description: The Floor ID
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/XiqFloorMapLabel"
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/XiqFloorMapLabel"
      security:
        - BearerAuth: []
    post:
      tags:
        - Location
      summary: Creates one floor map label.
      description: Creates one floor map label which references the floor given by its id.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_create_one_label
      operationId: createFloorMapLabel
      parameters:
        - name: floorId
          in: path
          description: The Floor ID
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/XiqFloorMapLabel"
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/XiqFloorMapLabel"
      security:
        - BearerAuth: []
  /locations/floor/bulk/label:
    put:
      tags:
        - Location
      summary: Updates one ore more floor map labels.
      description: Updates one or more floor map labels.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_update_one_or_more_labels
      operationId: bulkUpdateFloorMapLabels
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: "#/components/schemas/XiqFloorMapLabel"
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/XiqFloorMapLabel"
      security:
        - BearerAuth: []
  /locations/building/{id}:
    get:
      tags:
        - Location
      summary: Get a building by ID
      description: Get the building for the specified ID.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_get_building
      operationId: getBuilding
      parameters:
        - name: id
          in: path
          description: The building ID
          required: true
          schema:
            type: integer
            format: int64
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/XiqBuilding"
      security:
        - BearerAuth: []
    put:
      tags:
        - Location
      summary: Update a building
      description: Update a building information with the building ID.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_update_building
      operationId: updateBuilding
      parameters:
        - name: id
          in: path
          description: The building ID
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        description: Update building request body
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/XiqUpdateBuildingRequest"
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/XiqBuilding"
      security:
        - BearerAuth: []
    delete:
      tags:
        - Location
      summary: Delete a building by ID
      description: Delete a building for the specified ID.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_delete_building
      operationId: deleteBuilding
      parameters:
        - name: id
          in: path
          description: The building ID
          required: true
          schema:
            type: integer
            format: int64
        - name: force_delete
          in: query
          description: Force deletion of this building and its descendants recursively
          required: false
          schema:
            type: boolean
            default: false
      responses:
        "200":
          description: OK
      security:
        - BearerAuth: []
  /ldap-servers/{id}:
    get:
      tags:
        - Configuration - Authentication
      summary: Get LDAP server by ID
      description: Get a specific LDAP server by ID.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_get_ldap_server
      operationId: getLdapServer
      parameters:
        - name: id
          in: path
          description: "The LDAP server "
          required: true
          schema:
            type: integer
            format: int64
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/XiqLdapServer"
      security:
        - BearerAuth: []
    put:
      tags:
        - Configuration - Authentication
      summary: Update LDAP server configuration
      description: Update configuration for a specific LDAP server.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_update_ldap_server
      operationId: updateLdapServer
      parameters:
        - name: id
          in: path
          description: The LDAP server ID.
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        description: The body of update LDAP server API
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/XiqUpdateLdapServerRequest"
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/XiqLdapServer"
      security:
        - BearerAuth: []
    delete:
      tags:
        - Configuration - Authentication
      summary: Delete a LDAP server
      description: Delete a specific LDAP server by ID.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_delete_ldap_server
      operationId: deleteLdapServer
      parameters:
        - name: id
          in: path
          description: The LDAP server ID
          required: true
          schema:
            type: integer
            format: int64
      responses:
        "200":
          description: OK
      security:
        - BearerAuth: []
  /l3-address-profiles/{id}:
    get:
      tags:
        - Configuration - Policy
      summary: Get a L3 address profile by ID
      description: Get L3 address profile details for the specified ID.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_get_l3_address_profile_by_id
      operationId: getL3AddressProfile
      parameters:
        - name: id
          in: path
          description: The L3 address profile ID
          required: true
          schema:
            type: integer
            format: int64
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/XiqL3AddressProfileResponse"
      security:
        - BearerAuth: []
    put:
      tags:
        - Configuration - Policy
      summary: Update a L3 address profile
      description: Update an existing address profile.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_update_l3_address_profile
      operationId: updateL3AddressProfile
      parameters:
        - name: id
          in: path
          description: The L3 address profile ID.
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        description: The payload of L3 address profile.
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/XiqUpdateL3AddressProfileRequest"
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/XiqL3AddressProfileResponse"
      security:
        - BearerAuth: []
    delete:
      tags:
        - Configuration - Policy
      summary: Delete a L3 address profile by ID
      description: Delete an existing L3 address profile by ID.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_delete_l3_address_profile
      operationId: deleteL3AddressProfile
      parameters:
        - name: id
          in: path
          description: The L3 address profile ID
          required: true
          schema:
            type: integer
            format: int64
      responses:
        "200":
          description: OK
      security:
        - BearerAuth: []
  /ip-firewall-policies/{id}:
    get:
      tags:
        - Configuration - Policy
      summary: Get IP Firewall Policy by ID
      description: Get an existing IP Firewall policy by the specified ID.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_get_ip_firewall_policy_by_id
      operationId: getIpFirewallPolicy
      parameters:
        - name: id
          in: path
          description: The ip firewall policy ID
          required: true
          schema:
            type: integer
            format: int64
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/XiqIpFirewall"
      security:
        - BearerAuth: []
    put:
      tags:
        - Configuration - Policy
      summary: Update IP Firewall policy by ID
      description: Update an existing IP Firewall policy by the specified ID.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_update_ip_firewall_policy_by_id
      operationId: updateIpPolicyRequest
      parameters:
        - name: id
          in: path
          description: The Ip Firewall Policy ID.
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        description: The payload of the update IP Firewall policy request.
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/XiqIpFirewallPolicyRequest"
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/XiqIpFirewall"
      security:
        - BearerAuth: []
    delete:
      tags:
        - Configuration - Policy
      summary: Delete IP Firewall policy by ID
      description: Delete an existing IP Firewall policy by the specified ID.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_delete_ip_firewall_policy_by_id
      operationId: deleteIpFirewallPolicy
      parameters:
        - name: id
          in: path
          description: The Ip Firewall Policy ID
          required: true
          schema:
            type: integer
            format: int64
      responses:
        "200":
          description: OK
      security:
        - BearerAuth: []
  /iot-profiles/{id}:
    get:
      tags:
        - Configuration - Policy
      summary: Get IoT profile by ID
      description: Get IoT profile details for the specified ID.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_get_iot_profile_by_id
      operationId: getIotProfile
      parameters:
        - name: id
          in: path
          description: The IoT profile ID
          required: true
          schema:
            type: integer
            format: int64
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/XiqIotProfile"
      security:
        - BearerAuth: []
    put:
      tags:
        - Configuration - Policy
      summary: Update IoT profile by ID
      description: Update the existing IoT profile by the profile ID.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_update_iot_profile_configuration
      operationId: updateIotProfile
      parameters:
        - name: id
          in: path
          description: The IoT profile ID.
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        description: The payload of the update IoT profile request.
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/XiqIotProfileRequest"
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/XiqIotProfile"
      security:
        - BearerAuth: []
    delete:
      tags:
        - Configuration - Policy
      summary: Delete IoT profile by ID
      description: Delete the existing IoT profile by the profile ID.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_delete_iot_profile_configuration
      operationId: deleteIotProfile
      parameters:
        - name: id
          in: path
          description: The IoT profile ID
          required: true
          schema:
            type: integer
            format: int64
      responses:
        "200":
          description: OK
      security:
        - BearerAuth: []
  /hotspot-service-provider-profiles/{id}:
    get:
      tags:
        - Configuration - Policy
      summary: Get Hotspot Service Provider profile by ID
      description: Get Hotspot Service Provider profile details for the specified ID.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_get_hotspot_profile_by_id
      operationId: getHotspotServiceProviderProfile
      parameters:
        - name: id
          in: path
          description: The Hotspot Service Provider profile ID
          required: true
          schema:
            type: integer
            format: int64
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/XiqHotspotServiceProviderProfile"
      security:
        - BearerAuth: []
    put:
      tags:
        - Configuration - Policy
      summary: Update Hotspot Service Provider profile by ID
      description: Update the existing Hotspot Service Provider profile by the profile ID.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_update_hotspot_profile_configuration
      operationId: updateHotspotServiceProviderProfile
      parameters:
        - name: id
          in: path
          description: The Hotspot Service Provider profile ID.
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        description: The payload of the update Hotspot Service Provider profile request.
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/XiqHotspotServiceProviderProfileRequest"
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/XiqHotspotServiceProviderProfile"
      security:
        - BearerAuth: []
    delete:
      tags:
        - Configuration - Policy
      summary: Delete Hotspot Service Provider profile by ID
      description: Delete the existing Hotspot Service Provider profile by the profile ID.
      externalDocs:
        description: API Reference
        url: https://extremecloudiq.com/api-docs/api-reference.html#_delete_hotspot_profile_configuration
      operationId: deleteHotspotServiceProviderProfile
      parameters:
        - name: id
          in: path
          description: The Hotspot Service Provider profile ID
          required: true
          schema:
            type: integer
[...]
